<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="mn" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="cleartype" content="on" />
	<link rel="shortcut icon" type="image/png" href="#{applicationController.path}images/icon_02-360x360.png"/>
	<!-- 
	<link rel="stylesheet" href="#{applicationController.cssPath}default.css" />
	<link rel="stylesheet" href="#{applicationController.cssPath}main_template.css" />
	 -->
	<!-- begin -->
	<link
		href="#{applicationController.path}bootstrap/css/bootstrap.min.css"
		rel="stylesheet" type="text/css" />
	<link href="#{applicationController.path}css/fa/css/font-awesome.css"
		rel="stylesheet" type="text/css" />
	<link href="#{applicationController.path}css/ionicons.css"
		rel="stylesheet" type="text/css" />
	<link href="#{applicationController.path}css/style.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{applicationController.path}plugins/fullcalendar/fullcalendar.min.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{applicationController.path}plugins/fullcalendar/fullcalendar.print.css"
		rel="stylesheet" type="text/css" media='print' />
	<link href="#{applicationController.path}dist/css/AdminLTE.min.css"
		rel="stylesheet" type="text/css" />
	<link
		href="#{applicationController.path}dist/css/skins/_all-skins.min.css"
		rel="stylesheet" type="text/css" />
	<script
		src="#{applicationController.path}bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="#{applicationController.path}js/jquery-ui.min.js"
		type="text/javascript"></script>
	<script
		src="#{applicationController.path}plugins/slimScroll/jquery.slimscroll.min.js"
		type="text/javascript"></script>
	<script
		src='#{applicationController.path}plugins/fastclick/fastclick.min.js'></script>
	<script src="#{applicationController.path}dist/js/app.min.js"
		type="text/javascript"></script>
	<script src="#{applicationController.path}dist/js/demo.js"
		type="text/javascript"></script>
	<script src="#{applicationController.path}js/moment.min.js"
		type="text/javascript"></script>
	<script
		src="#{applicationController.path}plugins/fullcalendar/fullcalendar.min.js"
		type="text/javascript"></script>
		
		<link  href="#{applicationController.path}Source/css/MooDialog.css" rel="stylesheet" />
    <script src="#{applicationController.path}Source/mootools-core.js"></script>
	<script src="#{applicationController.path}Source/Overlay.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.Fx.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.Alert.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.Confirm.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.Error.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.Prompt.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.IFrame.js"></script>
	<script src="#{applicationController.path}Source/MooDialog.Request.js"></script>
		
		
	<!-- end -->
	<title>Pharmacy</title>
</h:head>
<ui:insert name="event" />
<h:body styleClass="login-page">
	<h:form id="form">
		<p:growl id="message" showDetail="true" sticky="true" />
		<div class="login-box login-box-style">
			<div class="login-logo" style="padding-top: 25px;">
				<img src="resource/images/meditm-banner-800x.png" width="300" />
			</div>
			<div class="login-box-body">
				<div class="form-group has-feedback">
					<p:inputText value="#{userController.loggedInfo.username}" placeholder="Нэвтрэх нэр"
						styleClass="input-icon" style="width: 100%;">
					</p:inputText>
					<span class="glyphicon glyphicon-user form-control-feedback"></span>
				</div>
				<div class="form-group has-feedback">
					<p:password value="#{userController.loggedInfo.password}" placeholder="Нууц үг" 
						styleClass="input-icon" style="width: 100%;">
					</p:password>
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
				</div>	
				<div class="row">
					<div class="col-xs-12 text-right">
<!-- 						<p:commandLink ajax="true" update="message" styleClass="medit-btn medit-btn-primary ripplelink"  -->
<!-- 							onclick="PF('licenseUpload').show()"> -->
<!-- 							<i class="fa fa-fw fa-sign-in"/> Upload -->
<!-- 						</p:commandLink> -->
						<p:commandLink ajax="true" update="message" styleClass="btn" 
						action="#{userController.login}">
							<i class="fa fa-fw fa-sign-in"/> Нэвтрэх
						</p:commandLink>
					</div>
				</div>
			</div>
		</div>
		<p:dialog widgetVar="licenseUpload" header="Эрх сунгах" modal="true" 
				styleClass="dialog-scroll" resizable="false" width="500" height="300">
			<div class="container-fluid">
				<div class="row">
					<p:fileUpload fileUploadListener="#{userController.licenseUpload}" mode="advanced" dragDropSupport="true"
           					sizeLimit="5000" fileLimit="3" allowTypes="/(\.|\/)(txt)$/">
					</p:fileUpload>
				</div>
			</div>
		</p:dialog>
		<p:remoteCommand name="showMessage" update="showMessage" />
		<p:panel id="showMessage" style="display:none;">
			<script>
		//<![CDATA[
			$('document').ready(function(){
				updateMessage();
			});
			
			function updateMessage(){
				var message = '#{userController.showMessage}';
				var warningmessage = '#{userController.warningMessage}';
				var errormessage = '#{userController.errorMessage}';
				
				if(message != '') new MooDialog.Prompt(message);
				if(warningmessage != '') {
					new MooDialog.Alert(warningmessage,{
						title: 'Анхааруулга',
						onInitialize: function(wrapper){
							wrapper.setStyle('opacity', 0);
							this.fx = new Fx.Morph(wrapper, {
								duration: 600,
								transition: Fx.Transitions.Bounce.easeOut
							});
							this.overlay = new Overlay(this.options.inject, {
								duration: this.options.duration
							});
							if (this.options.closeOnOverlayClick) this.overlay.addEvent('click', this.close.bind(this));
						},
						onBeforeOpen: function(){
							this.overlay.open();
							this.fx.start({
								'margin-top': [-200, -100],
								opacity: [0, 1]
							}).chain(function(){
								this.fireEvent('show');
							}.bind(this));
						},
						onBeforeClose: function(){
							this.fx.start({
								'margin-top': [-100, 0],
								opacity: 0
							}).chain(function(){
								this.fireEvent('hide');
							}.bind(this));
							this.overlay.close();
						},
						okText: 'Хаах'
					});
				}
				if(errormessage != '') new MooDialog.Error(errormessage);
			}
			//]]>
		</script>
		</p:panel>
	</h:form>
<script>
	//<![CDATA[
	$('body').on('keydown', 'input, select, textarea', function(e) {
	    var self = $(this)
	      , form = self.parents('form:eq(0)')
	      , focusable
	      , next
	      ;
	    if (e.keyCode == 13) {
	        focusable = form.find('input,a,select,button,textarea').filter(':visible');
	        next = focusable.eq(focusable.index(this)+1);
	        if (next.length) {
	            next.focus();
	        } else {
	            form.submit();
	        }
	        return false;
	    }
	});
	//]]>
</script>
</h:body>
</html>