<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1></h1>
		</section>
		<section class="content">
			<p:remoteCommand name="selectDbRowMail" update="form:title form:note" action="#{crmController.selectRowMail(crmController.selectedMail)}" />
			<div class="col-md-8" >
				<p:fieldset legend="Имэйл мессеж" toggleSpeed="100" styleClass="margin-bottom" style="margin-top:10px; height: 350px; overflow-y: scroll;">
					<div class="row">
						<div class="col-md-1">
							<p:outputLabel value="Гарчиг : " />
						</div>
						<div class="col-md-4">
							<p:inputText value="#{crmController.titleSearch}" />
						</div>
						<div class="col-md-1">
							<p:outputLabel value="Агуулга : " />
						</div>
						<div class="col-md-4">
							<p:inputText value="#{crmController.valueSearch}" />
						</div>
						<div class="col-md-1">
							<p:commandLink styleClass="btn" action="#{crmController.getMailInfoList()}" update=":form:mailInfo" ><i class="fa fa-search"></i> Хайх</p:commandLink>
						</div>
					</div>
					<div style="margin-top:10px; ">
						<p:dataTable id="mailInfo" styleClass="myTable mailInfo" value="#{crmController.listMailInfo}" var="info" rowIndexVar="index" emptyMessage="Хоосон байна" 
						selection="#{crmController.selectedMail}" selectionMode="single" rowKey="#{info.pkId}" >
							<p:ajax event="rowDblselect" onstart="selectDbRowMail();"  />
								<p:column styleClass="text" headerText="№">
									#{index + 1}
								</p:column>
								<p:column styleClass="text" headerText="Төрөл">
									#{info.channelType}
								</p:column>
								<p:column styleClass="text" headerText="Код">
									#{info.id}
								</p:column>
								<p:column styleClass="text" headerText="Гарчиг">
									#{info.title}
								</p:column>
								<p:column styleClass="text" headerText="Мэйлийн утга">
									#{info.note}
								</p:column>
								<p:column styleClass="text" headerText="Идэвхитэй эсэх">
									#{info.activeStr}
								</p:column>
						</p:dataTable>
					</div>
				</p:fieldset>
				<p:fieldset legend="Имэйл илгээх" toggleSpeed="100" styleClass="margin-bottom" style="margin-top:10px; height: 300px; overflow-y: scroll;">
					<div class="row">
						<div class="col-md-3">
							<p:outputLabel value="Гарчиг : " />
						</div>
						<div class="col-md-9">
							<p:inputText id="title" styleClass="title" value="#{crmController.titleSend}" style="width:100%;" />
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-3">
							<p:outputLabel value="Илгээгчийн И-мэйл : " />
						</div>
						<div class="col-md-9">
							<p:inputText value="ac.milan_lp@yahoo.com" disabled="true" style="width:100%;" />
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-3">
							<p:outputLabel value="Агуулга : " />
						</div>
						<div class="col-md-9">
							<p:inputTextarea id="note" styleClass="note" value="#{crmController.noteSend}" style="width:100%;" />
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-md-10">
						</div>
						<div class="col-md-2">
							<p:commandLink styleClass="btn" action="#{crmController.mailSendFromList()}" ><i class="fa fa-envelope-o" /> Илгээх</p:commandLink>
						</div>
					</div>
				</p:fieldset>
			</div>
			<div class="col-md-4" >
				<p:fieldset legend="Имэйл илгээх" toggleSpeed="100" styleClass="margin-bottom" style="margin-top:10px; height: 650px; overflow-y: scroll;" >
						<p:dataTable id="customerInfo" styleClass="myTable customerInfo" value="#{crmController.listCusMailSms}" var="info" rowIndexVar="index" emptyMessage="Хоосон байна" style="width:100%;" >
							<p:column styleClass="text" headerText="№">
								#{index + 1}
							</p:column>
							<p:column styleClass="text" headerText="Нэр">
								#{info.firstName}
							</p:column>
							<p:column styleClass="text" headerText="Имэйл">
								#{info.email}
							</p:column>
							<p:column>
								<p:commandLink process="@this" update="@(.customerInfo)" styleClass="fa fa-times color-red" action="#{crmController.deleteMailCustomer(info)}"></p:commandLink>
							</p:column>
						</p:dataTable>
				</p:fieldset>
				<p:commandLink styleClass="btn" action="#{crmController.addSelectCustomer()}"><i class="fa fa-plus" /> Нэмэх</p:commandLink>
			</div>
			<p:dialog id="selectCustomer" widgetVar="selectCustomer" closeOnEscape="true" header="Эмчлүүлэгчдийн жагсаалт" height="500" width="500" modal="true" >
				<div class="col-md-12">
					<p:dataTable id="customerList" emptyMessage="Хоосон байна" value="#{crmController.listCustomer}" styleClass="myTable customerList" var="info" rowIndexVar="index" rowKey="#{info.pkId}" 
					selectionMode="multiple" selection="#{crmController.selectedMailCustomer}" >
						<p:column styleClass="text" headerText="№">
							#{index + 1}
						</p:column>
						<p:column styleClass="text" headerText="Регистр">
							#{info.customer.regNumber}
						</p:column>
						<p:column styleClass="text" headerText="Овог">
							#{info.customer.lastName}
						</p:column>
						<p:column styleClass="text" headerText="Нэр">
							#{info.customer.firstName}
						</p:column>
						<p:column styleClass="text" headerText="Имэйл">
							#{info.customer.email}
						</p:column>
					</p:dataTable>
					<p:commandLink styleClass="btn" action="#{crmController.selectAllCustomer()}" ><i class="fa fa-check" /> Сонгох</p:commandLink>
				</div>
			</p:dialog>
			<p:remoteCommand name="getMailList" action="#{crmController.getMailInfoList()}" update=":form:mailInfo" />
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(
					function() {
						getMailList();
								});
		//]]>
		</script>
	</ui:define>
</ui:composition>