<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Касс</h1>
		<ol class="breadcrumb">
			<li class="active">Эмчилгээ</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="row">
					<div class="col-md-12">
						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:cardNumber">#{i18n['card_number']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<p:inputText styleClass="form-control lastname" style="min-width: 100%;" id="reg" value="#{crmController.currentCustomer.customer.cardNumber}" />
								<p:overlayPanel id="moviePanel" for="reg" hideEffect="fade" dynamic="true" style="width:600px">
									<p:dataTable id="fillTable" emptyMessage="Үйлчлүүлэгч бүртгээгүй байна." value="#{applicationController.lazyCustomerList1}" lazy="true" var="cus" selectionMode="single" selection="#{crmController.selectedCustomer}" rowKey="#{cus.pkId}" widgetVar="fillTable" rows="6" paginator="true" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
										<p:ajax event="rowSelect" update=":form:reg :form:clanName :form:lastName :form:firstName :form:regNumber :form:phone :form:telePhone :form:email :form:address :form:gender" />
										<p:column filterBy="#{cus.cardNumber}" filterStyleClass="form-control" headerText="Карт">#{cus.cardNumber}</p:column>
										<p:column filterBy="#{cus.firstName}" filterStyleClass="form-control" headerText="Нэр">#{cus.firstName}</p:column>
										<p:column filterBy="#{cus.regNumber}" filterStyleClass="form-control" headerText="Регистрын дугаар">#{cus.regNumber}</p:column>
										<p:column filterBy="#{cus.phoneNumber}" filterStyleClass="form-control" headerText="Утас">#{cus.phoneNumber}</p:column>
									</p:dataTable>
								</p:overlayPanel>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:clanName">#{i18n['family_name']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<p:inputText id="clanName" name="clanName" disabled="true"
									value="#{crmController.currentCustomer.customer.clanName}"
									style="min-width: 100%;" />
							</div>
						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" class="label-asterisk" for="form:lastName">#{i18n['last_name']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<label style="min-width: 100%;"> <p:inputText
										id="lastName" name="lastName" disabled="true"
										value="#{crmController.currentCustomer.customer.lastName}"
										style="min-width: 100%;" />
								</label>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" class="label-asterisk" for="form:firstName">#{i18n['first_name']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="firstName" name="firstName" disabled="true"
									value="#{crmController.currentCustomer.customer.firstName}"
									style="min-width: 100%;" />
							</div>
						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:regNumber">#{i18n['register_number']}:</label>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="regNumber" name="regNumber" disabled="true"
									value="#{crmController.currentCustomer.customer.regNumber}"
									style="min-width: 100%;" maxlength="10">
									<p:ajax event="change"
										update="form:gender form:regNumber" />
								</p:inputText>
								
							</div>

							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:outputLabel id="gender"
									value="#{crmController.currentCustomer.customer.age} нас #{crmController.currentCustomer.customer.month} сар / #{crmController.currentCustomer.customer.genderString}"></p:outputLabel>
							</div>

						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" class="label-asterisk" for="form:phone">#{i18n['phone']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText styleClass="number-control" id="phone" name="phone" disabled="true"
									value="#{crmController.currentCustomer.customer.phoneNumber}"
									style="min-width: 100%;" />
							</div>
							
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" >Гэрийн утас:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText styleClass="number-control" disabled="true" id="telePhone" name="telePhone"
									value="#{crmController.currentCustomer.customer.telePhone}"
									style="min-width: 100%;" />
							</div>

						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:email">#{i18n['mail']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="email" name="email" disabled="true"
									value="#{crmController.currentCustomer.customer.email}" />
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:email">Гэрийн хаяг:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="address" name="address" disabled="true"
									value="#{crmController.currentCustomer.customer.address}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p:fieldset legend="Нэмэлт мэдээлэл" toggleSpeed="100"
					styleClass="margin-bottom">
					<div class="row flex-container">
						<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
							<label style="" for="form:weddingStatus">Гэрлэлтийн байдал:</label>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu id="weddingStatus" value="#{crmController.currentCustomer.weddingStatus}" style="width: 100%;" >
								<p:ajax event="change" />
								<f:selectItem itemLabel="Гэрлэсэн" itemValue="Wedding"></f:selectItem>
								<f:selectItem itemLabel="Гэрлээгүй" itemValue="NotWedding"></f:selectItem>
							</p:selectOneMenu>
						</div>
						<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
							<label style="" for="form:bloodType">Цусны бүлэг:</label>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu id="bloodType" value="#{crmController.currentCustomer.bloodType}" style="width: 100%;" >
								<p:ajax event="change" />
								<f:selectItem itemLabel="А" itemValue="2"></f:selectItem>
								<f:selectItem itemLabel="В" itemValue="3"></f:selectItem>
								<f:selectItem itemLabel="АВ" itemValue="4"></f:selectItem>
								<f:selectItem itemLabel="0" itemValue="1"></f:selectItem>
							</p:selectOneMenu>
						</div>
						<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
							<label style="" for="form:bloodType">Даатгал :</label>
						</div>
						<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu id="insuranceInfo" value="#{crmController.currentCustomer.insuranceInfo}" style="width: 100%;" >
								<p:ajax event="change" />
								<f:selectItem itemLabel="Даатгалтай" itemValue="insurance"></f:selectItem>
								<f:selectItem itemLabel="Даатгалгүй" itemValue="notInsurance"></f:selectItem>
							</p:selectOneMenu>
						</div>
					</div>
					<div class="row flex-container">
						<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
							<p:selectBooleanCheckbox id="info" widgetVar="info" value="#{crmController.currentCustomer.infoCheck}" itemLabel="Мэдээлэл авах" >
								<p:ajax event="change" process="@this" update=":form:emailCheck :form:sms :form:sns :form:dm"></p:ajax>
							</p:selectBooleanCheckbox>
						</div>
						<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
							<p:selectBooleanCheckbox id="emailCheck" value="#{crmController.currentCustomer.mailCheck}" itemLabel="И-мэйл" widgetVar="emailCheck"  >
								<p:ajax event="change" process="@this" update=":form:emailCheck" ></p:ajax>
							</p:selectBooleanCheckbox>
						</div>
						<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
							<p:selectBooleanCheckbox id="sms" value="#{crmController.currentCustomer.smsCheck}" itemLabel="SMS" widgetVar="sms" >
								<p:ajax event="change" process="@this" update=":form:sms" ></p:ajax>
							</p:selectBooleanCheckbox>
						</div>
						<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
							<p:selectBooleanCheckbox id="sns" value="#{crmController.currentCustomer.snsCheck}" itemLabel="SNS" widgetVar="sns" >
								<p:ajax event="change" process="@this" update=":form:sns" ></p:ajax>
							</p:selectBooleanCheckbox>
						</div>
						<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
							<p:selectBooleanCheckbox id="dm" value="#{crmController.currentCustomer.dmCheck}" itemLabel="DM" widgetVar="dm" >
								<p:ajax event="change" process="@this" update=":form:dm" ></p:ajax>
							</p:selectBooleanCheckbox>
						</div>
					</div>
					<div class="row flex-container">
						<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
							<label style="" for="form:lifeCategory">Зэрэглэл:</label>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu id="lifeCategory" value="#{crmController.currentCustomer.lifeCategory}" style="width: 100%;" >
								<p:ajax event="change" />
								<f:selectItem itemLabel="VIP" itemValue="Vip"></f:selectItem>
								<f:selectItem itemLabel="Энгийн" itemValue="General"></f:selectItem>
								<f:selectItem itemLabel="Эмзэг бүлэг" itemValue="Vulnerable"></f:selectItem>
							</p:selectOneMenu>
						</div>
						<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
							<label style="" for="form:lifeCategory">Хяналттай эсэх:</label>
						</div>
						<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
							<p:selectOneMenu id="controlType" value="#{crmController.currentCustomer.controlType}" style="width: 100%;" >
								<p:ajax event="change" />
								<f:selectItem itemLabel="Хяналттай" itemValue="Control"></f:selectItem>
								<f:selectItem itemLabel="Хяналтгүй" itemValue="NotControl"></f:selectItem>
							</p:selectOneMenu>
						</div>
					</div>
				</p:fieldset>
			</div>
		</div>
		<div class="row">
			<div class="col-md-9"></div>
			<div class="col-md-3 text-right">
				<p:commandLink action="#{crmController.saveCustomer}" process="@this form:bloodType form:weddingStatus form:controlType form:lifeCategory"
					styleClass="btn" update="form:message" onclick="showLoader();" onerror="hideLoader();" oncomplete="hideLoader();" onsuccess="hideLoader();" >
					<i class="glyphicon glyphicon-ok" /> #{i18n['save']}
				</p:commandLink>
			</div>
		</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[    
			//data-inputmask=""mask": "(999) 999-9999""
			document.getElementById('form:regNumber').setAttribute(
					"data-inputmask", "\"mask\": \"aa99999999\"");
			document.getElementById('form:regNumber').setAttribute("data-mask",
					"");

			$("[data-mask]").inputmask();

			function checkBoxChange()
			{
				if(document.getElementById('form:info_input').checked == true)
				{
					alert('1');
					document.getElementById('form:emailCheck_input').enabled = false;
					document.getElementById('form:sms_input').disabled = false;
					document.getElementById('form:sns_input').disabled = false;
					document.getElementById('form:dm_input').disabled = false;
				}
				else
				{
					document.getElementById('form:emailCheck_input').disabled = true;
					document.getElementById('form:sms_input').disabled = true;
					document.getElementById('form:sns_input').disabled = true;
					document.getElementById('form:dm_input').disabled = true;
				}
			}

			$(document)
					.ready(
							function() {
								$("input[id*='birthDate_input']").mask(
										'9999-99-99');

							});

			$(document)
					.ready(
							function() {
								$('input').on(
										'blur',
										function() {
											if ($("#form").valid()) {
												$(".submit").prop('disabled',
														false);
											} else {
												$(".submit").prop('disabled',
														'disabled');
											}
										});
								jQuery.validator.setDefaults({
									debug : true,
									success : "valid"
								});

								$('#form')
										.validate(
												{ // initialize the plugin
													rules : {

														'form:lastName' : {
															required : true,
															minlength : 1
														},
														'form:firstName' : {
															required : true,
															minlength : 2
														},
														'form:regNumber' : {
															required : true,
															minlength : 10

														},

														'form:phone' : {
															required : true,
															minlength : 4,
															number : true
														}
													},
													messages : {

														'form:lastName' : {
															required : "#{i18n['enter_user_last_name']}",
															minlength : "#{i18n['more_characters_2']}"
														},
														'form:firstName' : {
															required : "#{i18n['enter_user_first_name']}",
															minlength : "#{i18n['more_characters_2']}"
														},

														'form:regNumber' : {
															required : "#{i18n['enter_register_number']}",
															minlength : "#{i18n['enter_register_number_correct']}"
														},

														'form:phone' : {
															required : "#{i18n['enter_phone_number']}",
															minlength : "#{i18n['enter_phone_number_4_more']}",
															number : "#{i18n['enter_only_digit']}"
														}
													}
												});

							});
			function hideForeignPatient() {
				document.getElementById('genderLabel').style.display = "none";
				document.getElementById('genderSection').style.display = "none";
				document.getElementById('form:regNumber').disabled = false;
				document.getElementById('form:birthDate_input').disabled = true;
			}

			function showForeignPatient() {
				document.getElementById('genderLabel').style.display = "block";
				document.getElementById('genderSection').style.display = "block";
				document.getElementById('form:regNumber').disabled = true;
				document.getElementById('form:birthDate_input').disabled = false;
			}

			$('body')
					.on(
							'keydown',
							'input, select, radio',
							function(e) {
								var self = $(this), form = self
										.parents('form:eq(0)'), focusable, next;
								if (e.keyCode == 13) {
									focusable = form.find(
											'input,a,select,button,radio')
											.filter(':visible');
									next = focusable
											.eq(focusable.index(this) + 1);
									if (next.length) {
										next.focus();
									} else {
										form.submit();
									}
									return false;
								}
							});
			//]]>
		</script>
	</ui:define>
</ui:composition>