
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
			<h1>Эм</h1>
			<div class="col-md-6">
				<p:commandLink styleClass="btn" action="#{configController.addAccountConfig()}">
					<i class="fa fa-fw fa-plus-square" />Дансны тохиргоо нэмэх
				</p:commandLink>
				<ol class="breadcrumb">
					<li class="active">Эмийн</li>
					<li class="active">Жагсаалт</li>
				</ol>
			</div>
		</section>
		<section class="content">
			<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Дансны тохиргоо</h3>
					</div>
					<div class="box-body">
						<p:dataTable id="listAccountMap" styleClass="myTable"
							emptyMessage="#{i18n['empty']}"
							value="#{configController.listAccountMap}" var="info"
							rowIndexVar="index" sortBy="#{info.subOrganizationName}" expandableRowGroups="true" >
							<p:headerRow>
								<p:column styleClass="text" headerText="Тасгийн нэр">
									<h:outputText value="#{info.subOrganizationName}" />
								</p:column>
							</p:headerRow>
							<p:column styleClass="text" headerText="Дансны төрөл">
								<h:outputText value="#{info.accountType}" />
							</p:column>
							<p:column styleClass="text" headerText="Дансны код">
								<h:outputText value="#{info.accountId}" />
							</p:column>
							<p:column styleClass="text" headerText="Дансны нэр">
								<h:outputText value="#{info.accountName}" />
							</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['edit']}">
								<p:commandLink styleClass="fa fa-fw fa-edit color-blue"
									action="#{configController.modifiedAccountMap(info)}"></p:commandLink>
							</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['delete']}">
								<p:commandLink styleClass="fa fa-fw fa-remove color-red"
									action="#{configController.deleteAccountMap(info)}"
									update="listAccountMap"></p:commandLink>
							</p:column>
						</p:dataTable>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		<p:dialog widgetVar="accountMapDialog" id = "accountMapDialog" modal="true" resizable="true" width="700" 
		styleClass="accountMapDialog" closeOnEscape="true" header="Дансны тохиргоо">
			<div class="row">
				<div class="col-md-12" >
					<div class="col-md-3">
						<div>
							<p:selectOneMenu id="subOrgs" value="#{configController.currentAccountMap.subOrganizationPkId}" >
								<f:selectItems value="#{configController.listSubOrg}" var="mt" itemValue="#{mt.pkId}" itemLabel="#{mt.name}" />
							</p:selectOneMenu>
						</div>
						<div style="margin-top:10px;">
							<p:commandLink styleClass="btn" action="#{configController.saveConfig()}" >
								<i class="fa fa-check" />Хадгалах
							</p:commandLink>
						</div>
					</div>
					<div class="col-md-9">
						<p:dataTable id="account" styleClass="myTable"
							emptyMessage="#{i18n['empty']}" value="#{configController.tmpListMap}" var="info" rowIndexVar="index">
							<p:column styleClass="index" headerText="№">
								<h:outputText value="#{index+1}" />
							</p:column>							
							<p:column styleClass="text" headerText="Тасгийн нэр">
								<p:selectBooleanCheckbox value="#{info.selected}" />
							</p:column>
							<p:column styleClass="text" headerText="Дансны төрөл">
								<h:outputText value="#{info.accountType}" />
							</p:column>
							<p:column styleClass="text" headerText="Дансны код">
								<h:outputText value="#{info.accountId}" />
							</p:column>
							<p:column styleClass="text" headerText="Дансны нэр">
								<h:outputText value="#{info.accountName}" />
							</p:column>
						</p:dataTable>
					</div>
				</div>
			</div>
		</p:dialog>
		<p:remoteCommand name="getListData" action="#{configController.getListData()}" />
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
			$(document).ready(function(){
				getListData();
				});
		</script>
	</ui:define>

</ui:composition>