<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Эм</h1>
		<p:commandLink action="#{userController.url('injection_register')}"
			styleClass="btn" actionListener="#{infoController.newInjection()}">
			<i class="fa fa-fw fa-plus-square" />#{i18n['injection_register']}
		</p:commandLink> </section>
		<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">#{i18n['list']}</h3>
					</div>
					<div class="col-xs-12">
						<div class="row flex-container">
							<div
								class="col-md-1 col-sm-12 col-xs-12 flex-center-self text-right">
								<label style="" for="form:qop">#{i18n['search']}:</label>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
								<p:remoteCommand name="filterList"
									actionListener="#{infoController.getInjectionList()}"
									update="form:medicineList"></p:remoteCommand>
								<p:inputText id="qop" value="#{infoController.filterNameKey}"
									onkeyup="filterList();" style="width:100%">
								</p:inputText>
								<p:watermark for="form:qop"
									value="#{i18n['by_name_by_int_name']}" />

							</div>
							<div
								class="col-md-2 col-sm-12 col-xs-12 flex-center-self text-right">
								<label style="" for="form:type">#{i18n['filter']} /ATC/:</label>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
								<p:selectOneMenu id="type"
									value="#{infoController.filterActPkId}"
									style="min-width: 100%;" filter="true">
									<f:selectItem itemLabel="#{i18n['all']}" itemValue="0">
									</f:selectItem>
									<f:selectItems value="#{infoController.atcs}" var="a"
										itemLabel="#{a.nameMn}" itemValue="#{a.pkId}">
									</f:selectItems>

									<p:ajax event="change" process="@this"
										update="form:medicineList"
										listener="#{infoController.getInjectionList()}" />
								</p:selectOneMenu>
							</div>

						</div>
					</div>
					<div class="box-body">
						<p:dataTable id="medicineList" styleClass="myTable"
							emptyMessage="#{i18n['empty']}"
							value="#{infoController.injections}" var="info"
							rowIndexVar="index" paginator="true" rows="25"
							rowsPerPageTemplate="30,45,60" paginatorAlwaysVisible="false">
							<p:column styleClass="index" headerText="№">#{index + 1}</p:column>
							<p:column styleClass="text"
								headerText="#{i18n['injection_name']}">#{info.name}</p:column>
							<p:column styleClass="text"
								headerText="#{i18n['medicine_int_name']}">#{info.iName}</p:column>
							<p:column styleClass="text" headerText="Савлалт">#{info.drugDose}</p:column>
							<p:column styleClass="text" headerText="Тун">#{info.dose}</p:column>
							<p:column styleClass="text" headerText="Насны ангилал"
								style="text-align:center">
								<h:outputText rendered="#{info.ageAtive!='2'}"
									value="#{info.ageDivision} #{info.ageAtive==1 ? 'дээш':'доош'}" />
								<h:outputText value="#{info.allAge==1 ? 'бүх насныханд':''} " />
							</p:column>
							<p:column styleClass="text" headerText="#{i18n['prohibit']}">#{info.warningMessage}</p:column>

							<p:column styleClass="text" headerText="#{i18n['price']}"
								style="text-align:center">
							 #{info.price}
							 </p:column>
							<p:column styleClass="text" headerText="Даатгал Үнэ"
								style="text-align:center">
							 #{info.insurancePrice}
							 </p:column>

							<p:column styleClass="button-icon "
								headerText="#{i18n['status']}">
								<p:selectOneMenu value="#{info.active}">
									<p:ajax event="change"
										listener="#{infoController.updateInjectionStatus(info.pkId,info.active)}" />j
								  <f:selectItem itemLabel="Тасраагүй" itemValue="0" />
									<f:selectItem itemLabel="Тасарсан" itemValue="1" />
								</p:selectOneMenu>
							</p:column>

							<p:column styleClass="button-icon" headerText="#{i18n['edit']}">
								<p:commandLink styleClass="fa fa-fw fa-edit color-green"
									action="#{infoController.modifiedInjection(info)}"></p:commandLink>
							</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['delete']}">
								<p:commandLink styleClass="fa fa-fw fa-remove color-red"
									actionListener="#{infoController.deleteInjection(info)}"
									oncomplete="PF('confirmDialogDelete').show();"
									update="medicineList"></p:commandLink>
							</p:column>
						</p:dataTable>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		<p:dialog widgetVar="confirmDialogDelete" modal="true"
			resizable="true" width="300" styleClass="confirmDialog"
			closeOnEscape="true">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon"><i
						class="fa fa-fw fa-warning color-orange" /></td>
					<td class="panel-confirm-dialog-text">
						#{i18n['sure_to_delete']}</td>
				</tr>
			</table>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-md-1" />
					<div class="col-md-5">
						<p:commandLink styleClass="btn"
							action="#{infoController.deleteInjectionConfirm(infoController.injectionDelete)}"
							style="font-size: 12px;color: white;" update="@(.myTable)">
							<i class="fa fa-fw fa-check" />#{i18n['delete']}</p:commandLink>
					</div>
					<div class="col-md-5">
						<p:commandLink styleClass="btn redBtn"
							oncomplete="PF('confirmDialogDelete').hide();"
							style="font-size: 12px;color: white;">
							<i class="fa fa-fw fa-times" />#{i18n['cancel']}</p:commandLink>
					</div>
					<div class="col-md-1" />
				</div>
			</div>
		</p:dialog> </section>
		<p:remoteCommand name="loadData"
			actionListener="#{infoController.getInjectionList}"
			update="form:medicineList" />
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
			$(document).ready(function() {
				loadData();
			});
			//]]>
		</script>
	</ui:define>
</ui:composition>