<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="row flex-container">

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:id" class="label-asterisk">Тарианы код:</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText id="id" value="#{infoController.currentInjection.id}"
							style="min-width: 100%;">
						</p:inputText>
					</div>

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:name" class="label-asterisk">Тарианы нэр:</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText id="name"
							value="#{infoController.currentInjection.name}"
							style="min-width: 100%;">
						</p:inputText>
					</div>
				</div>

				<div class="row flex-container">

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:iName" class="label-asterisk">#{i18n['medicine_int_name']}:</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText id="iName"
							value="#{infoController.currentInjection.iName}"
							style="min-width: 100%;">
						</p:inputText>
					</div>

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:atcName">ATC #{i18n['code']}:</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:selectOneMenu id="atcName"
							value="#{infoController.currentInjection.atcPkId}"
							style="width: 100%;" filter="true">
							<f:selectItems var="a" value="#{infoController.atcs}"
								itemLabel="#{a.nameMn}" itemValue="#{a.pkId}" />
						</p:selectOneMenu>
					</div>
				</div>
				<div class="row flex-container">

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:typeName">#{i18n['medicine_type']}</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText style="width:100%" value="#{infoController.currentInjection.typeInsjection}"/>
					</div>

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:measurementName">#{i18n['measurement']}</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText style="width:100%" value="#{infoController.currentInjection.measurement}"/>

					</div>
				</div>

				<div class="row flex-container">

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:bioActive">#{i18n['affect_fetus']}</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:selectOneRadio id="bioActive" value="#{infoController.currentInjection.bioActive}" >
							<f:selectItem itemValue="1" itemLabel="A" />
							<f:selectItem itemValue="2" itemLabel="B" />
							<f:selectItem itemValue="3" itemLabel="C" />
							<f:selectItem itemValue="4" itemLabel="D" />
							<f:selectItem itemValue="5" itemLabel="X" />

						</p:selectOneRadio>
					</div>

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label>Насны ангилал</label>
					</div>
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<p:panel styleClass="no-style-panel ageClass">
						 
						 <p:inputText id="minAge"
							style="width:40%;display:inline-block;float:left;"
							value="#{infoController.currentInjection.ageDivision}" />
						<p:selectOneMenu id="maxAge"
							style="margin-left:5px;width:50%;display:inline-block;float:left;"
							value="#{infoController.currentInjection.ageAtive}">
							<f:selectItem itemValue="2" itemLabel="сонгох" />
							<f:selectItem itemValue="1" itemLabel="#{i18n['above']}" />
							<f:selectItem itemValue="0" itemLabel="#{i18n['belove']}" />
							
						</p:selectOneMenu></p:panel>
						
					</div>
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
					 <p:selectBooleanCheckbox id="ageRange"  itemLabel="#{i18n['all_age']}"
							value="#{infoController.currentInjection.allAgeValue}">
							 <p:ajax event="change" update="@(.ageClass)"></p:ajax>
							 </p:selectBooleanCheckbox>
					 </div>
				</div>

				<div class="row flex-container">
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:warningMessage">Савлагаа</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText value="#{infoController.currentInjection.drugDose}"
							style="width:50%;display:inline-block;float:left;" />
					</div>

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:description">1 удаагийн тун</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText value="#{infoController.currentInjection.dose}"
							style="width:50%;display:inline-block;float:left;" />
					</div>
				</div>
				
				
				<div class="row flex-container">
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:warningMessage">#{i18n['price']} <span style="color:red">*</span>
						</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputText 
							style="width:50%;display:inline-block;float:left;"  value="#{infoController.currentInjection.price}"/>
					</div>
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:warningMessage">#{i18n['price_use_date']} <span style="color:red">*</span>
						</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:calendar id="usageDate" styleClass="date-control" value="#{infoController.currentInjection.beginDate}"
							pattern="yyyy-MM-dd" />
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						
					</div>
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<p:selectBooleanCheckbox itemLabel="Даатгалаар төлөх эсэх "  value="#{infoController.currentInjection.insuranceValue}">
						 <p:ajax event="change" update="form:panelId"/>
						 </p:selectBooleanCheckbox>
					</div>
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
					<p:panel styleClass="no-style-panel" id="panelId">
						<p:inputText   placeholder="Даатгалын үнэ" rendered="#{infoController.currentInjection.insuranceValue}" value="#{infoController.currentInjection.insurancePrice}"/>
					</p:panel>
					</div>
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:warningMessage"> Эмийн нөлөөлөл
						</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:selectOneMenu value="#{infoController.currentInjection.injectionImpact}">
							<f:selectItem itemLabel="Сонгох" itemValue="0" />
							<f:selectItem itemLabel="Антибиотик" itemValue="1" />
							<f:selectItem itemLabel="Сэтгэц нөлөөлөх" itemValue="2" />
							<f:selectItem itemLabel="Тариа" itemValue="3" />
						</p:selectOneMenu>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="">#{i18n['inpatientPrice']} 
						</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<pe:inputNumber 
							style="width:50%;display:inline-block;float:left;"  value="#{infoController.currentInjection.inpatientPrice}"/>
					</div>
					
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:warningMessage">#{i18n['prohibit']}</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputTextarea id="warningMessage"
							value="#{infoController.currentInjection.warningMessage}"
							style="min-width: 100%;">
						</p:inputTextarea>
					</div>

					<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
						<label for="form:description">#{i18n['description']}</label>
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
						<p:inputTextarea id="description"
							value="#{infoController.currentInjection.description}"
							style="min-width: 100%;">
						</p:inputTextarea>
					</div>
				</div>

				<div class="row">
					<div class="col-md-8"></div>
					<div class="col-md-4 text-right">
						<p:commandLink action="#{infoController.saveInjection()}"
							styleClass="btn" type="submit" update="form:message">
							<i class="fa fa-fw fa-check" />#{i18n['save']}</p:commandLink>
					</div>
				</div>

			</div>
		</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
     	//<![CDATA[		
     	          function disableAgeRenge(obj)
     	          {
     	        	  debugger;
     	        	  if(obj.checked != true)
     	        		  {
     	        		 	document.getElementById('form:minAge').disabled = false;
     	        			document.getElementById('form:maxAge').disabled = false;
     	        		  }
     	        	  else
     	        		  {
     	        		 document.getElementById('form:minAge').disabled = true;
  	        			 document.getElementById('form:maxAge').disabled = true;
     	        		  }
     	          }
			$('body').on('keydown', 'input, select, textarea', function(e) {
			    var self = $(this)
			      , form = self.parents('form:eq(0)')
			      , focusable
			      , next
			      ;
			    if (e.keyCode == 13) {
			        focusable = form.find('input,a,select,button,textarea').filter(':visible');
			        next = focusable.eq(focusable.index(this)+1);
			        if (next.length) {
			            next.focus();
			        } else {
			            form.submit();
			        }
			        return false;
			    }
			});
			$(document).ready(function () {
				if(document.getElementById('form:ageRange').checked == true)
					{
					document.getElementById('form:minAge').disabled = true;
	        			 document.getElementById('form:maxAge').disabled = true;
					}
					
				$('input').on('blur', function() {
			        if ($("#form").valid()) {
			            $(".submit").prop('disabled', false);  
			        } else {
			            $(".submit").prop('disabled', 'disabled');
			        }
			    });
			jQuery.validator.setDefaults({
				  debug: true,
				  success: "valid"
				});
		    $('#form').validate({ // initialize the plugin
		    	rules: {
					'form:name' : "required",
					'form:iName': "required" 						
		        },
		    	messages: {
					'form:name' : "#{i18n['enter_medicine_name']}",
					'form:iName': "#{i18n['enter_medicine_int_name']}"
		    	});
			});
     	//]]>
		</script>
	</ui:define>
</ui:composition>