<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
			<h1>Эм</h1>
			<div class="col-md-6">
			<p:commandLink action="#{userController.url('medicine_register')}"
				process="@this" styleClass="btn" actionListener="#{infoController.newMedicine}">
				<i class="fa fa-fw fa-plus-square" />#{i18n['register_medicine']}
			</p:commandLink>
			<h:commandLink styleClass="btn" >
				<i class="fa fa-file-excel-o" />Эксэл рүү хөрвүүлэх
				<p:dataExporter type="xls" target="medicineList" fileName="medicines" />
			</h:commandLink>
			<h:commandLink styleClass="btn" >
				<i class="fa fa-file-pdf-o" />PDF рүү хөрвүүлэх
				<p:dataExporter type="pdf" target="medicineList" fileName="medicinesPDF" />
			</h:commandLink>
			<p:commandLink value="Download Template" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s" styleClass="btn" >
		        <p:fileDownload value="#{infoController.file}" />
		    </p:commandLink>
			<ol class="breadcrumb">
				<li class="active">Эмийн</li>
				<li class="active">Жагсаалт</li>
			</ol>
			</div>
			<div class="col-md-6">
			    <p:fileUpload fileUploadListener="#{infoController.fileUploadListener}" mode="advanced" dragDropSupport="true" fileLimit="1" allowTypes="/(\.|\/)(xls)$/" fileLimitMessage="Зөвхөн нэг файл сонгоно уу" >
				</p:fileUpload>
				<p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
				</p:dialog>
			</div>
		</section>

		<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Эмийн #{i18n['list']}</h3>
					</div>
					<div class="col-xs-12">
						<div class="row flex-container">
							<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneRadio
									value="#{infoController.filterUsageType}">
									<f:selectItem itemLabel="Бүх эм" itemValue="All" />
									<f:selectItem itemLabel="Амбулаторийн эм" itemValue="Out"></f:selectItem>
									<f:selectItem itemLabel="Тасгийн эм" itemValue="In"></f:selectItem>
									<p:ajax event = "change"  listener = "#{infoController.refreshMedicineList()}" update = "form:medicineList" ></p:ajax>
								</p:selectOneRadio>
							</div>
							<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu>
									<f:selectItem itemLabel="Эм/Тариа" itemValue=""></f:selectItem>
								</p:selectOneMenu>							
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self text-right">
								<label>Эмчилгээний төрөл</label>
							</div>
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu style="width:70%;" value="#{infoController.filterDrugPurpose}">
									<f:selectItem itemLabel="Бүгд" itemValue="0"></f:selectItem>
									<f:selectItem itemLabel="Энгийн" itemValue="1"></f:selectItem>
									<f:selectItem itemLabel="Сэтгэц нөлөөт" itemValue="2"></f:selectItem>
									<f:selectItem itemLabel="Антибиотик" itemValue="3"></f:selectItem>
									<p:ajax event = "change"  listener = "#{infoController.refreshMedicineList()}" update = "form:medicineList" ></p:ajax>
								</p:selectOneMenu>							
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:remoteCommand name="filterList"
									actionListener="#{infoController.refreshMedicineList()}"
									update="form:medicineList"></p:remoteCommand>
								<p:inputText id="qop" value="#{infoController.filterKey}"
									onkeyup="filterList();" style="width:100%">
								</p:inputText>
								<p:watermark for="form:qop"
									value="#{i18n['by_name_by_int_name']}" />
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu style="width:100%;" value="#{infoController.filterByMonth}">
									<f:selectItem itemLabel="Бүгд" itemValue="0"></f:selectItem>								
									<f:selectItem itemLabel="Сүүлийн 1 сар" itemValue="1"></f:selectItem>
									<f:selectItem itemLabel="Сүүлийн 3 сар" itemValue="3"></f:selectItem>
									<f:selectItem itemLabel="Сүүлийн 6 сар" itemValue="6"></f:selectItem>
									<p:ajax event = "change"  listener = "#{infoController.refreshMedicineList()}" update = "form:medicineList" ></p:ajax>
								</p:selectOneMenu>							
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="DUR шалгууртай эм ялгах" value="#{infoController.filterHasDR}" >
								<p:ajax event="change" listener = "#{infoController.refreshMedicineList()}" update = "form:medicineList" ></p:ajax>
								</p:selectBooleanCheckbox>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:commandLink styleClass="btn" >БМ системээс шинэчлэх</p:commandLink>							
							</div>
						</div>
					</div>					
					<div class="box-body">
						<p:dataTable id="medicineList" styleClass="myTable"
							emptyMessage="#{i18n['empty']}"
							value="#{infoController.medicines}" var="info"
							rowIndexVar="index" paginator="true" rows="25"
							rowsPerPageTemplate="30,45,60" paginatorAlwaysVisible="false" >
							<p:column styleClass="index" headerText="№">
								<h:outputText value="#{index+1}" />
							</p:column>							
							<p:column styleClass="text" headerText="Эмийн код">
								<h:outputText value="#{info.id}" />
							</p:column>
							<p:column styleClass="text" headerText="Олон улсын нэршил">
								<h:outputText value="##{info.iName}" />
							</p:column>
							<p:column styleClass="text" headerText="Худалдааны нэршил">
								<h:outputText value="#{info.name}" />
							</p:column>
							<p:column styleClass="text" headerText="Савалгаа">
								<h:outputText value="#{info.drugDose}" />
							</p:column>
							<p:column styleClass="text" headerText="Тун">
								<h:outputText value="#{info.dose}" />
							</p:column>
							<p:column styleClass="text" headerText="ATC ангилал">
								<h:outputText value="#{info.atcName}" />
							</p:column>
							
							<p:column styleClass="text" headerText="Байршил">
								<ui:repeat var="pharmacy" value="#{info.pharmacyMedicineName}">
										#{pharmacy.medicineName} , 
								</ui:repeat>
							</p:column>
							
							<p:column styleClass="text" headerText="DUR шалгуур"></p:column>
							<p:column styleClass="button-icon" headerText="Идэвхтэй эсэх">
								<p:selectOneMenu value="{info.activeMedicine}">
								  <f:selectItem itemLabel="Идэвхэй" itemValue="0"/>
								   <f:selectItem itemLabel="Идэвхгүй" itemValue="1"/>
								 </p:selectOneMenu>
							</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['edit']}">
								<p:commandLink styleClass="fa fa-fw fa-edit color-blue"
									action="#{infoController.modifiedMedicine(info)}"></p:commandLink>
							</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['delete']}">
								<p:commandLink styleClass="fa fa-fw fa-remove color-red"
									action="#{infoController.deleteMedicine(info)}"
									oncomplete="PF('confirmDialogDelete').show();" update="medicineList"></p:commandLink>
							</p:column>
						</p:dataTable>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		</section>
		<p:dialog widgetVar="medicinePriceListForm" width="auto"  modal="true"  header="Үнэ өөрчлөлтийн  жагсаалт" resizable="true"  >
		
		 <p:panel styleClass="no-style-panel listPricePanel">
    	    <p:dataTable emptyMessage="Хоосон  байна" styleClass="table-bordered  table"  value="#{infoController.medicinePriceList}" var="info">
		   <p:column headerText="Эмийн  нэр">#{info.iName}</p:column>
		   <p:column headerText="Өөрчилсөн хэрэглэгч">#{info.userName}</p:column>
		   <p:column headerText="Тохиргооны  огноо">#{info.getDateConvert(info.beginDate)}</p:column>
		   <p:column headerText="Өөрчилсөн  өдөр">#{info.getDateConvert(info.updateDate)}</p:column>
		   <p:column headerText="Үнэ">#{info.price}</p:column>
		   </p:dataTable>
		  </p:panel>
		 </p:dialog>
		<p:dialog widgetVar="confirmDialogDelete" modal="true"
			resizable="true" width="300" styleClass="confirmDialog"
			closeOnEscape="true">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon"><i
						class="fa fa-fw fa-warning color-orange" /></td>
					<td class="panel-confirm-dialog-text">
						#{i18n['sure_to_delete']}</td>
				</tr>
			</table>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-md-1" />
					<div class="col-md-5">
						<p:commandLink styleClass="btn"
							action="#{infoController.deleteMedicine}"
							style="font-size: 12px;color: white;" update="@(.myTable)">
							<i class="fa fa-fw fa-check" />#{i18n['delete']}</p:commandLink>
					</div>
					<div class="col-md-5">
						<p:commandLink styleClass="btn redBtn"
							oncomplete="PF('confirmDialogDelete').hide();"
							style="font-size: 12px;color: white;">
							<i class="fa fa-fw fa-times" />#{i18n['cancel']}</p:commandLink>
					</div>
					<div class="col-md-1" />
				</div>
			</div>
		</p:dialog>


		<p:remoteCommand name="loadData"
			actionListener="#{infoController.refreshMedicineList}"
			update="form:medicineList" />



	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
			$(document).ready(function() {
				loadData();
				chosen();
			});
			function start() {
			    PF('statusDialog').show();
			}
			 
			function stop() {
			    PF('statusDialog').hide();
			}
			function chosen() {
				var config = {
					'.chosen-select' : {},
					'.chosen-select-deselect' : {
						allow_single_deselect : true
					},
					'.chosen-select-no-single' : {
						disable_search_threshold : 10
					},
					'.chosen-select-no-results' : {
						no_results_text : 'Oops, nothing found!'
					},
					'.chosen-select-width' : {
						width : "95%"
					}
				}
				for ( var selector in config) {
					$(selector).chosen(config[selector]);
				}
			}

			function calendarControl() {
			}
			//]]>
		</script>
	</ui:define>
</ui:composition>