<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"	
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content">
			<div class="col-md-12">
				<div class="col-md-3">
					<div class="row flex-container">
						<p:panel header="Эмийн ашиглалтын жагсаалт" styleClass="panel-style-3 no-padding">
							<div style="display: inline-block;">
								<div style="padding:10px;">
									<div class="col-md-12"> 							
										<div class="row flex-container">
											<p:selectBooleanCheckbox itemLabel="Ашигладаагүй эмийг ялгах" />
										</div>
										<div class="row flex-container">
											<p:selectOneMenu style="vertical-align:middle; width:97%;">
												<f:selectItem itemLabel="Сүүлийн 1 сар" />
												<f:selectItem itemLabel="Сүүлийн 1 долоо хоног" />
												<f:selectItem itemLabel="Сүүлийн 1 жил" />
											</p:selectOneMenu>	
										</div>
										<div class="row flex-container">
										<p:dataTable styleClass="myTable" rowIndexVar="index">
											<p:column styleClass="text" headerText=" ">
												<p:selectBooleanCheckbox />
											</p:column>
											<p:column headerText="Код"></p:column>
											<p:column headerText="ОУ нэр"></p:column>
											<p:column headerText="Худалдааны нэр"></p:column>
											<p:column headerText="Савалгаа"></p:column>
											<p:column headerText="Тун"></p:column>
										</p:dataTable>
										</div>
								</div>
							</div>
						</div>
					</p:panel>
					</div>
					<div class="row flex-container">
					<p:panel header="DUR" styleClass="panel-style-3 no-padding">
						<div style="display: inline-block;">
							<div style="padding:10px;">
								<div class="col-md-12"> 
									<div class="row flex-container">
										<p:selectOneMenu style="vertical-align:middle; width:97%;">
											<f:selectItem itemLabel="Жирэмсэн эхэд хориотой эм" />
										</p:selectOneMenu>	
									</div>
									<div class="row flex-container">
									<p:dataTable styleClass="myTable" rowIndexVar="index">
										<p:column styleClass="text" headerText=" ">
											<p:selectBooleanCheckbox />
										</p:column>
										<p:column headerText="Код"></p:column>
										<p:column headerText="ОУ нэр"></p:column>
										<p:column headerText="Худалдааны нэр"></p:column>
										<p:column headerText="Савалгаа"></p:column>
										<p:column headerText="Тун"></p:column>
									</p:dataTable>
									</div>
								</div>
							</div>
						</div>
					</p:panel>
					</div>
				</div>
				<div class="col-md-9">
					<div class="row flex-container">
					<div class="col-md-12">
					<p:panel header="Эмийн ерөнхий мэдээлэл" styleClass="panel-style-3">
						<div class="row flex-container">
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
							<label for="form:id" class="label-asterisk">#{i18n['medicine_code']}:</label>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
							<p:inputText id="id" value="#{infoController.currentMedicine.id}"
								style="min-width: 100%;">
							</p:inputText>
						</div>
						<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
							<label for="form:name" class="label-asterisk">#{i18n['medicine_int_name']}:</label>
						</div>
						<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
							<p:inputText id="name"
								value="#{infoController.currentMedicine.name}"
								style="min-width: 100%;">
							</p:inputText>
						</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:iName" class="label-asterisk">#{i18n['medicine_name']}:</label>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
								<p:inputText id="iName"
									value="#{infoController.currentMedicine.iName}"
									style="min-width: 100%;">
								</p:inputText>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:atcName">ATC #{i18n['code']}:</label>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
								<p:selectOneMenu id="atcName"
									value="#{infoController.currentMedicine.atcPkId}"
									style="width: 100%;" filter="true">
									<f:selectItems var="a" value="#{infoController.atcs}"
										itemLabel="#{a.nameMn}" itemValue="#{a.pkId}" />
								</p:selectOneMenu>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:typeName">#{i18n['medicine_type']}</label>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
								<p:selectOneMenu id="typeName"
									value="#{infoController.currentMedicine.typePkId}"
									style="width: 100%;">
									<f:selectItems value="#{infoController.mTypes}" var="mt"
										itemValue="#{mt.pkId}" itemLabel="#{mt.name}" />
								</p:selectOneMenu>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:measurementName">#{i18n['measurement']}</label>
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
								<p:selectOneMenu id="measurementName"
									value="#{infoController.currentMedicine.measurementPkId}"
									style="width: 100%;">
									<f:selectItems value="#{infoController.measurements}" var="m"
										itemValue="#{m.pkId}" itemLabel="#{m.name}" />
								</p:selectOneMenu>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:description">1 удаагийн тун</label>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<p:inputText value="#{infoController.currentMedicine.dose}"
									style="width:100%;display:inline-block;float:left;" />
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:description">1 өдрийн тун</label>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<p:inputText value="#{infoController.currentMedicine.dayDose}"
									style="width:100%;display:inline-block;float:left;" />
							</div>
							<div class="col-md-4 col-sm-12 col-xs-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Задгайгаар зарлагадах эсэх"
									value="#{infoController.currentMedicine.divideMedicine}"></p:selectBooleanCheckbox>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:description">Эмчилгээний төрөл</label>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<p:selectOneMenu value="#{infoController.currentMedicine.drugPurpose}">
										<f:selectItem itemLabel="Энгийн" itemValue="1" />
										<f:selectItem itemLabel="Сэтгэц нөлөөт" itemValue="2" />
										<f:selectItem itemLabel="Антибиотик" itemValue="3" />
									</p:selectOneMenu>
								</div>
						</div>
					</p:panel>
					</div>
					</div>
					<div class="row flex-container">
					<div class="col-md-12">
					<p:panel header="Худалдан авалтын мэдээлэл" styleClass="panel-style-3">
						
						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="margin-right:5%;">Хаана ашиглах</label>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu value="#{infoController.currentMedicine.usageType}">
									<f:selectItem itemLabel="Амбулатори" itemValue="Out"></f:selectItem>
									<f:selectItem itemLabel="Стационар" itemValue="In"></f:selectItem>
									<f:selectItem itemLabel="Бүгд" itemValue="All"></f:selectItem>
								</p:selectOneMenu>
							</div>
							<div class="col-md-3 col-sm-12 col-xs-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Даатгалд хамаарах"
									value="#{infoController.currentMedicine.insurance}">
									<f:ajax render="insurancePrice" />
								</p:selectBooleanCheckbox>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label style="margin-right:0%;">Даатгалын үнэ:</label>							
							</div>
							<div class="col-md-3">
								<p:inputNumber value="#{infoController.currentMedicine.insurancePrice}" id="insurancePrice"
									disabled="#{infoController.currentMedicine.insurance == 'false'}"
									>
								</p:inputNumber>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:warningMessage">#{i18n['price_use_date']}</label>
							</div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<p:calendar id="usageDate" styleClass="date-control"
									value="#{infoController.currentMedicine.usageDate}"
									pattern="yyyy-MM-dd" navigator="true" >
								</p:calendar>
							</div>
							<div class="col-md-3"></div>
							<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
								<label for="form:warningMessage">Амбулаторийн үнэ:
								</label>
							</div>
							<div class="col-md-3">
								<div style="width: 120px;">
									<p:inputNumber value="#{infoController.currentMedicine.price}"></p:inputNumber>
								</div>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox id="chkOut" value="#{infoController.currentMedicine.discountOut}" itemLabel="Амбулатори хөнгөлөлттэй эсэх"  >
									<f:ajax render="discountOut" />
								</p:selectBooleanCheckbox>
							</div>
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox value="#{infoController.currentMedicine.discountIn}" itemLabel="Стационар хөнгөлттэй эсэх" >
									<f:ajax render="discountIn" />
								</p:selectBooleanCheckbox>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label for="form:price">Хэвтэн эмчлүүлэх үнэ:</label>
							</div>
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:inputNumber id="inpatientPrice"
									value="#{infoController.currentMedicine.inpatientPrice}">
								</p:inputNumber>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputNumber styleClass="discountOut number-control" id="discountOut"
									value="#{infoController.currentMedicine.isDiscountOut}" disabled="#{infoController.currentMedicine.discountOut == 'false'}"
									style="width: 40%;" minValue="0" maxValue="100" symbol="%" symbolPosition="s" emptyValue="sign">
								</p:inputNumber>
							</div>
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:inputNumber styleClass="number-control" id="discountIn"
									value="#{infoController.currentMedicine.isDiscountIn}" disabled="#{infoController.currentMedicine.discountIn == 'false'}"
									style="width: 40%;" minValue="0" maxValue="100" symbol="%" symbolPosition="s" emptyValue="sign">
								</p:inputNumber>
							</div>
						</div>
						<div class="row flex-container">
						
								<div class="col-md-8">
								</div>
								<div class="col-md-1">
									<div class="">
										<div class="text-right">
											<p:commandLink styleClass="btn" >Нийлүүлэгч</p:commandLink>
										</div>
									</div>	
								</div>
								<div class="col-md-3">
									<div class="text-right" style="margin-right: 10px;">
										<p:commandLink styleClass="btn" >Худалдан авалтын түүх</p:commandLink>
									</div>	
								</div>
							
						</div>
					</p:panel>
					</div>
					</div>
					<div class="row flex-container">
					<div class="col-md-12">
					<p:panel header="DUR шалгуур" styleClass="panel-style-3">
						<div class="row flex-container">
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Жирэмсний категори*" value="#{infoController.pregnantWarningCheck}" >
									<p:ajax event="change" update="@(.pregnantWarningCheck)"/>
								</p:selectBooleanCheckbox>
							</div>
							<div class="col-md-9 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu styleClass="pregnantWarningCheck" style="width:100%;" disabled="#{!infoController.pregnantWarningCheck}" value="#{infoController.pregnantWarning.message}">
									<f:selectItem itemLabel="Урагт үзүүлэх сөрөг нөлөө нь батлагдсан бөгөөд эмчилээний зайлшгүй нөхцлөөс бусад тохиолдолд хэрэглэж болохгүй эм болон эмийн бүтээгдэхүүн тул сонголтоо өөрчлөхийг зөвлөж байна" itemValue="Урагт үзүүлэх сөрөг нөлөө нь батлагдсан бөгөөд эмчилээний зайлшгүй нөхцлөөс бусад тохиолдолд хэрэглэж болохгүй эм болон эмийн бүтээгдэхүүн тул сонголтоо өөрчлөхийг зөвлөж байна" />
									<f:selectItem itemLabel="Урагт үзүүлэх сөрөг нөлөөг нь таамаглах боломжтой боловч жирэмсэн эхэд үзүүлэх эмчилгээний үр дүн нь сөрөг нөлөөллөөс өндөр байх тохиолдолд анхаарал болгоомжтой хэрэглэж болох эм болон эмийн бүтээгдэхүүн тул болгоомжтой хэрэглэнэ үү!" itemValue="Урагт үзүүлэх сөрөг нөлөөг нь таамаглах боломжтой боловч жирэмсэн эхэд үзүүлэх эмчилгээний үр дүн нь сөрөг нөлөөллөөс өндөр байх тохиолдолд анхаарал болгоомжтой хэрэглэж болох эм болон эмийн бүтээгдэхүүн тул болгоомжтой хэрэглэнэ үү!" />
								</p:selectOneMenu>			
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Насны ангилал*" value="#{infoController.warningAgeCheck}" >
									<p:ajax event="change" update="@(.warningAgeCheck)"/>
								</p:selectBooleanCheckbox>
							</div>
							<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu disabled="#{!infoController.warningAgeCheck}" styleClass="warningAgeCheck" value="#{infoController.warningAge.type}">
									<f:selectItem itemLabel="Их" itemValue="Over" />
									<f:selectItem itemLabel="Бага" itemValue="Under" />
								</p:selectOneMenu>	
							</div>
							<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
								<p:inputNumber decimalPlaces="0" disabled="#{!infoController.warningAgeCheck}" styleClass="warningAgeCheck" style="width:100%;" value="#{infoController.warningAge.age}" />
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Өдөр хэрэглэх дээд хэмжээ*" value="#{infoController.warningMedicineDoseCheck}" >
									<p:ajax event="change" update="@(.warningMedicineDoseCheck)"/>
								</p:selectBooleanCheckbox>	
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Хэрэглэх хугацаа*" value="#{infoController.warningMedicineMaxDayCheck}" >
									<p:ajax event="change" update="@(.warningMedicineMaxDayCheck)"/>
								</p:selectBooleanCheckbox>	
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:inputNumber disabled="#{!infoController.warningMedicineMaxDayCheck}" decimalPlaces="0" styleClass="warningMedicineMaxDayCheck" style="width:100%;" value="#{infoController.warningMedicineMaxDay.maxDay}" />
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText disabled="#{!infoController.warningMedicineMaxDayCheck}" placeholder="Тун (40ml)" styleClass="warningMedicineMaxDayCheck" style="width:100%;" value="#{infoController.warningMedicineMaxDay.dose}" />
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Хамт хэрэглэж болохгүй эм*" value="#{infoController.notUsedTogetherMedicineListCheck}" >
									<p:ajax event="change" update="@(.notUsedTogetherMedicineListCheck)"/>
								</p:selectBooleanCheckbox>	
							</div>
							<div class="col-md-9 col-xs-12 col-sm-12 flex-center-self">
								<p:commandLink disabled="#{!infoController.notUsedTogetherMedicineListCheck}" styleClass="notUsedTogetherMedicineListCheck btn" value="Эм сонгох" onclick="PF('medlist').show();" /><br/>
								<p:dataTable styleClass="notUsedTogetherMedicineListCheck" value="#{infoController.notUsedTogetherMedicineList}" var="med">
									<p:column headerText="Эмийн нэр">#{med.name}</p:column>
									<p:column headerText="Message"><p:inputText disabled="#{!infoController.notUsedTogetherMedicineListCheck}" styleClass="notUsedTogetherMedicineListCheck" style="width:100%;" value="#{med.message}" /></p:column>
								</p:dataTable>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
								<p:selectBooleanCheckbox itemLabel="Эмийн бүлэг*" value="#{infoController.notUseGroupCheck}" >
									<p:ajax event="change" update="@(.notUseGroupCheck)"/>
								</p:selectBooleanCheckbox>	
							</div>
							<div class="col-md-7 col-xs-12 col-sm-12 flex-center-self">
								<p:selectManyCheckbox layout="grid" columns="2" styleClass="notUseGroupCheck" style="width: 100%;" disabled="#{!infoController.notUseGroupCheck}" value="#{infoController.notUseGroup}">
									<f:selectItems value="#{infoController.listMedicineGroup}" var="lmg" itemValue="#{lmg}" itemLabel="#{lmg}"/>
								</p:selectManyCheckbox>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:commandLink styleClass="notUseGroupCheck btn" style="width: 100%;" disabled="#{!infoController.notUseGroupCheck}" value="Эмийн бүлэг харах" onclick="PF('notUseGroup').show();" />
							</div>
						</div>
					</p:panel>
					</div>
					</div>
					<div class="row">
						<div class="col-md-8"></div>
						<div class="col-md-2 col-sm-12 col-xs-12 flex-center-self">
							<p:selectBooleanCheckbox itemLabel="Эм тасарсан"
								value="#{infoController.currentMedicine.activeMedicineValue}"></p:selectBooleanCheckbox>
						</div>
						<div class="col-md-2 text-right">
							<p:commandLink action="#{infoController.saveMedicine}"
								styleClass="btn" type="submit" update="form:message">
								<i class="fa fa-fw fa-check" />#{i18n['save']}</p:commandLink>
						</div>
					</div>
				</div>
			</div>
		</section>
		<p:dialog header="Эмийн бүлэг" height="500px" width="500px" widgetVar="notUseGroup">
			<p:selectOneMenu value="#{infoController.selectedGroup}">
				<p:ajax event="change" listener="#{infoController.changeMedicineGroup}" update="@(.medicineByGroup)" />
				<f:selectItem itemValue="Сонго" itemLabel="Сонго" />
				<f:selectItems value="#{infoController.listMedicineGroup}" var="lm" itemValue="#{lm}" itemLabel="#{lm}" />
			</p:selectOneMenu>
			<p:dataTable styleClass="medicineByGroup" value="#{infoController.medicineByGroup}" var="med" emptyMessage="Хоосон байна"
						paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
						rowsPerPageTemplate="5,10,15" rows="10" paginatorPosition="bottom">
				<p:column headerText="Id">#{med.id}</p:column>
				<p:column headerText="Нэр">#{med.name}</p:column>
				<p:column headerText="Олон улсын нэршил">#{med.iName}</p:column>
			</p:dataTable>
		</p:dialog>
		<p:dialog header="Эм сонгох" height="500px" width="500px" widgetVar="medlist">
			<p:dataTable value="#{infoController.listMedicine}" var="med" emptyMessage="Хоосон байна"
						paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
						rowsPerPageTemplate="5,10,15" rows="10" paginatorPosition="bottom" selectionMode="single" selection="#{infoController.selMedicine}" rowKey="#{med.pkId}">
				<p:ajax event="rowDblselect" listener="#{infoController.selectMed}" process="@this" oncomplete="PF('medlist').hide();" update="@(.notUsedTogetherMedicineListCheck)" />
				<p:column headerText="Id">#{med.id}</p:column>
				<p:column headerText="Нэр">#{med.name}</p:column>
				<p:column headerText="Олон улсын нэршил">#{med.iName}</p:column>
			</p:dataTable>
		</p:dialog>
	</ui:define>
	<ui:define name="script">
		<script>
     	//<![CDATA[
//    			var inactive = true;
// 			function toggleInactive(){
// 				inactive = !inactive;
// 				document.getElementById('form:discountOut_hinput').disabled = inactive;
// 			}

//    			var inactiveIn = true;
// 			function toggleInactiveIn(){
// 				inactiveIn = !inactiveIn;
// 				alert(inactiveIn);
// 				document.getElementById('form:discountIn_hinput').disabled = inactiveIn;
// 			}
    		
  	          function disableAgeRenge(obj)
  	          {
  	        	  debugger;
  	        	  if(obj.checked != true)
  	        		  {
  	        		 	document.getElementById('form:minAge').disabled = false;
  	        			document.getElementById('form:maxAge').disabled = false;
  	        		  }
  	        	  else
  	        		  {
	  	        		 document.getElementById('form:minAge').disabled = true;
	        			 document.getElementById('form:maxAge').disabled = true;
  	        		  }
  	          }
			$('body').on('keydown', 'input, select, textarea', function(e) {
			    var self = $(this)
			      , form = self.parents('form:eq(0)')
			      , focusable
			      , next
			      ;
			    if (e.keyCode == 13) {
			        focusable = form.find('input,a,select,button,textarea').filter(':visible');
			        next = focusable.eq(focusable.index(this)+1);
			        if (next.length) {
			            next.focus();
			        } else {
			            form.submit();
			        }
			        return false;
			    }
			});
			$(document).ready(function () {
				//if(document.getElementById('form:ageRange').checked == true)
				//{
					//document.getElementById('form:minAge').disabled = true;
        			//document.getElementById('form:maxAge').disabled = true;
				//}
					
				$('input').on('blur', function() {
			        if ($("#form").valid()) {
			            $(".submit").prop('disabled', false);  
			        } else {
			            $(".submit").prop('disabled', 'disabled');
			        }
			    });
			});
			jQuery.validator.setDefaults({
				  debug: true,
				  success: "valid"
				});
		    $('#form').validate({ // initialize the plugin
		    	rules: {
					'form:name' : "required",
					'form:iName': "required" 						
		        },
		    	messages: {
					'form:name' : "#{i18n['enter_medicine_name']}",
					'form:iName': "#{i18n['enter_medicine_int_name']}"
		    	}
			});
     	//]]>
		</script>
	</ui:define>
</ui:composition>