<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Цэс</h1>
		<ol class="breadcrumb">
			<li><p:commandLink action="#{userController.url('menu_list')}"
					value="Цэс жагсаалт">
					<i class="fa fa-circle-o"></i>
				</p:commandLink></li>
			<li class="active">Бүртгэл</li>
		</ol>
		</section>
		<section class="content">
		<div class="content">
			<div class="row flex-container">
				<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<label style="" for="form:compnayName">Байгууллагын нэр </label>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
					<label style="min-width: 100%;"> <!-- <input type="email" class="form-control" id="id" placeholder="Enter email" /> -->
						<h:inputText styleClass="form-control" id="compnayName"
							value="#{infoController.currentOrganization.name}"
							style="min-width: 100%;" />
					</label>
				</div>
				<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<label style="" for="form:type">Үйл ажиллагааны чиглэл</label>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
					<label style="min-width: 100%;"> <h:selectOneMenu
							styleClass="form-control" id="type"
							value="#{infoController.currentOrganization.type}"
							style="min-width: 100%;">
							<f:selectItem itemLabel="Шүдний эмнэлэг"
								itemValue="dentalhospital"></f:selectItem>
						</h:selectOneMenu>
					</label>
				</div>
			</div>
			<div class="row flex-container">
				<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<label style="" for="form:email">И-Мэйл хаяг</label>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
					<label style="min-width: 100%;"> <h:inputText
							styleClass="form-control" id="email"
							value="#{infoController.currentOrganization.email}"
							style="min-width: 100%;" />
					</label>
				</div>
				<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<label style="" for="form:phone">Утас</label>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
					<label style="min-width: 100%;"> <h:inputText
							styleClass="form-control" id="phone"
							value="#{infoController.currentOrganization.phoneNumber}"
							style="min-width: 100%;" />
					</label>
				</div>
			</div>
			<div class="row flex-container">
				<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<label for="aimag">Аймаг/Хот</label>
				</div>
				<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
					<label style="min-width: 100%;"> <h:selectOneMenu
							id="aimag" styleClass="form-control"
							value="#{infoController.currentOrganization.aimagPkId}"
							style="min-width: 100%;">
							<p:ajax event="change" listener="#{infoController.updateSums}"
								update="form:sums"></p:ajax>
							<f:selectItems value="#{infoController.aimags}" var="aimag"
								itemLabel="#{aimag.name}" itemValue="#{aimag.pkId}"></f:selectItems>
						</h:selectOneMenu>
					</label>
				</div>
				<div class="col-md-2">
					<label for="sum">Сум/Дүүрэг</label>
				</div>
				<div class="col-md-4">
					<label style="min-width: 100%;"> <h:selectOneMenu
							styleClass="form-control" id="sums"
							value="#{infoController.currentOrganization.sumPkId}"
							style="min-width: 100%;">
							<f:selectItems value="#{infoController.sums}" var="sum"
								itemLabel="#{sum.name}" itemValue="#{sum.pkId}"></f:selectItems>
						</h:selectOneMenu>
					</label>
				</div>
			</div>
			<div class="row flex-container">
				<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
					<label for="form:address">Хаяг</label>
				</div>
				<div class="col-md-10 col-xs-12 col-sm-12 flex-center-self">
					<label style="min-width: 100%;"> <h:inputText
							styleClass="form-control" id="address"
							value="#{infoController.currentOrganization.address}"
							style="min-width: 100%;" />
					</label>
				</div>
			</div>
			<div class="row flex-container">
				<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self"></div>
				<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
					<label for="id">Лого</label>
				</div>
				<div class="col-md-2">
					<label>
						<div style="width: 122px; height: 122px; border: 1px solid #ccc;">
							<img class="company-logo"
								src="#{infoController.currentOrganization.logo}"
								id="form:uploadFileId" alt=""
								style="max-height: 120px; max-width: 120px;" />
						</div> <input type="file" style="display: none;"
						id="form:logo-upload-input" /> <h:inputHidden id="logo"
							value="#{infoController.currentOrganization.logo}" /> <p:commandLink
							id="logo-upload-button" value="Файл сонгох"></p:commandLink>
					</label>
				</div>
				<div class="col-md-1">
					<label for="id">Тамга</label>
				</div>
				<div class="col-md-2">
					<label>
						<div style="width: 122px; height: 122px; border: 1px solid #ccc;">
							<img class="company-logo1"
								src="#{infoController.currentOrganization.stmp}"
								id="form:uploadFileId1" alt=""
								style="max-height: 120px; max-width: 120px;" />
						</div> <input type="file" style="display: none;"
						id="form:logo-upload-input1" /> <h:inputHidden id="stmp"
							value="#{infoController.currentOrganization.stmp}" /> <p:commandLink
							id="logo-upload-button1" value="Файл сонгох"></p:commandLink>
					</label>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-3">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="insurance"
							value="#{infoController.currentOrganization.insurance}"
							styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-9">
					<label for="form:insurance">Эрүүл мэндийн даатгалаар
						үйлчилдэг бол тэмдэглэ</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="active" value="#{infoController.currentOrganization.active}"
							styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-9">
					<label for="form:active">Идвэхтэй бол тэмдэглэ</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9"></div>
				<div class="col-md-3 text-right">
					<label><p:commandLink
							action="#{infoController.saveOrganization}"
							styleClass="btn btn-block btn-primary btn-sm" value="Хадгалах"
							update="form:message" /></label>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(function(){
				$(PrimeFaces.escapeClientId('form:logo-upload-button')).click(function(){
					$(PrimeFaces.escapeClientId('form:logo-upload-input')).click();
				});
				$(PrimeFaces.escapeClientId('form:logo-upload-input')).on('change',function(e){
					var file = $(this).val();
					
					$(PrimeFaces.escapeClientId('form:uploadFileNameId')).val(file.replace(/^.*[\\\/]/, ''));
				    if(file){
				        // fix on webkit, and IE
				        file = file.substr(file.lastIndexOf("\\")+1);
				        var files = e.target.files;
				        
				        $.each(files, function(f){
				        	
				        	var validImage = true;				        	
				        	if(this.size/1024 > 4028)
			        		{
				        		validImage = false;
				        		//alert('Зурагны хэмжээ хэтэрсэн байна !!!');
				        		showErrorMessage();
				        		$(this).val('')
			        		}
				        	
				        	if (this.type.match('image.*') && validImage) {
					        	var reader = new FileReader();
					        	reader.onload = (function(theFile){
					        		return function(e){
					        			$(PrimeFaces.escapeClientId('form:uploadFileId')).val(e.target.result);
					        			var top = $('img.company-logo').innerHeight()/2;
					        			if(top <= 60)
					        				top= 60;
					        			$('img.company-logo').attr('src',e.target.result)
					        			document.getElementById('form:logo').value = e.target.result;
					        		}
					        	})(this);
					        	reader.readAsDataURL(this);
				        	}
				        });	
				    };
				});
			});
			$(document).ready(function(){
				$(PrimeFaces.escapeClientId('form:logo-upload-button1')).click(function(){
					$(PrimeFaces.escapeClientId('form:logo-upload-input1')).click();
				});
				$(PrimeFaces.escapeClientId('form:logo-upload-input1')).on('change',function(e){
					var file = $(this).val();
					
					$(PrimeFaces.escapeClientId('form:uploadFileNameId1')).val(file.replace(/^.*[\\\/]/, ''));
				    if(file){
				        // fix on webkit, and IE
				        file = file.substr(file.lastIndexOf("\\")+1);
				        var files = e.target.files;
				        
				        $.each(files, function(f){
				        	
				        	var validImage = true;				        	
				        	if(this.size/1024 > 4028)
			        		{
				        		validImage = false;
				        		//alert('Зурагны хэмжээ хэтэрсэн байна !!!');
				        		showErrorMessage();
				        		$(this).val('')
			        		}
				        	
				        	if (this.type.match('image.*') && validImage) {
					        	var reader = new FileReader();
					        	reader.onload = (function(theFile){
					        		return function(e){
					        			$(PrimeFaces.escapeClientId('form:uploadFileId1')).val(e.target.result);
					        			var top = $('img.company-logo1').innerHeight()/2;
					        			if(top <= 60)
					        				top= 60;
					        			$('img.company-logo1').attr('src',e.target.result)
					        			document.getElementById('form:stmp').value = e.target.result;
					        		}
					        	})(this);
					        	reader.readAsDataURL(this);
				        	}
				        });	
				    };
				});
			});
			
			
			$('body').on('keydown', 'input, select, textarea', function(e) {
			    var self = $(this)
			      , form = self.parents('form:eq(0)')
			      , focusable
			      , next
			      ;
			    if (e.keyCode == 13) {
			        focusable = form.find('input,a,select,button,textarea').filter(':visible');
			        next = focusable.eq(focusable.index(this)+1);
			        if (next.length) {
			            next.focus();
			        } else {
			            form.submit();
			        }
			        return false;
			    }
			});
			//]]>
		</script>
	</ui:define>
</ui:composition>