<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		
		<section class="content-header">
			<h1>Эдийн засгийн хуанли</h1>
			
			<ol class="breadcrumb">
				<li class="active">Эдийн засгийн хуанли</li>
			</ol>
		</section>

		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-body">
							<div class="row">
								<div class="col-md-4">
									<div class="box-header">
										<h3 class="box-title">Календар</h3>
									</div>
								</div>
								<div class="col-md-2">
								  <p:remoteCommand name="filterCalendar" process="@this form:fillOrganization" action="#{twoController.filterCalendar}"/>		
								 </div>
								<div class="col-md-2">
									<div class="row">
										<p:selectOneMenu id="fillOrganization" styleClass="form-control" value="#{twoController.subOrganizationPkId}">
											<f:selectItem itemValue="0" itemLabel="Бүх"></f:selectItem>
											<f:selectItems value="#{twoController.subOrganizations}" var="sub" itemLabel="#{sub.name}" itemValue="#{sub.pkId}" />
											<p:ajax event="change" oncomplete="filterCalendar();"/>
										</p:selectOneMenu>
									</div>
								</div>
								 <div class="col-md-2">
									<div class="text-right">
										<p:commandLink onclick="PF('economicCalendar').show()" styleClass="btn">
											<i class="fa fa-fw fa-calendar" /> Календар тохируулах
										</p:commandLink>
									</div>
								</div>
								<div class="col-md-2">
									<p:commandLink styleClass="btn" onclick="PF('economicCalendarDay').show()">
										<i class="fa fa-fw fa-cog"/> Календар өдрөөр тохируулах
									</p:commandLink>
								</div>
							</div>
						</div>
					</div>
					<div class="box box-primary">
		                <div class="box-body no-padding">
		                  	<div id="calendar" class="popup" ></div>
		                </div>
		        	</div>
				</div>
			</div>
		</section>
		<p:dialog styleClass="economicCalendar" widgetVar="economicCalendar" 
				modal="true" resizable="true" width="600" header="Эдийн засгийн хуанли тохируулах">
			<div class="row">
				<div class="col-md-12">
					<label>Байгууллагын нэр: #{userController.loggedInfo.organization.name}</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 margin-vertical">
					<p:fieldset legend="Ажлын өдөр">
						<div class="row flex-container">
							<div class="col-xs-12">
								<h:outputLabel>
									Ажлын цаг
								</h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa1" for="date1">Эхлэх цаг : </h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa">
									<input type="text" class="form-control timepicker" 
										value="#{applicationController.currentEconomicCalendar.workTimeBegin}" id="date1" />
								</h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa1" for="date2" style="margin-left: 20px;"> Дуусах цаг : </h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa">
									<input type="text" class="form-control timepicker" 
										value="#{applicationController.currentEconomicCalendar.workTimeEnd}" id="date2" />
								</h:outputLabel>
							</div>
							<div class="col-xs-12 margin-top">
								<h:outputLabel>Цайны цаг</h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa1" for="date3">Эхлэх цаг : </h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa">
									<input type="text" class="form-control timepicker" 
										value="#{applicationController.currentEconomicCalendar.lunchTimeBegin}" id="date3" />
								</h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa1" for="date4" style="margin-left: 20px;"> Дуусах цаг : </h:outputLabel>
							</div>
							<div class="col-md-3 flex-center-self">
								<h:outputLabel styleClass="daa_label_xaxa">
									<input type="text" class="form-control timepicker" value="#{applicationController.currentEconomicCalendar.lunchTimeEnd}" id="date4" />
								</h:outputLabel>
							</div>
						</div>
					</p:fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<div class="row">
						<h:inputHidden id="dte1" value="#{applicationController.currentEconomicCalendar.workTimeBegin}"></h:inputHidden>
						<h:inputHidden id="dte2" value="#{applicationController.currentEconomicCalendar.workTimeEnd}"></h:inputHidden>
						<h:inputHidden id="dte3" value="#{applicationController.currentEconomicCalendar.lunchTimeBegin}"></h:inputHidden>
						<h:inputHidden id="dte4" value="#{applicationController.currentEconomicCalendar.lunchTimeEnd}"></h:inputHidden>
						<h:inputHidden id="dte5" value="#{applicationController.currentEconomicCalendar.satTimeBegin}"></h:inputHidden>
						<h:inputHidden id="dte6" value="#{applicationController.currentEconomicCalendar.satTimeEnd}"></h:inputHidden>
						<h:inputHidden id="dte7" value="#{applicationController.currentEconomicCalendar.sunTimeBegin}"></h:inputHidden>
						<h:inputHidden id="dte8" value="#{applicationController.currentEconomicCalendar.sunTimeEnd}"></h:inputHidden>
						<div class="col-xs-1"><h:selectBooleanCheckbox id="saturdayis" value="#{applicationController.currentEconomicCalendar.saturday}"></h:selectBooleanCheckbox></div>
						<div class="col-xs-10" style="font-size: 12px; margin-top: 2px;"><label for="form:saturdayis">Бямбад ажиллах эсэх</label></div>
					</div>
					<div class="row" style="margin-top: 15px;">
						<div class="col-xs-1"><h:selectBooleanCheckbox id="sundayis" value="#{applicationController.currentEconomicCalendar.sunday}"></h:selectBooleanCheckbox></div>
						<div class="col-xs-10" style="font-size: 12px; margin-top: 2px;"><label for="form:sundayis">Нямд ажиллах эсэх</label></div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="row flex-container">
						<input type="time" value="#{applicationController.currentEconomicCalendar.satTimeBegin}" class="form-control timepicker flex-center-self" style="width: 45%;font-size: 12px;" id="date5" />
						<span class="flex-center-self"> - </span>
						<input type="time" class="form-control timepicker flex-center-self" style="width: 45%;font-size: 12px;" id="date6" value="#{applicationController.currentEconomicCalendar.satTimeEnd}" />
					</div>
					<div class="row flex-container">
						<input type="time" value="#{applicationController.currentEconomicCalendar.sunTimeBegin}" class="form-control timepicker flex-center-self" style="width: 45%;font-size: 12px;" id="date7" />
						<span class="flex-center-self"> - </span>
						<input type="time" class="form-control timepicker flex-center-self" style="width: 45%;font-size: 12px;" id="date8" value="#{applicationController.currentEconomicCalendar.sunTimeEnd}" />
					</div>
				</div>
			</div>
			<div class="row margin-top">
				<div class="col-xs-9"></div>
				<div class="col-xs-3">
					<p:commandLink styleClass="btn" onclick="setValues()" 
						process="@this form:sundayis form:saturdayis form:dte1 form:dte2 form:dte3 form:dte4 form:dte5 form:dte6 form:dte7 form:dte8 " 
						action="#{twoController.saveEconomicCalendar()}" update=":form:message" ><i class="fa fa-fw fa-check"/> Хадгалах</p:commandLink>
				</div>
			</div>
		</p:dialog>
		
	<p:dialog widgetVar="employeeList" modal="true" resizable="true" width="300"
			stlyeClass="dialog-scroll" header="Ажилтан сонгох" >
		<div class="row">
			<div class="col-md-12">
				<p:dataTable id="employeeTable" styleClass="myTable employeeTable" value="#{twoController.filteredEmployees}" var="item" rowIndexVar="index" selectionMode="multiple" rowKey="#{item.pkId}" selection="#{twoController.selectedEmployees}" >
					<p:ajax event="rowSelect" />
					<p:column styleClass="text" headerText="Овог">#{item.lastName}</p:column>
					<p:column styleClass="text" headerText="Нэр">#{item.firstName}</p:column>
				</p:dataTable>
			</div>
		</div>
		<div class="row margin-top">
			<div class="col-md-6"></div>
			<div class="col-md-6 text-align-right">
				<p:commandLink process="@this" update="@(.selectioninput)" oncomplete="PF('employeeList').hide();" 
					actionListener="#{twoController.selectEmployee()}" styleClass="btn">
					<i class="fa fa-fw fa-check"/>Сонгох</p:commandLink>
			</div>
		</div>
	</p:dialog>
	
	<p:dialog id="economicCalendarHdr" styleClass="economicCalendar" widgetVar="economicCalendarDay" onShow="resize1();document.getElementById('ui-datepicker-div').className = document.getElementById('ui-datepicker-div').className + ' clendar';document.getElementById('form:askjdlas1_input').className = document.getElementById('form:askjdlas1_input').className + ' form-control';document.getElementById('form:askjdlas2_input').className = document.getElementById('form:askjdlas2_input').className + ' form-control';document.getElementById('form:askjdlas1_input').style.background = 'white';document.getElementById('form:askjdlas2_input').style.background = 'white';" modal="true" width="800" header="Эдийн засгийн хуанли өдрөөр тохируулах" resizable="true" >
		<div class="row flex-container">
			<div class="col-md-3 flex-center-self">
				<label for="form:calendarSubOrganizationName">Тасаг сонгох: </label>
			</div>
			<div class="col-md-9 flex-center-self">
				<p:selectOneMenu onchange="asdjkllkjsdajlkdas();" id="calendarSubOrganizationName" value="#{twoController.selectedSubOrganizationStr}" style="min-width: 100%;">
					<f:selectItems value="#{twoController.subOrganizations}" var="item" itemLabel="#{item.name}" itemValue="#{item.pkId}"></f:selectItems>
				</p:selectOneMenu>
				<p:remoteCommand name="asdjkllkjsdajlkdas" process="calendarSubOrganizationName" update="@(.employeeTable)" />
			</div>
		</div>
		<div class="row flex-container">
			<div class="col-md-3 flex-center-self">
				<label for="form:employeeName">Ажилтан сонгох: </label>
			</div>
			<div class="col-md-9 flex-center-self">
				<p:inputText onclick="PF('employeeList').show()" styleClass="selectioninput" id="employeeName" name="employeeName" value="#{twoController.lstSelectionEmployeeNames}" style="min-width: 100%;" />
			</div>
		</div>
		<div class="row flex-container">
			<div class="col-md-3 flex-center-self">
				<label for="form:dtl31">Хугацаа хооронд: </label>
			</div>
			<div class="col-sm-5">
				<p:calendar id="askjdlas1" pattern="yyyy-MM-dd" styleClass="date-control pull-left" value="#{twoController.economicCalendarHdr.beginDate}" />
				<label style="padding: 0px 5px;" class="pull-left">-</label>
				<p:calendar id="askjdlas2" pattern="yyyy-MM-dd" styleClass="date-control pull-left" value="#{twoController.economicCalendarHdr.endDate}" />
			</div>
		</div>
		<div class="row flex-container">
			<div class="col-md-3 flex-center-self">
				<label for="form:employeeStatus">Төлөв:</label>
			</div>
			<div class="col-md-9 flex-center-self">
				<p:selectOneMenu id="employeeStatus" value="#{twoController.economicCalendarHdr.name}" style="min-width: 100%;">
					<f:selectItem itemLabel="Амрана" itemValue="Амрана"></f:selectItem>
					<f:selectItem itemLabel="Хувийн ажилтай" itemValue="Хувийн ажилтай"></f:selectItem>
					<f:selectItem itemLabel="Хичээлтэй" itemValue="Хичээлтэй"></f:selectItem>
				</p:selectOneMenu>
			</div>
		</div>
		<div class="row flex-container">
			<div class="col-md-3 flex-center-self">
				<label for="form:timeRange">Цаг:</label>
			</div>
			<div class="col-sm-4 flex-center-self">
				<label>
					<h:inputHidden id="timeBeginDate" value="#{twoController.economicCalendarHdr.timeBegin}" />
					<input type="text" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all date-control" id="dtl3" value="#{twoController.economicCalendarHdr.timeBegin}" />
				</label>
				<label style="padding: 0px 5px;">-</label>
				<label>
					<h:inputHidden id="timeEndDate" value="#{twoController.economicCalendarHdr.timeEnd}" />
					<input type="text" class="ui-inputfield ui-inputtext ui-widget ui-state-default ui-corner-all date-control" id="dtl4" value="#{twoController.economicCalendarHdr.timeEnd}" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-1">
				<label style="float: right;">
					<h:selectBooleanCheckbox id="allday" value="#{twoController.economicCalendarHdr.rateAll}" onchange="changeRateAll();" styleClass="minimal allday" style="float: right;" />
					<p:remoteCommand name="changeRateAll" process="form:allday" update="@(.repeat, .panelDtl)" oncomplete="resize1();"></p:remoteCommand>
				</label>
			</div>
			<div class="col-md-3 ">
				<label style="font-size: 12px; margin-top: 3px;" for="form:allday">Бүх өдөр</label>
			</div>
			
			<div class="col-md-1">
				<label style="float: right;">
					<h:selectBooleanCheckbox id="repeat" value="#{twoController.economicCalendarHdr.rateNotAll}" onchange="changeRateNotAll();" styleClass="minimal repeat" style="float: right;" />
					<p:remoteCommand name="changeRateNotAll" process="form:repeat" oncomplete="resize1();" update="@(.allday, .panelDtl, .panelDtl1, .davaadorjiinhendchheregguiclass)"></p:remoteCommand>
				</label>
			</div>
			<div class="col-md-4">
				<label style="font-size: 12px; margin-top: 3px;" for="form:repeat">Давтамж тохируулах</label>
			</div>
		</div>
		<p:panel style="border: 0px;" styleClass="panelDtl" id="panelDtl1">
			<div class="row">
				<p:panel style="border: 0px;" styleClass="davaadorjiinhendchheregguiclass" rendered="#{twoController.economicCalendarHdr.rateNotAll}">
					<div class="col-md-3"></div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-5">
								<h:selectBooleanCheckbox id="asdasd1" onchange="asdasdassadad1();" value="#{twoController.economicCalendarHdr.configType1}" />
								<p:remoteCommand process="asdasd1" name="asdasdassadad1" update="@(.davaadorjiinhendchheregguiclass)" oncomplete="resize1();" />
								<label style="font-size: 12px;" for="form:asdasd1">Долоо хоног</label>
							</div>
							<div class="col-md-5">
								<h:selectBooleanCheckbox id="asdasd2" onchange="asdasdassadad2();" value="#{twoController.economicCalendarHdr.configType2}" />
								<p:remoteCommand process="asdasd2" name="asdasdassadad2" update="@(.davaadorjiinhendchheregguiclass)" oncomplete="resize1();" />
								<label style="font-size: 12px;" for="form:asdasd2">Сараар тохируулах</label>
							</div>
						</div>
							<p:panel style="border: 0px;" styleClass="asdasdasdasdasd1" id="asdasdasdasdasd1" rendered="#{twoController.economicCalendarHdr.configType1}">
								<div class="row" style="margin-bottom: -30px;">
									<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.rateAll}" value="#{twoController.economicCalendarHdr.check1}" />Даваа</label></div>
									<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.rateAll}" value="#{twoController.economicCalendarHdr.check2}" />Мягмар</label></div>
									<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.rateAll}" value="#{twoController.economicCalendarHdr.check3}" />Лхагва</label></div>
									<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.rateAll}" value="#{twoController.economicCalendarHdr.check4}" />Пүрэв</label></div>
									<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.rateAll}" value="#{twoController.economicCalendarHdr.check5}" />Баасан</label></div>
									<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.rateAll}" value="#{twoController.economicCalendarHdr.check6}" />Бямба</label></div>
									<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.rateAll}" value="#{twoController.economicCalendarHdr.check7}" />Ням</label></div>
								</div>
							</p:panel>
							<p:panel style="border: 0px;" styleClass="asdasdasdasdasd2" id="asdasdasdasdasd2" rendered="#{twoController.economicCalendarHdr.configType2}">
								<div class="row">
									<div class="col-md-3">
										<h:selectBooleanCheckbox id="asdasd" onchange="changechMonth()" value="#{twoController.economicCalendarHdr.chDay}" />
										<p:remoteCommand process="asdasd" name="changechMonth" update="@(.davaadorjiinhendchheregguiclass)" />
										<label style="font-size: 12px;" for="form:asdasd" >Өдөр</label>
									</div>
									<div class="col-md-1"></div>
									<div class="col-md-4">
										<h:selectOneMenu disabled="#{twoController.economicCalendarHdr.configCalendarByDay()}" value="#{twoController.economicCalendarHdr.monthBeginDate}" styleClass="form-control" style="width: 40px;font-size: 11px;padding: 0px;padding-top: 5px;padding-bottom: 5px; float: left;" >
											<f:selectItem itemValue="1" itemLabel="1" />
											<f:selectItem itemValue="2" itemLabel="2" />
											<f:selectItem itemValue="3" itemLabel="3" />
											<f:selectItem itemValue="4" itemLabel="4" />
											<f:selectItem itemValue="5" itemLabel="5" />
											<f:selectItem itemValue="6" itemLabel="6" />
											<f:selectItem itemValue="7" itemLabel="7" />
											<f:selectItem itemValue="8" itemLabel="8" />
											<f:selectItem itemValue="9" itemLabel="9" />
											<f:selectItem itemValue="10" itemLabel="10" />
											<f:selectItem itemValue="11" itemLabel="11" />
											<f:selectItem itemValue="12" itemLabel="12" />
											<f:selectItem itemValue="13" itemLabel="13" />
											<f:selectItem itemValue="14" itemLabel="14" />
											<f:selectItem itemValue="15" itemLabel="15" />
											<f:selectItem itemValue="16" itemLabel="16" />
											<f:selectItem itemValue="17" itemLabel="17" />
											<f:selectItem itemValue="18" itemLabel="18" />
											<f:selectItem itemValue="19" itemLabel="19" />
											<f:selectItem itemValue="20" itemLabel="20" />
											<f:selectItem itemValue="21" itemLabel="21" />
											<f:selectItem itemValue="22" itemLabel="22" />
											<f:selectItem itemValue="23" itemLabel="23" />
											<f:selectItem itemValue="24" itemLabel="24" />
											<f:selectItem itemValue="25" itemLabel="25" />
											<f:selectItem itemValue="26" itemLabel="26" />
											<f:selectItem itemValue="27" itemLabel="27" />
											<f:selectItem itemValue="28" itemLabel="28" />
											<f:selectItem itemValue="29" itemLabel="29" />
											<f:selectItem itemValue="20" itemLabel="30" />
											<f:selectItem itemValue="31" itemLabel="31" />
										</h:selectOneMenu>
										<span style="float: left;">-</span>
										<h:selectOneMenu disabled="#{twoController.economicCalendarHdr.configCalendarByDay()}" value="#{twoController.economicCalendarHdr.monthEndDate}" styleClass="form-control" style="width: 40px;font-size: 11px;padding: 0px;padding-top: 5px;padding-bottom: 5px; float: left;" >
											<f:selectItem itemValue="1" itemLabel="1" />
											<f:selectItem itemValue="2" itemLabel="2" />
											<f:selectItem itemValue="3" itemLabel="3" />
											<f:selectItem itemValue="4" itemLabel="4" />
											<f:selectItem itemValue="5" itemLabel="5" />
											<f:selectItem itemValue="6" itemLabel="6" />
											<f:selectItem itemValue="7" itemLabel="7" />
											<f:selectItem itemValue="8" itemLabel="8" />
											<f:selectItem itemValue="9" itemLabel="9" />
											<f:selectItem itemValue="10" itemLabel="10" />
											<f:selectItem itemValue="11" itemLabel="11" />
											<f:selectItem itemValue="12" itemLabel="12" />
											<f:selectItem itemValue="13" itemLabel="13" />
											<f:selectItem itemValue="14" itemLabel="14" />
											<f:selectItem itemValue="15" itemLabel="15" />
											<f:selectItem itemValue="16" itemLabel="16" />
											<f:selectItem itemValue="17" itemLabel="17" />
											<f:selectItem itemValue="18" itemLabel="18" />
											<f:selectItem itemValue="19" itemLabel="19" />
											<f:selectItem itemValue="20" itemLabel="20" />
											<f:selectItem itemValue="21" itemLabel="21" />
											<f:selectItem itemValue="22" itemLabel="22" />
											<f:selectItem itemValue="23" itemLabel="23" />
											<f:selectItem itemValue="24" itemLabel="24" />
											<f:selectItem itemValue="25" itemLabel="25" />
											<f:selectItem itemValue="26" itemLabel="26" />
											<f:selectItem itemValue="27" itemLabel="27" />
											<f:selectItem itemValue="28" itemLabel="28" />
											<f:selectItem itemValue="29" itemLabel="29" />
											<f:selectItem itemValue="20" itemLabel="30" />
											<f:selectItem itemValue="31" itemLabel="31" />
										</h:selectOneMenu>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<h:selectBooleanCheckbox id="asdasdasdas" onchange="changechMonthWeek()" value="#{twoController.economicCalendarHdr.chMonth}" />
										<p:remoteCommand name="changechMonthWeek" process="asdasdasdas" update="@(.davaadorjiinhendchheregguiclass)" />
										<label style="font-size: 12px;" for="form:asdasdasdas">Долоо хоног</label>
									</div>
									<div class="col-md-5">
										<h:selectOneMenu disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" styleClass="form-control" style="min-width: 100%;" >
											<f:selectItem itemValue="1" itemLabel="Нэгдүгээр" />
											<f:selectItem itemValue="2" itemLabel="Хоёрдугаар" />
											<f:selectItem itemValue="3" itemLabel="Гуравдугаар" />
											<f:selectItem itemValue="4" itemLabel="Дөрөвдүгээр" />
											<f:selectItem itemValue="5" itemLabel="Тавдугаар" />
										</h:selectOneMenu>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3"></div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" value="#{twoController.economicCalendarHdr.ch1}" />Даваа</label></div>
											<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" value="#{twoController.economicCalendarHdr.ch2}" />Мягмар</label></div>
											<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" value="#{twoController.economicCalendarHdr.ch3}" />Лхагва</label></div>
											<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" value="#{twoController.economicCalendarHdr.ch4}" />Пүрэв</label></div>
											<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" value="#{twoController.economicCalendarHdr.ch5}" />Баасан</label></div>
											<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" value="#{twoController.economicCalendarHdr.ch6}" />Бямба</label></div>
											<div class="col-md-3"><label style="font-size: 12px;"><h:selectBooleanCheckbox disabled="#{twoController.economicCalendarHdr.configCalendarByWeek()}" value="#{twoController.economicCalendarHdr.ch7}" />Ням</label></div>
										</div>
									</div>
								</div>
							</p:panel>
					</div>
				</p:panel>
			</div>
		</p:panel>
		<p:panel style="border: 0px;" styleClass="panelDtl" id="panelDtl">
		</p:panel>
		<div class="row">
			<div class="col-md-9"></div>
			<div class="col-md-3">
				<label style="float: right;">
					<p:commandLink onclick="setFormValues();" process="@this form:economicCalendarHdr" 
						action="#{twoController.saveEmployeeCalendarHdr()}" styleClass="btn">
						<i class="fa fa-fw fa-check"/>Хадгалах
					</p:commandLink>
				</label>
			</div>
		</div>
	</p:dialog>

		<p:dialog styleClass="economicCalendar" widgetVar="economicCalendarRepeat" modal="true" resizable="true" width="500" height="350" header="Давтамж тохируулах">
			<div class="row form-group">
				<div class="col-md-2">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="d1" value="" styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-3">
					<label for="form:insurance">Даваа</label>
				</div>

				<div class="col-md-2">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="d2" value="" styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-3">
					<label for="form:insurance">Мягмар</label>
				</div>

				<div class="col-md-2">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="d3" value="" styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-3">
					<label for="form:insurance">Лхагва</label>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-2">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="d4" value="" styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-3">
					<label for="form:insurance">Пүрэв</label>
				</div>

				<div class="col-md-2">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="d5" value="" styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-3">
					<label for="form:insurance">Баасан</label>
				</div>

				<div class="col-md-2">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="d6" value="" styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-3">
					<label for="form:insurance">Бямба</label>
				</div>
			</div>

	<div class="row form-group">
				<div class="col-md-2">
					<label style="float: right;"> <h:selectBooleanCheckbox
							id="d7" value="" styleClass="minimal" style="float: right;" />
					</label>
				</div>
				<div class="col-md-3">
					<label for="form:insurance">Ням</label>
				</div>

				
			</div>
		</p:dialog>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
			function setFormValues(){
				document.getElementById('form:timeBeginDate').value = document.getElementById('dtl3').value;
				document.getElementById('form:timeEndDate').value = document.getElementById('dtl4').value;
				//document.getElementById('form:dateStr').value = document.getElementById('reservation').value;
			}

			function setValues(){
				document.getElementById('form:dte1').value = document.getElementById('date1').value;
				document.getElementById('form:dte2').value = document.getElementById('date2').value;
				document.getElementById('form:dte3').value = document.getElementById('date3').value;
				document.getElementById('form:dte4').value = document.getElementById('date4').value;
				document.getElementById('form:dte5').value = document.getElementById('date5').value;
				document.getElementById('form:dte6').value = document.getElementById('date6').value;
				document.getElementById('form:dte7').value = document.getElementById('date7').value;
				document.getElementById('form:dte8').value = document.getElementById('date8').value;
			}
			           
			$(function() {
				function ini_events(ele) {
					ele.each(function() {
						var eventObject = {
							title : $.trim($(this).text())
						};

						$(this).data('eventObject', eventObject);

						$(this).draggable({
							zIndex : 1070,
							revert : true,
							revertDuration : 0
						});

					});
				}
				ini_events($('#external-events div.external-event'));

				var date = new Date();
				var d = date.getDate(), m = date.getMonth(), y = date
						.getFullYear();
				$('#calendar').fullCalendar(
						{
							header : {
								left : 'prev,next today',
								center : 'title',
								right : 'month,agendaWeek,agendaDay'
							},
							buttonText : {
								today : 'Өнөөдөр',
								month : 'Сар',
								week : 'Долоон хоног',
								day : 'Өдөр'
							},
							
							events : [ 
								
								#{twoController.calendarStr}
								
							],
							 eventClick: function(event) {
								 debugger ;
								 $this = $(this);
							     $this.popover({html:true,title:event.emplayeename,placement:'top'}).popover('show');
							    },
							editable : false,
							droppable : true,
							drop : function(date, allDay) {

								var originalEventObject = $(this).data(
										'eventObject');

								var copiedEventObject = $.extend({},
										originalEventObject);

								copiedEventObject.start = date;
								copiedEventObject.allDay = allDay;
								copiedEventObject.backgroundColor = $(this)
										.css("background-color");
								copiedEventObject.borderColor = $(this).css(
										"border-color");
								
								$('#calendar').fullCalendar('renderEvent',
										copiedEventObject, true);

								if ($('#drop-remove').is(':checked')) {

									$(this).remove();
								}

							}
						});
			
				var currColor = "#3c8dbc";

				var colorChooser = $("#color-chooser-btn");
				$("#color-chooser > li > a").click(function(e) {
					e.preventDefault();

					currColor = $(this).css("color");
					$('#add-new-event').css({
						"background-color" : currColor,
						"border-color" : currColor
					});
				});
				$("#add-new-event").click(function(e) {
					e.preventDefault();

					var val = $("#new-event").val();
					if (val.length == 0) {
						return;
					}

					var event = $("<div />");
					event.css({
						"background-color" : currColor,
						"border-color" : currColor,
						"color" : "#fff"
					}).addClass("external-event");
					event.html(val);
					$('#external-events').prepend(event);

					ini_events(event);

					$("#new-event").val("");
				});
			});
			$('#reservation').daterangepicker();
			$('#daterange-btn').daterangepicker(
				{
	            	ranges: {
	                    'Today': [moment(), moment()],
	                    'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
	                    'Last 7 Days': [moment().subtract('days', 6), moment()],
	                    'Last 30 Days': [moment().subtract('days', 29), moment()],
	                    'This Month': [moment().startOf('month'), moment().endOf('month')],
	                	'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
	                },
	                startDate: moment().subtract('days', 29),
	                endDate: moment()
	            },
		        function (start, end) {
		        	$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		        }
	        );
			
			function resize1(){
// 				if(document.getElementById('form:allday').checked == true){
// 					document.getElementsByClassName('ui-dialog-content ui-widget-content')[2].style.height = '330px';
// 				}else if(document.getElementById('form:asdasd1').checked == true){
// 					document.getElementsByClassName('ui-dialog-content ui-widget-content')[2].style.height = '420px';
// 				}else {
// 					document.getElementsByClassName('ui-dialog-content ui-widget-content')[2].style.height = '540px';
// 				}
			}
			
			
			//]]>
		</script>
	</ui:define>
</ui:composition>