<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Хандах эрх</h1>
		<ol class="breadcrumb">
			<li class="active">Хандах эрх</li>
			<li><p:commandLink action="#{userController.url('role_list')}"
					value="Хандах эрх жагсаалт">
					<i class="fa fa-circle-o"></i>
				</p:commandLink></li>
			<li class="active">Бүртгэл</li>
		</ol>
		</section>
		<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="form:parent">#{i18n['group']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:selectOneMenu id="parent" value="#{infoController.currentRole.parentPkId}" style="min-width: 100%;">
							<f:selectItem itemLabel="Сонгох" itemValue="0"></f:selectItem>
							<f:selectItems value="#{infoController.roles}" var="role" itemLabel="#{role.name}" itemValue="#{role.pkId}"></f:selectItems>
						</p:selectOneMenu>
					</div>
				</div>
				<div class="row flex-container">
					<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
						<label for="form:name">#{i18n['name']}</label>
					</div>
					<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
						<p:inputText id="name" value="#{infoController.currentRole.name}"></p:inputText>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<label style="" for="form:pickList">#{i18n['set_menu']}</label>
					</div>
					<div class="col-md-10">
						<p:selectManyCheckbox id="grid" value="#{infoController.currentRole.menuPkIds}" 
							styleClass="table-checkbox" layout="grid" columns="3">
					        <f:selectItems value="#{infoController.menus}" var="menu" 
					        	itemLabel="#{menu.name}" itemValue="#{menu.pkId}" />
					    </p:selectManyCheckbox>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-right">
						<p:commandLink action="#{infoController.saveRole}" styleClass="btn"
							update="form:message"><i class="fa fa-fw fa-check" /> #{i18n['save']}</p:commandLink>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
		           
		           	$('body').on('keydown', 'input, select, textarea', function(e) {
				    var self = $(this)
				      , form = self.parents('form:eq(0)')
				      , focusable
				      , next
				      ;
				    if (e.keyCode == 13) {
				        focusable = form.find('input,a,select,button,textarea').filter(':visible');
				        next = focusable.eq(focusable.index(this)+1);
				        if (next.length) {
				            next.focus();
				        } else {
				            form.submit();
				        }
				        return false;
				    }
				});
			
		           
			//]]>
		</script>
	</ui:define>
</ui:composition>