<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>
			Үйлчлүүлэгч
			
		</h1>
		<ol class="breadcrumb">
			<li class="active">Үйлчлүүлэгч</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Үйлчлүүлэгчдийн жагсаалт</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
					<div class = "row">
						<p:commandLink styleClass = "btn" value="Үйлчлүүлэх"/>
						<p:commandLink styleClass = "btn" value="Амбулатори"/>
						<p:commandLink styleClass = "btn" value="Хэвтэн"/>
						<p:commandLink styleClass = "btn" value="Шинжилгээ"/>
						<p:commandLink styleClass = "btn" value="Оношилгоо"/>
						<p:commandLink styleClass = "btn" value="Эмийн бус эмчилгээ"/>
						
					</div>
						<p:panel id="rdtl" styleClass="no-style-panel">
							<div class="row">
								<div class="col-xs-12 flex-container">
									<div class="row flex-container" style="margin-top: 10px; margin-botton: 10px;">
										<div class="col-md-4 flex-center-self">
											<label class="flex-center-self" style="margin-right: 10px !important;">#{i18n['date']} :</label>
											<p:calendar pattern="yyyy-MM-dd" style="display:inline-block;" styleClass="flex-center-self date-control" id = "beginDate" value = "#{customerListController.beginDate}" onchange = "changed(); " update = ":form:customerList"> 
												<p:ajax event="dateSelect" listener="#{customerListController.refreshCustomerList()}" update = ":form:customerList"  />
											</p:calendar>
											<label class="flex-center-self">-</label>
											<p:calendar pattern="yyyy-MM-dd" style="display:inline-block" id = "endDate" styleClass="flex-center-self date-control" value = "#{customerListController.endDate}" onchange = "changed(); " update = ":form:customerList"> 
												<p:ajax event="dateSelect" listener="#{customerListController.refreshCustomerList()}" update = ":form:customerList" />
											</p:calendar>
										</div>
										<div class="col-md-3 flex-center-self">
											<p:selectOneMenu style="width:100%" value="#{customerListController.subOrganizationPkId}">
												<f:selectItem itemLabel="Кабинет" itemValue="0"></f:selectItem>
												<f:selectItems value="#{customerListController.subOrganizations}" var="list" itemLabel="#{list.name}" itemValue="#{list.pkId}"></f:selectItems>
												<p:ajax event="change" update=":form:customerList" listener="#{customerListController.refreshCustomerList()}"></p:ajax>
												<p:ajax event="change" update="form:employee"></p:ajax>
											</p:selectOneMenu>
										</div>
										<div class="col-md-3 flex-center-self">
											<p:selectOneMenu style="width:100%" value="#{customerListController.employeePkId}" id="employee">
												<f:selectItem itemLabel="Эмч" itemValue="0"></f:selectItem>
												<f:selectItems value="#{customerListController.employees}" var="list" itemLabel="#{list.firstName}" itemValue="#{list.pkId}"></f:selectItems>
												<p:ajax event="change" update=":form:customerList" listener="#{customerListController.refreshCustomerList()}"></p:ajax>
											</p:selectOneMenu>
										</div>
										<div class="col-md-2 flex-center-self">
											<p:inputText placeholder="Овог, Нэр, РД" value="#{customerListController.filterKey}" onkeyup="changed();" />
										</div>
									</div>
									<p:remoteCommand name="changed" actionListener="#{customerListController.refreshCustomerList()}" update=":form:customerList"></p:remoteCommand>
									<div class="row">
										<div class="col-md-4">
											<label class="label label-danger">Яаралтай</label> <label
												class="label label-warning">Шууд</label> <label
												class="label label-success">Урьдчилсан Захиалга</label>
									</div>
									<div class="col-md-12">
									 	<p:dataTable id="customerList" styleClass="myTable" value="#{customerListController.customerLists}" var="info" rowIndexVar="index" emptyMessage="#{i18n['empty']}" resizableColumns="true">
											<p:column styleClass="date" headerText = "#{i18n['order_date']}" sortBy="#{info.employeeRequest.dateString}" >#{info.employeeRequest.dateString}</p:column>
											<p:column styleClass="text" headerText = "Кабинет" sortBy="#{info.subOrganization.name}" >#{info.subOrganization.name}</p:column>
											<p:column styleClass="text" headerText = "Эмч"  sortBy="#{info.employee.firstName}" >#{info.employee.firstName}</p:column>
											<p:column styleClass="date" headerText="#{i18n['time']}"   sortBy="#{info.employeeRequest.requestDateStr}" ><div style="background: #{info.employeeRequest.bgColor}; color:white;"> #{info.employeeRequest.requestDateStr} </div></p:column>
											<p:column styleClass="id" headerText="#{i18n['card_number']}"   sortBy="#{info.customer.cardNumber}" >#{info.customer.cardNumber}</p:column>
											<p:column styleClass="text" headerText="#{i18n['last_name']}"   sortBy="#{info.customer.lastName}" >#{info.customer.lastName.substring(0,1)}  . #{info.customer.firstName}  </p:column>
											<p:column styleClass="id" headerText="#{i18n['register_number']}"  sortBy="#{info.customer.regNumber}" >#{info.customer.regNumber}</p:column>
											<p:column styleClass="short-number" headerText="#{i18n['age']}"  sortBy="#{info.customer.age}" >#{info.customer.age}</p:column>
											<p:column styleClass="short-text" headerText="#{i18n['gender']}" sortBy="#{info.customer.getGenderString()}" >#{info.customer.getGenderString()}</p:column>
											<p:column styleClass="short-text" headerText="Захиалсан"  sortBy="#{info.employee1.firstName}" >#{info.employee1.firstName}</p:column>
											<p:column styleClass="short-text" headerText="Захиалгын Огноо" sortBy="#{info.employeeRequest.requestDayStr}" >#{info.employeeRequest.requestDayStr}</p:column>
											<p:column styleClass="short-text" headerText="Ирсэн цаг" sortBy="#{info.employeeRequest.requestDayStr}" >#{info.employeeRequest.dateWithHour(info.employeeRequest.arrivedDate)}</p:column>
											<p:column styleClass="button-icon" headerText="Ирсэн эсэх">
												<p:commandLink styleClass="fa fa-check color-green" rendered="#{info.employeeRequest.arrivedDate == null}" actionListener="#{customerListController.prepareEmployeeRequest(info.employeeRequest.pkId, info.customer.firstName, info.subOrganization.name, info.employee.firstName)}" update="@(.confirmDialog)" oncomplete="PF('confirmDialog').show();"></p:commandLink>
											</p:column>
										</p:dataTable>
									 </div>
									</div>
								</div>
							</div>
						</p:panel>
					</div>
				</div>
			</div>
		</div>
		</section>
		<p:dialog styleClass="confirmDialog" widgetVar="confirmDialog" id="confirmDialog"
			modal="true" resizable="true" width="300" closeOnEscape="true">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon"><i
						class="fa fa-fw fa-warning color-orange" /></td>
					<td class="panel-confirm-dialog-text">
						Та #{customerListController.customerName} үйлчлүүлэгчийг #{customerListController.subOrganizationName} кабинетийн #{customerListController.employeeName} эмч рүү илгээх үү?</td>
				</tr>
			</table>
			<div class="col-xs-12">
				<div class="row">
					<div class="col-md-1" />
					<div class="col-md-5">
						<p:commandLink styleClass="btn"
							oncomplete="PF('confirmDialog').hide();"
							actionListener="#{customerListController.updateEmployeeRequest()}"
							update=":form:customerList"
							action="#{customerListController.refreshCustomerList()}"
							style="font-size: 12px;color: white;">
							<i class="fa fa-fw fa-check" />#{i18n['yes']}</p:commandLink>
					</div>
					<div class="col-md-5">
						<p:commandLink styleClass="btn redBtn"
							oncomplete="PF('confirmDialog').hide();"
							style="font-size: 12px;color: white;">
							<i class="fa fa-fw fa-times" />#{i18n['cancel']}</p:commandLink>
					</div>
					<div class="col-md-1" />
				</div>
			</div>
		</p:dialog>
		<p:remoteCommand name = "loadData" actionListener = "#{customerListController.refreshCustomerList()}" 
				update = "form:endDate form:beginDate form:customerList">
		</p:remoteCommand>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(function () {
				loadData();
            });
            var  refresh = function(){
            	var height= $(window).height()-260;
            	$(".heightScrollClass").css("height",height);
            }
		//]]>
		</script>
	</ui:define>
</ui:composition>