<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>Үйлчлүүлэгч<p:outputLabel style="display: none;">#{cashController.selectedCustomer.pkId}</p:outputLabel></h1>
		<p:commandLink action="#{userController.url('customer_register')}"
			styleClass="btn"
			actionListener="#{customerController.newCustomer}">
			<i class="fa fa-fw fa-plus-square" />#{i18n['register_customer']}
		</p:commandLink>
		
		<ol class="breadcrumb">
			<li class="active">Үйлчлүүлэгч</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
			<div class="row">
				<div class="col-xs-12">
					<div class="box">
						<div class="box-header">
							<h3 class="box-title">#{i18n['customer_list']}</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="row flex-container">
								<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
									<label>#{i18n['search']}:</label>
								</div>
								<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
									<p:remoteCommand name="filterr" actionListener = "#{customerController.loadCustomers()}" update="form:customers" />
									<label style="min-width: 100%;">
										<p:inputText id="filter-key" value = "#{customerController.filterKey}" style="min-width: 100%;" onkeyup="filterr();">
										</p:inputText>
										<p:watermark for="filter-key" value="#{i18n['register_first_last_name']}"></p:watermark>
									</label>
								</div>
								<div class="col-md-1" />
								<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
									<label>#{i18n['choose_template']}: </label>
								</div>
								<div class="col-md-5 col-xs-12 col-sm-12 flex-center-self">
									<input type="file" style="display: inline-block;width: 200px;" value="Файл сонгох" />
									<input style="display: inline-block" class="btn" type="submit" value="#{i18n['upload']}" />
								</div>
							</div>
							<p:dataTable id="customers" styleClass="myTable" value="#{customerController.customers}" var="info" rowIndexVar="index" emptyMessage="Хоосон байна" paginator="true" rows="10" rowsPerPageTemplate="15,20,25" selectionMode="single" selection="#{customerController.currentCustomer}" rowKey="#{info}">
								<p:column styleClass="index" headerText="№">#{index + 1}</p:column>
								<p:column styleClass="id" headerText="#{i18n['card_number']}" >#{info.cardNumber}</p:column>
								<p:column styleClass="text" headerText="#{i18n['last_name']}">#{info.lastName}</p:column>
								<p:column styleClass="text" headerText="#{i18n['first_name']}">#{info.firstName} </p:column>
								<p:column styleClass="id" headerText="#{i18n['register_number']}">#{info.regNumber}</p:column>
								<p:column styleClass="short-number" headerText="#{i18n['age']}">#{info.age}</p:column>
								<p:column styleClass="short-text" headerText="#{i18n['gender']}">#{info.genderString}</p:column>
								<p:column styleClass="text" headerText="Үйлчлэх хүрээ">#{info.arrangeName}</p:column>
								<p:column styleClass="text" headerText="Даатгалтай эсэх">#{info.insuranceType}</p:column>
								<p:column styleClass="text" headerText="Гэрийн хаяг">#{info.aimagName} #{info.sumName} #{info.district} #{info.building} </p:column>
								<p:column styleClass="date" headerText="#{i18n['card_register_date']}" style="white-space: nowrap;">#{info.dateString}</p:column>						
								<p:column styleClass="button-icon" headerText="#{i18n['edit']}"><p:commandLink styleClass="fa fa-fw fa-edit color-green" action = "#{customerController.modifiedCustomer(info)}"	></p:commandLink></p:column>
								<p:column styleClass="button-icon" headerText="Шинжилгээний хариу"><p:commandLink styleClass="fa fa-fw fa-list color-blue" onclick="PF('examinationResult').show();" actionListener = "#{customerController.fillCustomerExaminationRequest(info)}"></p:commandLink></p:column>							
							</p:dataTable>
						</div>
					</div>
				</div>
			</div>
		</section>
		<p:dialog widgetVar="confirmDialogDelete" modal="true" onShow="animateDialogs(this)"
			resizable="true" width="300" closeOnEscape="true">
			<table class="panel-confirm-dialog">
				<tr>
					<td class="panel-confirm-dialog-icon">
						<i class="fa fa-fw fa-warning color-orange"/>
					</td>
					<td class="panel-confirm-dialog-text">
						#{i18n['sure_to_delete']}
					</td>
				</tr>
			</table>
			<div class="col-xs-12" >
				<div class="row">
				<div class="col-md-1"> </div>
					<div class="col-md-5">
						<label><p:commandLink styleClass="medit-btn medit-btn-primary ripplelink lightgreen"
							action="#{customerController.deleteCustomer()}"
							style="font-size: 12px;color: white;"><i class="fa fa-fw fa-check"/>#{i18n['delete']}</p:commandLink>
							</label>
					</div>
					<div class="col-md-5">
						<label><p:commandLink styleClass="medit-btn medit-btn-danger ripplelink lightgreen"
							oncomplete="PF('confirmDialogDelete').hide();"
							style="font-size: 12px;color: white;"><i class="fa fa-fw fa-times"/>#{i18n['cancel']}</p:commandLink>
							</label>
					</div>
				<div class="col-md-1"> </div>
				</div>
			</div>
		</p:dialog>
		
		<p:dialog widgetVar="examinationResult" id = "examinationResult" height="450" width="800" closeOnEscape="true" resizable="true" styleClass = "dialog-scroll" header="Шинжилгээний хүсэлтүүд">
			
			<div class = "content">
			<p:panel styleClass = "no-style-panel" id = "qd">
				<div class = "row" style = "margin-top:10px; margin-botton:10px;">
					<div class = "col-md-4"><p style = "font-weight: 900; float:left;">Овог, Нэр : </p> <p> #{customerController.currentCustomer.lastName} , #{customerController.currentCustomer.firstName}</p></div>
					<div class = "col-md-4"><p style = "font-weight: 900; float:left;">Нас, Хүйс : </p> <p>#{customerController.currentCustomer.age} , #{customerController.currentCustomer.genderString}</p></div>
					<div class = "col-md-4"><p style = "font-weight: 900; float:left;">Регистрийн дугаар :  </p> <p>#{customerController.currentCustomer.regNumber} </p></div>
				</div>
			</p:panel>
			<div class = "row">
				<div class = "col-md-5">
					<div class="flex-container">
						<label class="flex-center-self">#{i18n['date']}:</label>
						<p:calendar id = "beginDate" pattern="yyyy-MM-dd" style="display:inline-block;margin-left:10px !important;" styleClass="flex-center-self date-control"  value = "#{customerController.beginDate}" navigator="true">
							 
						</p:calendar>
						<label class="flex-center-self" style="margin-right: 10px !important;">-</label>
						<p:calendar id = "endDate" pattern="yyyy-MM-dd" style="display:inline-block"  styleClass="flex-center-self date-control" value = "#{customerController.endDate}" navigator="true"  > 
					 	</p:calendar>
				 	</div>
				 </div>
				<div class = "col-md-4">
					<div class="flex-container">
						<label class="flex-center-self" style = "    padding-right: 12px;" > Хайх: </label>
						<p:inputText id = "searchInput" value = "#{inspectionController.filterKey1}" style ="width:60%" />
					</div>
					<p:watermark for = "form:searchInput" value="Овог, Нэр, РД" ></p:watermark>
				</div>
				<div class = "col-md-3">
					<p:selectOneMenu id = "examinationTypes" value = "#{customerController.filterPkId}">
						<f:selectItem itemValue="0" itemLabel="Сонгох"/>
						<f:selectItems value = "#{customerController.examinationTypes}" var = "et" itemValue="#{et.pkId}" itemLabel="#{et.name} (#{et.requestCount})" />
						<p:ajax event = "change" listener="#{customerController.exaTypeChanged()}" > </p:ajax>
					</p:selectOneMenu>
				</div>
				</div>
				<div class = "row">
					<div class = "col-md-12" style = "height: 12px;"></div>
					<p:dataTable id = "exaRequests" rowIndexVar="index" styleClass = "myTable col-md-12" value = "#{customerController.erc}" var = "c" emptyMessage="Хоосон байна"  >
						<p:column headerText="Хэвлэх" styleClass="button-icon"><p:selectBooleanCheckbox onchange="#{customerController.fillErc(c)}" valueChangeListener="#{customerController.fillErc(c)}" > 
							<p:ajax event="change"></p:ajax>
						</p:selectBooleanCheckbox> </p:column>
						<p:column styleClass = "text" headerText="Шинжилгээний нэр" >#{c.examinationName} </p:column>
						<p:column styleClass = "text" headerText = "Захиалсан эмч" > #{c.employeeName}</p:column>
						<p:column styleClass = "text" headerText = "Баталгаажуулсан эмч" > #{c.updatedEmployeeName}</p:column>
						<p:column styleClass = "date" headerText="Шинжилгээ өгсөн огноо" >#{customerController.getDateString(c.requestDate)} </p:column>
					</p:dataTable>
				</div>
				<div class = "row">
					<div class = "col-md-8"></div>
					<div class = "col-md-4" >
						<p:commandLink styleClass = "btn pull-right text-right " value = "Хэвлэх" actionListener = "#{customerController.printExaminationHdr()}" onclick="PF('exaResultPrint').show();"></p:commandLink>
					</div>
				</div>
					
			</div> 
		</p:dialog>
		
		<p:dialog widgetVar="exaResultPrint" id = "exaResultPrint" height="500" width="800" closeOnEscape="true" resizable="true" styleClass = "dialog-scroll" header="Шинжилгээний үзүүлэлтүүд" >
			<p:panel styleClass="no-style-panel" id = "dubu">
			<ui:repeat var="e" value="#{customerController.filteredErc}" varStatus="status">
			<table id="tablePrint" style="width: 100%;">
				<tr> <td colspan="4" style="font-size: 13px; font-family: Times New Roman; font-weight: 700; text-align: center; vertical-align: middle; padding: 12px 0px;"> АШУҮИС-ийн "ИХ СУРГУУЛИЙН НЭГДСЭН ЭМНЭЛЭГ" </td> </tr>
				<tr> <td colspan="2" style="font-size: 13px; font-family: Times New Roman; text-align: left; vertical-align: middle; padding: 12px 0px;"> 
						Овог, Нэр :  #{e.customer.lastName} , #{e.customer.firstName} </td>
						<td colspan="2" style="font-size: 13px; font-family: Times New Roman; text-align: right; vertical-align: middle; padding: 12px 0px;">
						Нас, Хүйс :  #{e.customer.age} , #{e.customer.genderString}			
					</td> </tr>
					<tr> <td colspan="4" style="font-size: 13px; font-family: Times New Roman; font-weight: 700; text-align: center; vertical-align: middle; padding: 12px 0px;"> #{e.examinationName} </td> </tr>
				<tr> <td colspan="4" style="font-size: 12px; font-family: Times New Roman; vertical-align: middle; padding-top: 12px;">
					<table style="border: 0.1px solid black; width: 100%" cellpadding="0" cellspacing="0">
						<tr>
							<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> №</td>
							<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">Шинжилгээний нэр</td>
							<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;">Лавлах хэмжээ</td>
							<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> Нэгж</td>
							<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> Хариу</td>
						</tr>
						<ui:repeat value="#{e.exaResults}" var = "r" varStatus="index">
						<tr>
							<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> #{index.index+1}</td>
								<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> #{r.evqName}</td>
								<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> #{r.range}</td>
								<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> #{r.measurement}</td>
								<td style="border: 0.1px solid black; text-align: center; font-size: 12px; font-family: Times New Roman; vertical-align: middle;"> #{r.value} </td>
						</tr>
						</ui:repeat>
					</table>
				</td>
				</tr>
				<tr>
					<td colspan="2" style="font-size: 12px; font-family: Times New Roman; padding: 12px 0px; text-align: left; ">Эмч:  </td>
					<td colspan="2" style="font-size: 12px; font-family: Times New Roman; padding: 12px 60px 0px 0px;  text-align: right;">Лаборант: </td>
				</tr>
				
			</table>
				<!-- <p:panel styleClass = "no-style-panel" rendered="#{!status.last}" > 
					<div  style = "page-break-before: always;" />
				</p:panel> -->
			</ui:repeat>
				<p  style="font-size: 12px; font-family: Times New Roman; vertical-align: middle; text-align: center;">Хэвлэсэн огноо: #{customerController.getDateString(customerController.currentDate)}</p> 
			</p:panel>
			<a class="btn btn-app" href="javascript:void(0)"
				onclick="print1('form:dubu');"> <i class="fa fa-print color-blue"></i>
				Хэвлэх
			</a>
			<a class="btn btn-app" onclick="printPdf();"
				href="javascript:void(0)"> <i class="fa fa-file-pdf-o color-red"></i>
				PDF <p:remoteCommand process="@this" name="printToPDF" />
			</a>
			<a class="btn btn-app"
				onclick="tableToExcel('tablePrint','Шинжилгээний хариу');"
				href="javascript:void(0)"> <i
				class="fa fa-file-excel-o color-green"></i> XLS
			</a>
		</p:dialog>
	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			$(document).ready(function () {
				filterr();
			});
		//]]>
		</script>
	</ui:define>
</ui:composition>