<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
		<section class="content-header">
		<h1>Үйлчлүүлэгчийн бүртгэл</h1>
		<ol class="breadcrumb">
			<li><p:commandLink
					action="#{userController.url('customer_list')}"
					value="Үйлчлүүлэгчийн жагсаалт">
					<i class="fa fa-circle-o"></i>
				</p:commandLink></li>
			<li class="active">Бүртгэл</li>
		</ol>
		</section>
		<section class="content">
		<div class="box">
			<div class="box-body">
				<div class="row">
					<div class="col-md-2">
						<div class="row">
							<div class="center-block profile-image-container">
								<img class="company-logo"
									src="#{customerController.currentCustomer.customerImage}"
									id="form:uploadFileId" alt=""
									style="max-height: 100px; max-width: 100px;" />
								<div class="profile-image-bar">

									<input type="file" style="display: none;"
										id="form:logo-upload-input" />
									<h:inputHidden id="logo"
										value="#{customerController.currentCustomer.customerImage}" />
									<p:commandLink id="logo-upload-button"
										value="#{i18n['choose_file']}"></p:commandLink>
									<h:commandLink
										onclick="$('img.company-logo').attr('src', '');document.getElementById('form:logo').value = ''; return false;"
										styleClass="fa fa-fw fa-trash-o"></h:commandLink>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-10">
						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:cardNumber">#{i18n['card_number']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<label style="min-width: 100%;"> <p:inputText
										disabled="true" styleClass="number-control" id="cardNumber"
										name="cardNumber"
										value="#{customerController.currentCustomer.cardNumber}"
										style="min-width: 100%;" />
								</label>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:clanName">#{i18n['family_name']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12">
								<p:inputText id="clanName" name="clanName"
									value="#{customerController.currentCustomer.clanName}"
									style="min-width: 100%;" />
							</div>
						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" class="label-asterisk" for="form:lastName789">#{i18n['last_name']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<label style="min-width: 100%;"> <p:inputText
										id="lastName789" name="lastName789"
										value="#{customerController.currentCustomer.lastName}"
										style="min-width: 100%;" />
								</label>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" class="label-asterisk" for="form:firstName789">#{i18n['first_name']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="firstName789" name="firstName789"
									value="#{customerController.currentCustomer.firstName}"
									style="min-width: 100%;" />
							</div>
						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" class="label-asterisk" for="for:citizenship">#{i18n['country']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu id="citizenship" name="lastName789"
									value="#{customerController.currentCustomer.citizenPkId}"
									filter="true" style="width: 100%;">
									<f:selectItems value="#{customerController.countries}" var="c"
										itemLabel="#{c.nameMn}" itemValue="#{c.pkId}" />
									<p:ajax event="change"
										listener="#{customerController.foreignDetail()}" />
								</p:selectOneMenu>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:regNumber">#{i18n['register_number']}:</label>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="regNumber" name="regNumber"
									value="#{customerController.currentCustomer.regNumber}"
									style="min-width: 100%;" maxlength="10">
									<p:ajax event="change"
										update="form:gender789 form:gender789Pick form:regNumber" />
								</p:inputText>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:outputLabel id="gender789"
									value="#{customerController.currentCustomer.age} нас #{customerController.currentCustomer.month} сар / #{customerController.currentCustomer.genderString}"></p:outputLabel>
							</div>

						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:birthDate">#{i18n['birth_date']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:remoteCommand name="generateRegNumber"
									actionListener="#{customerController.generateRegNumber}"
									update="form:regNumber"></p:remoteCommand>
								<p:calendar id="birthDate" pattern="yyyy-MM-dd" mask="true"
									value="#{customerController.currentCustomer.birthDate}"
									onchange="generateRegNumber()" navigator="true">
									<p:ajax event="dateSelect"
										listener="#{customerController.generateRegNumber}"
										update="form:regNumber"></p:ajax>
								</p:calendar>

							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self"
								id="gender789Label">
								<label style="" for="form:gender789Pick">#{i18n['gender789']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self"
								id="gender789Section">
								<p:selectOneRadio id="gender789Pick"
									value="#{customerController.currentCustomer.gender}">
									<f:selectItem itemLabel="Эрэгтэй" itemValue="1"></f:selectItem>
									<f:selectItem itemLabel="Эмэгтэй" itemValue="0"></f:selectItem>
									<p:ajax event="change" update="form:gender789 form:gender789Pick" />
								</p:selectOneRadio>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:socialStatus">#{i18n['social_status']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu
									value="#{customerController.currentCustomer.socialStatus}"
									id="socialStatus" style="width: 100%;" filter="true">
									<f:selectItem itemLabel="#{i18n['select']}" itemValue="Сонгох">
									</f:selectItem>
									<p:ajax event="change" process="@this"
										listener="#{customerController.hideJob(customerController.currentCustomer.socialStatus)}" />
									<f:selectItems value="#{customerController.socialStatuss}"
										var="ss" itemLabel="#{ss.name}" itemValue="#{ss.name}">
									</f:selectItems>
								</p:selectOneMenu>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" class="label-asterisk" for="form:phone">#{i18n['phone']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText styleClass="number-control" id="phone" name="phone"
									value="#{customerController.currentCustomer.phoneNumber}"
									style="min-width: 100%;" />
							</div>

						</div>

						<div class="row flex-container" id="ifWorker">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:job">#{i18n['working_place']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu value="#{customerController.jobPkId}" id="job"
									style="width: 100%;" filter="true">
									<f:selectItem itemLabel="Сонгох">
									</f:selectItem>
									<f:selectItems value="#{customerController.jobs}" var="job"
										itemLabel="#{job.name}" itemValue="#{job.pkId}">
									</f:selectItems>
								</p:selectOneMenu>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:rank">#{i18n['working_position']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="rank" name="rank"
									value="#{customerController.currentCustomer.rank}"
									style="min-width: 100%;" />
							</div>
						</div>

						<div class="row flex-container" id="isChild">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:child">#{i18n['if_child']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu value="#{customerController.isChildPkId}"
									id="child" style="width: 100%;" filter="true">
									<f:selectItem itemLabel="Сонгох">
									</f:selectItem>
									<f:selectItems value="#{customerController.isChilds}" var="ic"
										itemLabel="#{ic.name}" itemValue="#{ic.pkId}">
									</f:selectItems>
								</p:selectOneMenu>
							</div>
						</div>

						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:email">#{i18n['mail']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="email" name="email"
									value="#{customerController.currentCustomer.email}" />
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:arrange">#{i18n['scope']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:selectOneMenu id="arrange"
									value="#{customerController.currentCustomer.arrangePkId}"
									style="width: 100%;">
									<f:selectItem itemLabel="Сонгох"></f:selectItem>
									<f:selectItems value="#{customerController.arranges}" var="ar"
										itemValue="#{ar.pkId}" itemLabel="#{ar.nameMn}" />
								</p:selectOneMenu>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:rdate">#{i18n['card_register_valid_date']}:</label>
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="rdate" name="rdate"
									value="#{customerController.currentCustomer.dateString}"
									disabled="true" />
							</div>
							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<p:calendar id="validDate"
									value="#{customerController.currentCustomer.validDate}"
									navigator="true" pattern="yyyy-MM-dd">
								</p:calendar>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-12 flex-center-self">
								<label style="" for="form:user">#{i18n['card_registered_by']}:</label>
							</div>
							<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
								<p:inputText id="user" name="user"
									value="#{customerController.userSessionController.loggedInfo.user.name}"
									style="min-width: 100%;" disabled="true" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-6">
					<p:fieldset legend="#{i18n['living_address']}" toggleSpeed="100"
						styleClass="margin-bottom">
						<div class="row flex-container">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="" for="form:aimag">#{i18n['aimag_city']}:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:selectOneMenu id="aimag"
											value="#{customerController.currentCustomer.aimagPkId}"
											style="width: 100%;" filter="true">
											<p:ajax event="change"
												listener="#{customerController.updateSums()}"
												update="form:sums"></p:ajax>
											<f:selectItem itemLabel="Сонгох"></f:selectItem>
											<f:selectItems id="aimag-list"
												value="#{customerController.aimags}" var="aimag"
												itemLabel="#{aimag.name}" itemValue="#{aimag.pkId}"></f:selectItems>
										</p:selectOneMenu>
									</div>
								</div>
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="" for="form:sums">#{i18n['sum_district']}:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:selectOneMenu id="sums"
											value="#{customerController.currentCustomer.sumPkId}"
											style="width: 100%;" filter="true">
											<f:selectItem itemLabel="Сонгох"></f:selectItem>
											<f:selectItems value="#{customerController.sums}" var="sum"
												itemLabel="#{sum.name}" itemValue="#{sum.pkId}"></f:selectItems>
										</p:selectOneMenu>
									</div>
								</div>
							</div>
						</div>
						<div class="row flex-container">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="" for="form:district">#{i18n['comission']}:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText id="district" name="district"
											value="#{customerController.currentCustomer.district}"
											style="min-width: 100%;" />
									</div>
								</div>
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="" for="form:building">#{i18n['street_building']}:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText id="building" name="building"
											value="#{customerController.currentCustomer.building}"
											style="min-width: 100%;" />
									</div>
								</div>
							</div>
						</div>
					</p:fieldset>
				</div>
				<div class="col-md-6">
					<p:fieldset legend="#{i18n['insurance_affiliation']}"
						styleClass="margin-bottom">
						<div class="row flex-container">
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="" for="form:insuranceAimag">#{i18n['aimag_city']}:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:selectOneMenu id="insuranceAimag"
											value="#{customerController.currentCustomer.insuranceAimagPkId}"
											style="width: 100%;" filter="true">
											<p:ajax event="change"
												listener="#{customerController.updateInsuranceSums()}"
												update="form:insuranceSum"></p:ajax>
											<f:selectItem itemLabel="Сонгох"></f:selectItem>
											<f:selectItems id="aimag-list1789"
												value="#{customerController.aimags}" var="aimag"
												itemLabel="#{aimag.name}" itemValue="#{aimag.pkId}"></f:selectItems>
										</p:selectOneMenu>
									</div>
								</div>
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="" for="form:insuranceSum">#{i18n['sum_district']}:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:selectOneMenu id="insuranceSum"
											value="#{customerController.currentCustomer.insuranceSumPkId}"
											style="width: 100%;" filter="true">
											<f:selectItem itemLabel="#{i18n['select']}"></f:selectItem>
											<f:selectItems value="#{customerController.insuranceSums}"
												var="sum" itemLabel="#{sum.name}" itemValue="#{sum.pkId}"></f:selectItems>
										</p:selectOneMenu>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="margin-top: 5px" for="form:insuranceType">#{i18n['insurance_type']}:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:selectOneMenu id="insuranceType"
											value="#{customerController.currentCustomer.insuranceTypePkId}"
											style="width: 100%;margin-top:5px">
											<f:selectItem itemLabel="#{i18n['select']}"></f:selectItem>
										</p:selectOneMenu>
									</div>
								</div>
								<div class="col-md-6">
									<div class="col-md-4 col-xs-12 col-sm-12 flex-center-self">
										<label style="margin-top: 5px" for="form:insuranceCardNumber">ЭМД:</label>
									</div>
									<div class="col-md-6 col-xs-12 col-sm-12 flex-center-self">
										<p:inputText id="insuranceCardNumber"
											value="#{customerController.currentCustomer.insuranceCardNumber}"
											style="width: 100%; margin-top:5px" />
									</div>
								</div>
							</div>
						</div>

					</p:fieldset>
				</div>
			</div>
		</div>


		<p:fieldset legend="#{i18n['contact_relative']}"
			styleClass="margin-bottom">
			<div class="row flex-container">
				<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
					<label style="" for="form:familyMemberName">#{i18n['first_name']}:</label>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
					<p:inputText id="familyMemberName" name="familyMemberName"
						value="#{customerController.currentCustomer.familyMemberName}"
						style="min-width: 100%;" />
				</div>

				<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
					<label style="" for="form:familyMemberType">#{i18n['relative']}:</label>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
					<p:selectOneMenu id="familyMemberType"
						value="#{customerController.currentCustomer.familyMemberTypePkId}"
						style="width: 100%;" filter="true">
						<f:selectItem itemLabel="Сонгох"></f:selectItem>
						<f:selectItems value="#{customerController.frs}" var="fr"
							itemValue="#{fr.pkId}" itemLabel="#{fr.nameMn}"></f:selectItems>
					</p:selectOneMenu>
				</div>

				<div class="col-md-1 col-xs-12 col-sm-12 flex-center-self">
					<label style="" for="form:familyPhoneNumber">#{i18n['phone']}:</label>
				</div>
				<div class="col-md-3 col-xs-12 col-sm-12 flex-center-self">
					<p:inputText id="familyPhoneNumber" name="familyPhoneNumber"
						value="#{customerController.currentCustomer.familyPhoneNumber}"
						style="min-width: 100%;" />
				</div>

			</div>
		</p:fieldset>
		<div class="row">
			<div class="col-md-9"></div>
			<div class="col-md-3 text-right">
				<p:commandLink action="#{customerController.saveCustomer}"
					styleClass="btn" update="form:message">
					<i class="glyphicon glyphicon-ok" /> #{i18n['save']}
				</p:commandLink>
			</div>
		</div>

		</section>
		<p:remoteCommand name="loadDataMyFriend"
			actionListener="#{customerController.loadData()}"
			update="form:job form:child form:socialStatus form:aimag form:sums form:insuranceAimag" />
	
		<script>
			//<![CDATA[    
			//data-inputmask=""mask": "(999) 999-9999""
			document.getElementById('form:regNumber').setAttribute(
					"data-inputmask", "\"mask\": \"aa99999999\"");
			document.getElementById('form:regNumber').setAttribute("data-mask",
					"");

			$("[data-mask]").inputmask();

			$(document)
					.ready(
							function() {
								document.getElementById('isChild').style.display = "none";
								document.getElementById('ifWorker').style.display = "none";
								loadDataMyFriend();
								$("input[id*='birthDate_input']").mask(
										'9999-99-99');

								$(
										PrimeFaces
												.escapeClientId('form:logo-upload-button'))
										.click(
												function() {
													$(
															PrimeFaces
																	.escapeClientId('form:logo-upload-input'))
															.click();
												});
								$(
										PrimeFaces
												.escapeClientId('form:logo-upload-input'))
										.on(
												'change',
												function(e) {
													var file = $(this).val();

													$(
															PrimeFaces
																	.escapeClientId('form:uploadFileNameId'))
															.val(
																	file
																			.replace(
																					/^.*[\\\/]/,
																					''));
													if (file) {
														// fix on webkit, and IE
														file = file
																.substr(file
																		.lastIndexOf("\\") + 1);
														var files = e.target.files;

														$
																.each(
																		files,
																		function(
																				f) {

																			var validImage = true;
																			if (this.size / 1024 > 4028) {
																				validImage = false;
																				//alert('Зурагны хэмжээ хэтэрсэн байна !!!');
																				showErrorMessage();
																				$(
																						this)
																						.val(
																								'')
																			}

																			if (this.type
																					.match('image.*')
																					&& validImage) {
																				var reader = new FileReader();
																				reader.onload = (function(
																						theFile) {
																					return function(
																							e) {
																						$(
																								PrimeFaces
																										.escapeClientId('form:uploadFileId'))
																								.val(
																										e.target.result);
																						var top = $(
																								'img.company-logo')
																								.innerHeight() / 2;
																						if (top <= 60)
																							top = 60;
																						$(
																								'img.company-logo')
																								.attr(
																										'src',
																										e.target.result)
																						document
																								.getElementById('form:logo').value = e.target.result;
																					}
																				})
																						(this);
																				reader
																						.readAsDataURL(this);
																			}
																		});
													}
													;
												});
							});

			$(document)
					.ready(
							function() {
								$('input').on(
										'blur',
										function() {
											if ($("#form").valid()) {
												$(".submit").prop('disabled',
														false);
											} else {
												$(".submit").prop('disabled',
														'disabled');
											}
										});
								jQuery.validator.setDefaults({
									debug : true,
									success : "valid"
								});

								$('#form')
										.validate(
												{ // initialize the plugin
													rules : {

														'form:lastName789' : {
															required : true,
															minlength : 1
														},
														'form:firstName789' : {
															required : true,
															minlength : 2
														},
														'form:regNumber' : {
															required : true,
															minlength : 10

														},

														'form:phone' : {
															required : true,
															minlength : 4,
															number : true
														}
													},
													messages : {

														'form:lastName789' : {
															required : "#{i18n['enter_user_last_name']}",
															minlength : "#{i18n['more_characters_2']}"
														},
														'form:firstName789' : {
															required : "#{i18n['enter_user_first_name']}",
															minlength : "#{i18n['more_characters_2']}"
														},

														'form:regNumber' : {
															required : "#{i18n['enter_register_number']}",
															minlength : "#{i18n['enter_register_number_correct']}"
														},

														'form:phone' : {
															required : "#{i18n['enter_phone_number']}",
															minlength : "#{i18n['enter_phone_number_4_more']}",
															number : "#{i18n['enter_only_digit']}"
														}
													}
												});

							});
			function hideForeignPatient() {
				document.getElementById('gender789Label').style.display = "none";
				document.getElementById('gender789Section').style.display = "none";
				document.getElementById('form:regNumber').disabled = false;
				document.getElementById('form:birthDate_input').disabled = true;
			}

			function showForeignPatient() {
				document.getElementById('gender789Label').style.display = "block";
				document.getElementById('gender789Section').style.display = "block";
				document.getElementById('form:regNumber').disabled = true;
				document.getElementById('form:birthDate_input').disabled = false;
			}

			function hideChild() {
				document.getElementById('isChild').style.display = "none";
				document.getElementById('ifWorker').style.display = "block";
			}

			function hideWorker() {
				document.getElementById('isChild').style.display = "block";
				document.getElementById('ifWorker').style.display = "none";
			}
			function hideChildWorker() {
				document.getElementById('ifWorker').style.display = "none";
				document.getElementById('isChild').style.display = "none";
			}

			$('body')
					.on(
							'keydown',
							'input, select, radio',
							function(e) {
								var self = $(this), form = self
										.parents('form:eq(0)'), focusable, next;
								if (e.keyCode == 13) {
									focusable = form.find(
											'input,a,select,button,radio')
											.filter(':visible');
									next = focusable
											.eq(focusable.index(this) + 1);
									if (next.length) {
										next.focus();
									} else {
										form.submit();
									}
									return false;
								}
							});
			//]]>
		</script>
</ui:composition>