<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
		<h1>
			Үйлчлүүлэгч
			<p:outputLabel style="display: none;">#{cashController.selectedCustomer.pkId}</p:outputLabel>
		</h1>
		<ol class="breadcrumb">
			<li class="active">Үйлчлүүлэгч</li>
			<li class="active">Жагсаалт</li>
		</ol>
		</section>
		<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">#{i18n['customer_list']}</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<p:panel id="rdtl" styleClass="no-style-panel">
							<div class="col-xs-12">

								<div class="row" style="margin-top: 10px; margin-botton: 10px;">
									<div class="col-md-4">
										<p style="font-weight: 900; float: left;">Кабинет :</p>
										<p>#{requestController.selectedSubOrganization.name}</p>
									</div>

									<div class="col-md-4">
										<p style="font-weight: 900; float: left;">Эмч :</p>
										<p>#{requestController.selectedEmployee.firstName}</p>
									</div>

									<div class="col-md-4">
										<p style="font-weight: 900; float: left;">Огноо :</p>
										<p>#{requestController.getDateString(requestController.selectedDate)}
										</p>
									</div>


								</div>
								<div class="row">
									<div class="col-md-4">
										<label class="label label-danger">Яаралтай</label> <label
											class="label label-warning">Шууд</label> <label
											class="label label-success">Урьдчилсан Захиалга</label>
									</div>
									<div class="col-md-8">
										<label> <i
											style="float: left; font-size: 15px; margin-left: 15px"
											class="fa fa-fw fa-warning color-blue"> </i>Төлбөрийн
											үлдэгдэлтэй
										</label> <label><i
											style="float: left; font-size: 15px; margin-left: 15px"
											class="fa fa-check-square color-blue"></i>Төлбөрийн
											үлдэгдэлгүй</label> <label> <i
											style="float: left; font-size: 15px; margin-left: 15px"
											class="fa fa-fw fa-plus color-blue"> </i>Төлбөр төлсөн
										</label> <label> <i
											style="float: left; font-size: 15px; margin-left: 15px"
											class="fa fa-minus color-blue"></i>Төлбөр төлөөгүй
										</label>
									</div>
								<div class="col-md-12">
								 <p:dataTable id="doctorInspection" styleClass="myTable" value="#{requestController.crs}" var="info" rowIndexVar="index" emptyMessage="#{i18n['empty']}" editable="true" resizableColumns="true">
											<p:column styleClass="date" headerText = "#{i18n['order_date']}" width="7%" sortBy="#{info.employeeRequest.dateString}" >#{info.employeeRequest.dateString}</p:column>
											<p:column styleClass="date" headerText="#{i18n['time']}"  width="7%" sortBy="#{info.employeeRequest.requestDateStr}" style="background: #{info.employeeRequest.bgColor};color:#fff;">#{info.employeeRequest.requestDateStr}</p:column>
											<p:column styleClass="id" headerText="#{i18n['card_number']}"  width="5%" sortBy="#{info.customer.cardNumber}" >#{info.customer.cardNumber}</p:column>
											<p:column styleClass="text" headerText="#{i18n['last_name']}"  width="9%" sortBy="#{info.customer.lastName}" >#{info.customer.lastName}</p:column>
											<p:column styleClass="text" headerText="#{i18n['first_name']}" width="9%" sortBy="#{info.customer.firstName}" >#{info.customer.firstName}</p:column>
											<p:column styleClass="id" headerText="#{i18n['register_number']}" width="9%" sortBy="#{info.customer.regNumber}" >#{info.customer.regNumber}</p:column>
											<p:column styleClass="short-number" headerText="#{i18n['age']}" width="4%" sortBy="#{info.customer.age}" >#{info.customer.age}</p:column>
											<p:column styleClass="short-text" headerText="#{i18n['gender']}" width="7%" sortBy="#{info.customer.getGenderString()}" >#{info.customer.getGenderString()}</p:column>
											<p:column styleClass="button-icon" headerText="#{i18n['remain']}" > <i style = "font-size: 16px;" class="#{info.customer.uldegdelStatus eq 'yes' ? 'fa fa-fw fa-warning color-blue' : 'fa fa-check-square color-blue'}"> </i> </p:column>
											<p:column styleClass="text" headerText="#{i18n['status']}" sortBy="#{info.employeeRequest.getInspectionStatus()}" >#{info.employeeRequest.getInspectionStatus()}</p:column>
											<p:column styleClass="text" headerText = "#{i18n['description']}" sortBy="#{info.employeeRequest.description}" >#{info.employeeRequest.description}</p:column>
											<p:column styleClass="date" headerText="#{i18n['inspection_time']}" sortBy="#{info.inspection.inspectionDate}">#{info.inspection.inspectionDate}</p:column>
											<p:column styleClass="button-icon" headerText="Төлбөр" > <i style = " font-size: 16px " class="#{info.employeeRequest.payment ? 'fa fa-plus color-blue' : 'fa fa-fw fa-minus color-blue'}"> </i> </p:column>
											<p:column styleClass="button-icon" headerText="Устгах" > <p:commandLink styleClass="fa fa-fw fa-remove color-red" rendered="#{info.employeeRequest.mood != 2}" actionListener="#{requestController.removeRequest(info)}" oncomplete="PF('delete').show();" > </p:commandLink> </p:column>
											<p:column headerText="Эмнэлэгт ирсэн эсэх"  style="width:16px;text-align:center">
											<p:selectBooleanCheckbox value="#{info.selected}" id="checkbox1" disabled="#{info.employeeRequest.bgColor == 'red' or info.employeeRequest.bgColor == 'yellow'}" >
											  	<p:ajax event = "change" listener="#{requestController.guestUpdate(info.employeeRequest)}"></p:ajax>
											</p:selectBooleanCheckbox>
											  </p:column>
										</p:dataTable>
								 </div>
								</div>

							</div>
						</p:panel>

					</div>
				</div>
			</div>
		</div>
		</section>

	</ui:define>
	<ui:define name="script">
		<script>
		//<![CDATA[
			
		//]]>
		</script>
	</ui:define>
</ui:composition>