<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../../template/template.xhtml">
	<ui:define name="content">
		<section class="content">
		<div class="row margin-top">
			<div class="box">
				<div class="box-header">
					<span class="label label-info">Эмийн тайлан маягт</span>
				</div>
				<div class="box-body ">
					<div class="users-list clearfix">
						<div class="row">
							<div class="col-md-3">

								<p:commandLink styleClass="btn btn-info col-md-12 margin-bottom"
									value="Эмийн  хэрэглээ" onclick="printSub('UseMedicine')" />
								<p:commandLink styleClass="btn btn-info col-md-12 margin-top"
									value="Эм зарцуулалтын  бүртгэл"
									onclick="printSub('MedicineCreated')" />
							</div>
							<div class="col-md-9">
								<div class="row">
									<p:calendar pattern="yyyy-MM-dd" navigator="true"
										value="#{pharmacyController.reportMedBeginDate}">
										<p:ajax event="dateSelect"
											listener="#{pharmacyController.loadDataReport()}"
											update="form:printPanelId" />
									</p:calendar>

									<p:calendar pattern="yyyy-MM-dd" navigator="true"
										style="margin-left:20px;"
										value="#{pharmacyController.reportMedEndDate}">
									</p:calendar>
								</div>
								<p:panel styleClass="no-style-panel" id="printPanelId">
									<table style="width: 100%;display: none" id="printMedicineUseId" >
										<tr>
											<td colspan="12"
												style="font-size: 16px; font-family: Arial; padding-bottom: 20px; text-align: center">Эмнэлгийн
												эмийн хэрэглээний талаархи мэдээ</td>
										</tr>
										<tr>
											<td colspan="12"
												style="padding: 2px 5px; font-size: 12px; font-family: Arial; border: 1px solid;">
												Эмнэлгийн нэр: Их сургуулийн нэгдсэн эмнэлэг</td>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Тасгийн
												нэр</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial; text-align: right">#{report.subName}</td>
											</ui:repeat>


										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Нийт
												хэвтэн эмчлүүлсэн өвчтний тоо</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial; text-align: right">#{report.medicineBalance}</td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Зарцуулсан
												нийт эмийн тоо</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial; text-align: right">#{report.orderBalance}</td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Нийт
												хэрэглэсэн эмнээс антибиотикийн эзлэх хувь %</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial;"></td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Нийт
												хэрэглэсэн эмэнд тарилгын эмийн эзлэх хувь %</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial;"></td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Нэг
												өвчтөнд хэрэглэсэн эмийн дундаж тоо</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial; text-align: right">#{report.averageNumber}</td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Нэг
												өвчтөнд хэрэглэсэн эмийн дундаж үнэ</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial;"></td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Эмчилгээний
												стандарт мөрдөлтийн хувь</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial;"></td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Нийт
												хэрэглэсэн эмэнд зайлшгүй шаардлагатай эмийн эзлэх хувь %</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial;"></td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="4"
												style="font-size: 12px; border: 1px solid; font-family: Arial;">Өвчтөнөөр
												авчируулж эмчилгээ үйлчилгээнд хэрэглэгдсэн эмийн тоо, нийт
												үнэ</td>
											<ui:repeat var="report"
												value="#{pharmacyController.lstMedicineReports}">
												<td colspan="1"
													style="font-size: 12px; border: 1px solid; font-family: Arial;"></td>
											</ui:repeat>
										</tr>
										<tr>
											<td colspan="12"
												style="padding: 2px 5px; font-size: 12px; font-family: Arial; margin-top: 5px;">
												Эмийн хэрэглээний тооцоо
												гаргасан...................................................
											</td>
										</tr>
										<tr>
											<td colspan="12"
												style="padding: 2px 5px; font-size: 12px; font-family: Arial; margin-top: 5px;">
												Нарийн мэргэшил........................Албан
												тушаал...................................</td>
										</tr>
									</table>
								</p:panel>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<p:commandLink value="Хэвлэх"
							onclick="print1('printMedicineUseId');"
							styleClass="pull-right btn btn-primary" />
					</div>
				</div>
			</div>
		</div>
		</section>
		<p:remoteCommand name="loadData"
			actionListener="#{pharmacyController.loadDataReport()}"
			update="form:printPanelId" />
	</ui:define>
	<ui:define name="script">
		<script>
		$(document).ready(function() {
			loadData();
		});

		function printSub(id){
			if(id=='UseMedicine')
				document.getElementById('printMedicineUseId').style.display ="block";
			else if(id=='MedicineCreated')
				document.getElementById('printMedicineUseId').style.display ="none";
			}
		</script>
	</ui:define>
</ui:composition>