<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../../template/template.xhtml">
	<ui:define name="content">
		<section class="content">
		<div class="row">
			<div class="col-xs-12 ">
				<div class="box">
					<div class="box-header"></div>
					<div class="box-body ">
						<p:panel id="medicineOcslistId1">
							<div class="col-md-12">
								<div class="box box-primary">
									<div class="box-header with-border">
										<div class="col-md-12">
											<div class="row">
												<h6>
													<small class="label label-success">Захиалсан эм
														тарианы жагсаалт</small>
												</h6>
											</div>
										</div>
										<div class="col-md-12 " style="margin-bottom: 10px;">
											<div class="row">
												<div class="col-md-3">
													<p:selectOneRadio>
														<f:selectItem itemLabel="Эм тариа " itemValue="0" />
														<f:selectItem itemLabel="Тасаг" itemValue="1" />
														<f:selectItem itemLabel="Эмч" itemValue="2" />
													</p:selectOneRadio>
												</div>
												<div class="col-md-9">
													<p:commandLink styleClass="btn btn-primary pull-right"
														actionListener="#{pharmacyController.reportAccept()}"
														onclick="PF('reportAccept').show()"
														update="form:printMedicineUseId">
													Эмийн маягт  хүлээлцэх</p:commandLink>
												</div>
											</div>
										</div>
										<div class="margin-top margin-bottom">
											<p:calendar styleClass="col-md-2" pattern="yyyy-MM-dd"
												navigator="true"
												value="#{pharmacyController.reportBeginDate}">
												<p:ajax event="dateSelect"
													listener="#{pharmacyController.staticInmformationData()}"
													update="form:pharmacyGroupId" />
											</p:calendar>

											<p:calendar styleClass="col-md-2" pattern="yyyy-MM-dd"
												navigator="true" value="#{pharmacyController.reportEndDate}">
											</p:calendar>
										</div>
									</div>
									<div class="box-body no-padding margin-top margin-bottom">
										<div class="users-list clearfix">
											<p:dataTable id="pharmacyGroupId" var="pharmacy"
												scrollable="true" scrollHeight="450"
												value="#{pharmacyController.orderPharmacyList}">
												<p:column style="width:30px;">
													<p:rowToggler />
												</p:column>
												<p:column headerText="Захиалга төрөл">
													<h:outputText
														value="#{pharmacy.medType=='INJECTION'  ? 'Тариа': 'Эм'}" />
												</p:column>
												<p:column headerText="Захиалга нэр">
													<h:outputText value="#{pharmacy.itemName}" />
												</p:column>
												<p:column headerText="Захиалга код"
													filterBy="#{pharmacy.itemId}" filterMatchMode="contains">
													<h:outputText value="#{pharmacy.itemId}" />
												</p:column>
												<p:column headerText="Захиалсан тоо"
													style="text-align:right">
													<h:outputText value="#{pharmacy.itemSum}" />
												</p:column>
												<p:column headerText="Баталгаажсан  тоо"
													style="text-align:right">
													<h:outputText value="#{pharmacy.itemNumber}" />
												</p:column>
												<p:column headerText="Савласан  тоо"
													style="text-align:right">
													<h:outputText value="#{pharmacy.itemPackage}" />
												</p:column>

												<p:column headerText="Үлдэгдэл" style="text-align:right">
													<h:outputText value="#{pharmacy.wareHouseBalance}" />
												</p:column>
												<p:rowExpansion>
													<p:dataTable var="subOrga"
														value="#{pharmacy.subOrganizations}"
														sortBy="#{subOrga.subName}" expandableRowGroups="true">
														<p:headerRow>
															<p:column>
																<h:outputText value="#{subOrga.subName}" />
															</p:column>
															<p:column>
																<h:outputText value="#{subOrga.itemQty}" />
															</p:column>
														</p:headerRow>
														<p:column headerText="Овог нэр">
															<h:outputText value="#{subOrga.firstName}" />
														</p:column>
														<p:column headerText="Нас хүйс">
															<h:outputText
																value="#{subOrga.customerAge},#{subOrga.customerGender}" />
														</p:column>
														<p:column headerText="Онош" style="text-align:right">
															A00
														</p:column>
													</p:dataTable>
												</p:rowExpansion>
											</p:dataTable>
										</div>
									</div>
								</div>
							</div>
						</p:panel>
					</div>
				</div>
			</div>
		</div>
		<p:dialog widgetVar="reportAccept" modal="true" resizable="false"
			style="width:auto;height:auto">
			<p:panel id="printMedicineUseId" styleClass="no-style-panel">
				<div class="margin-top margin-bottom">
					<p:calendar styleClass="col-md-2" pattern="yyyy-MM-dd"
						navigator="true" value="#{pharmacyController.reportBeginDate}">
						<p:ajax event="dateSelect"
							listener="#{pharmacyController.reportAccept()}"
							update="form:printMedicineUseId" />
					</p:calendar>

					<p:calendar styleClass="col-md-2" pattern="yyyy-MM-dd"
						navigator="true" value="#{pharmacyController.reportEndDate}">
					</p:calendar>
				</div>
				<table style="width: 100%;" id="printMeidicneId">
					<tr>
						<td colspan="12"
							style="font-size: 16px; font-family: Arial; padding-bottom: 20px; text-align: center; border-bottom: 1px solid black">Эм
							тариа хүлээлцэх хуудас</td>
					</tr>
					<ui:repeat var="imformation"
						value="#{pharmacyController.pharmacyImformations}">
						<tr>
							<td colspan="12"
								style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-right: 1px solid black; border-left: 1px solid black;">
								Тасгийн нэр #{imformation.subName}</td>
						</tr>
						<tr>
							<td colspan="2"
								style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black;">
								№</td>
							<td colspan="2"
								style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black">
								Эмийн нэр код</td>
							<td colspan="2"
								style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black">
								Захиалсан эмч</td>
							<td colspan="2"
								style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black">
								Захиалга хүлээн авсан тоо</td>
							<td colspan="2"
								style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-right: 1px solid black; border-left: 1px solid black; border-bottom: 1px solid black; border-top: 1px solid black">
								Өгсөн эсэх</td>
						</tr>
						<ui:repeat var="pharmacy"
							value="#{imformation.pharmacyImformations}" varStatus="index">
							<tr>
								<td colspan="2"
									style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: center; border-bottom: 1px solid black; border-left: 1px solid black;">
									#{index.index+1}</td>
								<td colspan="2"
									style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-bottom: 1px solid black; border-left: 1px solid black;">
									#{pharmacy.itemName},#{pharmacy.itemId}</td>
								<td colspan="2"
									style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: left; border-left: 1px solid black; border-bottom: 1px solid black">
								#{pharmacy.employeName}
								</td>
								<td colspan="2"
									style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: right; border-left: 1px solid black; border-bottom: 1px solid black;">
								#{pharmacy.itemNumber}
								</td>
								<td colspan="2"
									style="padding: 2px 5px; font-size: 12px; font-family: Arial; text-align: center; border-bottom: 1px solid black; border-left: 1px solid black; border-right: 1px solid black;">
								 <img src="#{applicationController.path}images/#{pharmacy.isPackage==1 ? 'checked.png':'user_list.png'}" alt=""  style="width: 12px"/>
								</td>
							</tr>
						</ui:repeat>
					</ui:repeat>
					<tr>
						<td colspan="12" style="text-align:right">Хэвлэсэн огноо </td>
					</tr>

					<tr>
						<td colspan="12" style="text-align:right">Хэвлэсэн хэрэглэгч </td>
					</tr>
					<tr>
						<td colspan="12">Хүлээн авсан /................./</td>
					</tr>

					<tr>
						<td colspan="12">Хүлээлгэж өгсөн/................./</td>
					</tr>
				</table>
				<div class="col-md-12 margin-top">
					<p:commandLink styleClass="fa fa-print pull-right btn btn-primary"
						value="Хэвлэх" onclick="print1('printMeidicneId')" />
				</div>
			</p:panel>
		</p:dialog> <p:remoteCommand name="loadData"
			actionListener="#{pharmacyController.staticInmformationData()}"
			update="form:medicineOcslistId1" onstart="showLoader();"
			onsuccess="hideLoader();" onerror="hideLoader();" /> </section>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
			$(document).ready(function() {
				loadData();
			});
			//]]>
		</script>
	</ui:define>
</ui:composition>