<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header"> </section>
		<section class="content">
		<div class="row">
			<div class="col-xs-12 ">
			ssss
			</div>
			</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
				
			//]]>
		</script>
	</ui:define>
</ui:composition>