/* Created by Arian Stolwijk <http://www.aryweb.nl> */

.MooDialog {
	position: fixed;
	width: 300px;
	min-height: 20px;
	display: block;
	top: 25%;
	right: 1%;
	margin: -150px 0 0 -150px;
	padding: 10px;
	z-index: 50000;
	background: #eef5f8;
	color: black;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
	box-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.MooDialogTitle {
	padding-top: 30px;
}

.MooDialog .content {
	min-height: 20px;
	display: block;
	position: relative;
}

.MooDialog .title {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 6px 20px;
	background: #3c8dbc;
	border-bottom: 1px solid #a1aec5;
	font-weight: bold;
	text-shadow: 1px 1px 0 #000;
	color: #fff;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.MooDialog .mooDialogClose {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 6px;
    right: 6px;
	background: url(dialog-close.png) no-repeat;
	display: block;
	cursor: pointer;
	opacity: .6
}

.MooDialog .mooDialogClose:hover {
	opacity: .8
}

.MooDialog .buttons {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	text-align: right;
}

.MooDialog .iframe {
	width: 100%;
	height: 100%;
}

.MooDialog .textInput {
	width: 200px;
	float: left;
}

.MooDialog .MooDialogAlert,
.MooDialog .MooDialogConfirm,
.MooDialog .MooDialogPrompt,
.MooDialog .MooDialogError {
	padding-left: 40px;
	min-height: 40px;
	position: relative;
/* 	background: url(dialog-warning.png) no-repeat; */
}

/* .MooDialog .MooDialogConfirm, */
/* .MooDialog .MooDialogPrompt { */
/* 	background: url(success-icon.png) no-repeat; */
/* 	background-size: 32px 32px; */
/* } */

/* .MooDialog .MooDialogError { */
/* 	background: url(dialog-error.png) no-repeat; */
/* } */
.MooDialog .MooDialogAlert:before,
.MooDialog .MooDialogConfirm:before,
.MooDialog .MooDialogPrompt:before,
.MooDialog .MooDialogError:before {
    content: "\e101";
    position: absolute;
    font-family: 'Glyphicons Halflings';
    left: -5px;
    top: 10px;
    color: #ff9800;
    font-size: 40px;
}

.MooDialog .MooDialogConfirm:before,
.MooDialog .MooDialogPrompt:before {
	left: -10px;
	top: 0px;
	content: "\e013";
    color: #8fce48;
}
.MooDialog .MooDialogError:before {
	left: 0px;
    top: 0px;
	content: "\e082";
    color: #e33551;
    font-size: 30px;
}