
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header"> </section>
		<section class="content">
		<div class="row">
			<div class="col-xs-12 ">
				<div class="box">
					<p:remoteCommand name="changeDate" actionListener="#{pharmacyController.getOutcomeListData()}" update="form:tbl" />
					<div class="box-body">
						<div class="row">
							<div class="col-md-12">
								<div class="col-md-2">
									<label class="flex-center-self">#{i18n['date']}:</label>
									<p:calendar pattern="yyyy-MM-dd"
										style="display:inline-block;margin-left:10px !important;"
										value="#{pharmacyController.outcomeDate}"
										styleClass="flex-center-self date-control"
										id="outcomeDate" navigator="true" onchange="changeDate();">
									</p:calendar>
								</div>
								<div class="col-md-3">
									<p:selectOneRadio id="someSelect"
										styleClass="someSelectClass"
										value="#{pharmacyController.showTypeOutcome}">
										<f:selectItem itemLabel="Эм" itemValue="0" />
										<f:selectItem itemLabel="Өвчтөн" itemValue="1" />
										<f:selectItem itemLabel="Тасаг" itemValue="2" />
										<p:ajax event="change"
											oncomplete="changeDate();" />
									</p:selectOneRadio>
								</div>
								<div class="col-md-3">
									<div class="row">
										<label class="flex-center-self"
											style="padding-right: 12px;"> #{i18n['search']}:
										</label>
										<p:inputText id="searchInput" style="width:80%"
											value="#{pharmacyController.outcomeFilterKey}"
											onkeyup="changeDate();" />
									</div>
									<p:watermark for="searchInput"
										value="Эм, Өвчтөний РД, Овог, Нэр"></p:watermark>
								</div>
								<div class="col-md-2">
									<div class="row">
										<div style="float: right">
											<p:selectOneMenu filter="true" style="margin-right:10px"
												value="#{pharmacyController.outEmployeePkId}">
												<f:selectItem itemLabel="Бүх эмчээр хайх" itemValue="0" />
												<f:selectItems
													value="#{pharmacyController.employeeList}" var="emp"
													itemValue="#{emp.employee.pkId}"
													itemLabel="#{emp.employee.firstName} - #{emp.subOrganization.name}"></f:selectItems>
												<p:ajax event="change"
													oncomplete="changeDate();" />
											</p:selectOneMenu>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<p:commandLink styleClass="btn btn-success" style="float : right;" >Илгээх</p:commandLink>
								</div>
							</div>
							<div class="col-md-12" style="margin-top:10px;" >
								<p:dataTable id="tbl" styleClass="myTable" emptyMessage="Хоосон байна"
									value="#{pharmacyController.outcomeList}"
									var="tmp" >
									<p:headerRow>
										<p:column styleClass="text" headerText="Тасгийн нэр">
											<h:outputText value="#{tmp.subOrganizationName}" />
										</p:column>
									</p:headerRow>
									<p:column headerText="Код">#{tmp.itemId}</p:column>
									<p:column headerText="Нэр">#{tmp.itemName}</p:column>
									<p:column headerText="О/У нэршил">#{tmp.interName}</p:column>
									<p:column headerText="Тун" style="text-align:center">#{tmp.dose}</p:column>
									<p:column headerText="Тоо хэмжээ" style="text-align:right">#{tmp.qty}</p:column>
								</p:dataTable>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
				
			//]]>
		</script>
	</ui:define>
</ui:composition>