<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content">
		<div class="row">
			<div class="col-xs-12 ">
				<div class="box">
					<div class="box-header"></div>
					<div class="box-body ">
						<p:panel styleClass=" no-style-panel">
							<div class="col-md-12 margin-top">
								<p:panel id="medicineOcslistId1">
									<div class="col-md-3">
										<div class="box box-primary">
											<div class="box-header with-border">
												<div class="col-md-12">
													<div class="row">
														<h6>
															<b>Өвчтний жагсаалт</b>
														</h6>
													</div>
												</div>
											</div>
											<div class="box-body no-padding margin-top margin-bottom">
												<div class="users-list clearfix">
													<p:dataTable emptyMessage="Хоосон"
														styleClass="myTable selectTable1"
														value="#{pharmacyController.customerMedicineLsts}"
														var="info" rowIndexVar="index" selectionMode="single"
														rowKey="#{info.customer}"
														selection="#{pharmacyController.currentMedicineDeispense}">
														<p:ajax event="rowDblselect" onstart="dbSelect();" />
														<p:column headerText="№" width="20px;"
															style="text-align:center">#{index+1}</p:column>
														<p:column headerText="Огноо">#{info.dateTime(info.beginDate)}</p:column>
														<p:column headerText="Овог,Нэр">#{info.customer.lastName.substring(0,1)} . #{info.customer.firstName}</p:column>
														<p:column headerText="Хүйс">
															<h:outputText
																value="#{info.customer.gender ==1 ? 'Эр':'Эм'}" />
														</p:column>
														<p:column headerText="Тасаг">#{info.subName}</p:column>
														<p:column headerText="Тасаг">#{info.orderQtySub}</p:column>
													</p:dataTable>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-9">
										<p:panel id="inpatientPharmacy">
											<div class="box box-danger"
												style="border-left-color: #f1b9b9">
												<div class="box-header with-border">
													<div class="col-md-12">
														<div class="row">
															<h6>
																<b>Өвчтний дэлгэрэнгүй мэдээлэл</b>
															</h6>
														</div>
													</div>
												</div>
												<div class="box-body no-padding margin-top margin-bottom">
													<div class="users-list clearfix">
														<p:panel styleClass="no-style-panel pharmacyDispensePanel"
															id="pharmacyDispenseId"
															rendered="#{pharmacyController.pharmacyDispensePage}">
															<div class="box-body">
																<div class="row">
																	<div class="col-md-4">Нас хүйс:
																		#{pharmacyController.currentCustomer.age}</div>
																	<div class="col-md-4">Нэр:
																		#{pharmacyController.currentCustomer.firstName}</div>
																	<div class="col-md-4">Утас:
																		#{pharmacyController.currentCustomer.phoneNumber}</div>
																</div>

																<div class="row">
																	<div class="col-md-4">Өрөөний №:
																		#{pharmacyController.currentMedicineDeispense.roomNo}</div>
																	<div class="col-md-4">Тасаг:
																		#{pharmacyController.currentMedicineDeispense.subName}</div>
																	<div class="col-md-4">Хэвтсэн огноо:
																		#{pharmacyController.currentMedicineDeispense.beginDate}</div>

																</div>

																<div class="row">
																	<div class="col-md-4">Хэвтсэн өдөр: 21</div>
																	<div class="col-md-4">Онош: G25D</div>
																	<div class="col-md-4">Төлбөрийн хэлбэр:</div>
																</div>
															</div>

															<p:tabView>
																<p:tab title="Эм олгох" id="medicineDispenseTabViewId">
																	<p:panel style="overflow-y: auto"
																		styleClass="no-style-panel heightScrollClass">
																		<div class="margin-bottom">
																			<p:calendar pattern="yyyy-MM-dd"
																				style="display:inline-block;margin-left:10px !important;"
																				styleClass="flex-center-self date-control"
																				value="#{pharmacyController.beginDate}"
																				navigator="true">
																				<p:ajax event="dateSelect" listener="#{pharmacyController.dateDispense()}" 
																						 update="@(.myTable)"/>
																			</p:calendar>
																			<label class="flex-center-self"
																				style="margin-right: 10px !important;">-</label>
																			<p:calendar pattern="yyyy-MM-dd"
																				style="display:inline-block" id="endDate"
																				styleClass="flex-center-self date-control"
																				value="#{pharmacyController.endDate}"
																				navigator="true">
																			</p:calendar>
																		</div>
																		<p:dataTable id="pharmacyDeispenseId" styleClass="myTable"
																			value="#{pharmacyController.pharmasistDeispenses}"
																			var="pharmasist" rowIndexVar="index">
																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}"
																				headerText="Огноо">#{pharmasist.dateTime(pharmasist.invoiceDtl.invDate)}</p:column>

																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}"
																				headerText="Төрөл">#{pharmasist.type}</p:column>

																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}"
																				headerText="Код">#{pharmasist.medicineId}</p:column>
																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}"
																				headerText="Нэр">#{pharmasist.medicineName}</p:column>
																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}"
																				headerText="Захиалсан эмч"></p:column>
																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}"
																				headerText="Захиалсан тоо">#{pharmasist.invoiceDtl.orderQty}</p:column>
																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}"
																				headerText="олгох тоо">
																				<p:inputText value="#{pharmasist.invoiceDtl.qty}"
																					style="width:50%;"
																					disabled="#{pharmasist.invoiceDtl.isToDispense==1 ?  true:false}">
																					<p:ajax event="change"
																						listener="#{pharmacyController.dispensePharmacy(pharmasist.invoiceDtl)}"
																						update="@(.heightScrollClass) @(.pharmacyDispensePanel)" />
																				</p:inputText>
																			</p:column>

																			<p:column headerText="үлдэгдэл">
																				<p:inputNumber value="#{pharmasist.orderBalance}"
																					decimalPlaces="0" style="width:10px;"
																					disabled="true" />
																			</p:column>

																			<p:column
																				style="#{pharmasist.invoiceDtl.isToDispense==1 ? 'background:#33ab7447':''}">
																				<p:selectBooleanCheckbox style="margin-left:5px;"
																					disabled="#{pharmasist.invoiceDtl.dispenseCheck}"
																					value="#{pharmasist.invoiceDtl.dispenseCheck}">
																					<p:ajax event="change"
																						listener="#{pharmacyController.pharmacyDispense(pharmasist.invoiceDtl)}"
																						update="@(.heightScrollClass)" />
																				</p:selectBooleanCheckbox>
																			</p:column>
																		</p:dataTable>
																	</p:panel>
																</p:tab>
																<p:tab title="EMR" id="emrTabId">
																	<div class="col-md-12">

																		<c:if
																			test="#{pharmacyController.inspectionDetails.size()>0}">
																			<ui:repeat var="detial"
																				value="#{pharmacyController.inspectionDetails}"
																				varStatus="index">
																				<div class="col-md-12">#{detial.date} ,
																					#{detial.subName} , #{detial.employeeName}</div>
																				<div class="col-md-12">
																					<p:panel styleClass="no-style-panel"
																						id="collapseExample">
																						<div class="well">
																							<table>
																								<tr>
																									<td style="vertical-align: top;">Зовиур:</td>
																									<td style="padding-bottom: 5px;"><ui:repeat
																											var="p" value="#{detial.pain}">
																											<ui:repeat var="dtl" value="#{p.get('v')}">
																												<h:outputText
																													value=" #{i18n[dtl.get('l')]} " />
																												<h:outputText
																													rendered="#{dtl.get('t').equals('select') }"
																													value=" - #{i18n[dtl.get('a').get(dtl.get('v'))]}," />
																												<h:outputText
																													rendered="#{!dtl.get('t').equals('select')}"
																													value=" - #{dtl.get('v')} , " />
																											</ui:repeat>
																										</ui:repeat></td>
																								</tr>
																								<tr>
																									<td style="vertical-align: top;">Асуумж:</td>
																									<td style="padding-bottom: 5px;"><ui:repeat
																											var="ques" value="#{detial.q}">
																											<ui:repeat var="val" value="#{ques.get('v')}">
																												<h:outputText
																													value=" #{i18n[val.get('l')]} " />
																												<h:outputText
																													rendered="#{val.get('t').equals('select') }"
																													value=" - #{i18n[val.get('a').get(val.get('v'))]}," />
																												<h:outputText
																													rendered="#{!val.get('t').equals('select')}"
																													value=" #{val.get('v')} , " />
																											</ui:repeat>
																										</ui:repeat></td>
																								</tr>
																								<tr>
																									<td style="vertical-align: top;">Бодит <br></br>үзлэг:
																									</td>
																									<td style="padding-bottom: 5px;"><ui:repeat
																											var="value" value="#{detial.checkup}">
																											<ui:repeat var="qu" value="#{value.get('v')}">
																												<h:outputText value=" #{i18n[qu.get('l')]} " />
																												<h:outputText
																													rendered="#{qu.get('t').equals('select') }"
																													value="#{i18n[qu.get('a').get(qu.get('v'))]}," />
																											</ui:repeat>
																										</ui:repeat></td>
																								</tr>
																								<tr>
																									<td style="vertical-align: top;">Онош:</td>
																									<td style="padding-bottom: 5px;"></td>
																								</tr>
																								<tr>
																									<td
																										style="vertical-align: top; padding-right: 5px;">
																										Төлөвлөгөө:</td>
																									<td style="padding-bottom: 5px;"></td>
																								</tr>
																							</table>
																						</div>
																					</p:panel>
																				</div>
																			</ui:repeat>
																		</c:if>
																	</div>
																</p:tab>
																<p:tab title="ENR" id="enrTabViewId">
																	<div class="col-md-12">
																		<p:panel id="pressPanelId">
																			<div id="pressChartId"></div>
																			<script>
																					//<![CDATA[	
																					$( document ).ready(function() {
																						var height= $(window).height()-300;
																		            	$(".heightScrollClass").css("height",height);
																						$("#pressChartId").highcharts({
																							title: {
																						        text: ':Даралтын  диаграмм'
																						    },
																						    yAxis: [ { // Secondary yAxis
																						    	max:200,
																						    	min:0,
																						    	tickInterval:50,
																						        title: {
																						            text: 'Даралт (мм/б)',
																						           
																						        },
																						        
																						        labels: {
																						            format: '{value}',
																						            
																						        }
																	
																						    },
																						    { // Secondary yAxis
																						    	
																						    	min:25,
																						    	tickInterval:5,
																						    	max:45,
																						        title: {
																						            text: 'Халуун',
																						            style: {
																						                color: '#000000'
																						            }
																						        },
																						        labels: {
																						            format: '{value}',
																						            style: {
																						                color: '#000000'
																						            }
																						        },
																						        opposite: true
																						    }],
																						    tooltip: {
																						        headerFormat: '<b>{series.name}</b><br>',
																						        pointFormat: 'Хугацаа: {point.x:%e. %b %H:%M},<br> Тоон утга: {point.y:.2f} <br/>Ажилтны нэр: {point.name}'
																						    },
																	
																						    plotOptions: {
																						        spline: {
																						        	 dataLabels: {
																						                 enabled: true
																						             },
																						            marker: {
																						                enabled: true
																						            }
																						        },
																						        line: {
																						            dataLabels: {
																						                enabled: true
																						            },
																						            enableMouseTracking: false
																						        }
																						    },
																							#{pharmacyController.pressureChart()}
																						   });
																					});
																					
																				 //]]>
																				</script>
																		</p:panel>
																	</div>
																</p:tab>
																<p:tab title="Lab" id="labTabViewId">

																</p:tab>
																<p:tab title="Xray" id="XrayTabViewId">

																</p:tab>
																<p:tab title="Өмнөх жор" id="beforeTabViewId">

																	<p:panel styleClass="no-style-panel dispensePanelClass">
																		<p:treeTable
																			value="#{pharmacyController.pharmacistBeforeTreeNode}"
																			var="bNode">
																			<p:column>
																					  #{bNode.dateTime(bNode.createDate)}
																					 </p:column>
																			<p:column headerText="Эм нэр, Код">
																					  #{bNode.medicineId},
																					  #{bNode.medicineName}
																					</p:column>
																			<p:column headerText="Тун">
																						#{bNode.dose}
																					</p:column>
																			<p:column headerText="M" style="text-align:right">
																				<h:outputLink id="dayId"
																					rendered="#{bNode.medicineM==0 ? false:true}">
																					<i class="fa fa-hand-pointer-o"></i>
																					<p:tooltip id="mmId" for="dayId">
																						<h:outputText
																							value="#{pharmacyController.medicineActing}"
																							escape="false" />
																					</p:tooltip>
																					<p:ajax event="mouseover"
																						listener="#{pharmacyController.pharmacistHover(1,bNode.nursingServiceListPkId)}" />
																				</h:outputLink>
																			</p:column>
																			<p:column headerText="D" style="text-align:right">
																				<h:outputLink id="dId"
																					rendered="#{bNode.medicineD==0 ? false:true}">
																					<i class="fa fa-hand-pointer-o"></i>
																					<p:tooltip id="ddmId" for="dId">
																						<h:outputText value="Захиалсан эмч" escape="false" />
																						<h:outputText value="Тайлбар" escape="false" />
																						<h:outputText value="Сувилагч" escape="false" />
																					</p:tooltip>
																				</h:outputLink>
																			</p:column>
																			<p:column headerText="E" style="text-align:right">
																				<h:outputLink id="eId"
																					rendered="#{bNode.medicineE==0 ? false:true}">
																					<i class="fa fa-hand-pointer-o"></i>
																					<p:tooltip id="emId" for="eId">
																						<h:outputText value="Захиалсан эмч" escape="false" />
																						<h:outputText value="Тайлбар" escape="false" />
																						<h:outputText value="Сувилагч" escape="false" />
																					</p:tooltip>
																				</h:outputLink>
																			</p:column>
																			<p:column headerText="Заавар">
																						#{bNode.medicineDescription}
																					</p:column>
																			<p:column headerText="Төлөв">
																					#{bNode.confirm}
																					</p:column>
																		</p:treeTable>
																	</p:panel>
																</p:tab>
															</p:tabView>
														</p:panel>
													</div>
												</div>
											</div>
										</p:panel>
									</div>
								</p:panel>
							</div>
						</p:panel>
					</div>
				</div>
			</div>
			<p:remoteCommand name="dbClick"
				action="#{pharmacyController.modifiedMedicineDispense(customerMed.customer)}"
				update="form:inpatientPharmacy" />
			<p:remoteCommand name="dbSelect"
				action="#{pharmacyController.modifiedMedicineDispense(pharmacyController.currentMedicineDeispense)}"
				update="form:inpatientPharmacy" />
			<p:remoteCommand name="refreshloadData"
				actionListener="#{pharmacyController.refreshMedicineOcsList()}" update="form:inpatientPharmacy"/>
		</div>
		</section>
	</ui:define>
	<ui:define name="script">
		<script src="#{applicationController.path}js/tableHeadFixer.js"></script>
		<script src="#{applicationController.path}js/highcharts/highcharts.js"></script>
		<script src="#{applicationController.path}js/highcharts/exporting.js"></script>
		<script>
			//<![CDATA[
			$(document).ready(function() {
				refreshloadData();
				var height = $(window).height() - 200;
				$(".heightScrollClass").css("height", height);
				console.log(height);
				
			});

			var refresh = function() {
				var height = $(window).height() - 200;
				$(".heightScrollClass").css("height", height);
			}
			//]]>
		</script>
	</ui:define>

</ui:composition>