<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content">
		<div class="row">
			<div class="col-xs-12 margin-top  margin-bottom">
				<div class="box">
					<div class="box-header">
						<span class="label label-info">Эмийн Жор Баригч</span>
					</div>
					<div class="box-body ">
						<div class="row">
							<div class="col-md-3">
								<div class="box" style="border-right-color: #3c8dbc">
									<div class="box-header with-border">
										<div class="col-md-12">
											<div class="row">
												<h6>
													<b>Өвчтний жагсаалт</b>
												</h6>
											</div>
										</div>
									</div>
									<div class="box-body no-padding margin-top margin-bottom">
										<div class="users-list clearfix">
											<p:dataTable emptyMessage="Хоосон" id="customerlstId"
												value="#{pharmacyController.prescriptionDeispenses}"
												styleClass="myTable selectTable1 col-md-12" var="prescrip"
												rowKey="#{prescrip.invPkId}" selectionMode="single"
												selection="#{pharmacyController.currentMedicineDeispense}">
												<p:ajax event="rowDblselect" onstart="dbSelect();" />
												<p:column headerText="Огноо">#{prescrip.dateTime(prescrip.beginDate)}</p:column>
												<p:column headerText="Овог,нэр" style="text-align:center">
													#{prescrip.customer.lastName.substring(0,1)},
													#{prescrip.customer.firstName}</p:column>
												<p:column headerText="Хүйс"
													style="width:40px;text-align:right">#{prescrip.customer.age}</p:column>
											</p:dataTable>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-8">
								<p:panel styleClass="no-style-panel" id="customerinfoId">
									<div class="box ">
										<div class="box-header with-border"
											style="border-bottom-color: #f1b9b9">
											<div class="col-md-12">
												<div class="row">
													<h6>
														<b>Өвчтний дэлгэрэнгүй мэдээлэл</b>
													</h6>
												</div>
												<div class="row">
													<div class="col-md-4">Нас хүйс:
														#{pharmacyController.currentCustomer.age}</div>
													<div class="col-md-4">Нэр:
														#{pharmacyController.currentCustomer.firstName}</div>
													<div class="col-md-4">Утас:
														#{pharmacyController.currentCustomer.phoneNumber}</div>
												</div>

												<div class="row">
													<div class="col-md-4">Өрөөний №:
														#{pharmacyController.currentMedicineDeispense.roomNo}</div>
													<div class="col-md-4">Тасаг:
														#{pharmacyController.currentMedicineDeispense.subName}</div>
													<div class="col-md-4">Хэвтсэн огноо:
														#{pharmacyController.currentMedicineDeispense.beginDate}</div>

												</div>

												<div class="row">
													<div class="col-md-4">Хэвтсэн өдөр: 21</div>
													<div class="col-md-4">Онош: G25D</div>
													<div class="col-md-4">Төлбөрийн хэлбэр:</div>
												</div>


											</div>
										</div>
										<div class="box-body no-padding margin-top margin-bottom">
											<div class="users-list clearfix">
												<div class="row margin-bottom">
													<p:calendar
														styleClass="col-md-1 flex-center-self date-control"
														pattern="yyyy-MM-dd"
														value="#{pharmacyController.presBeginDate}" navigator="true">
														<p:ajax event="dateSelect" listener="#{pharmacyController.prescriptionLoad()}" update="form:packagelstId"/>
														</p:calendar>
													<p:calendar
														styleClass="col-md-1 flex-center-self date-control"
														pattern="yyyy-MM-dd" style="margin-left:10px !important;"
														value="#{pharmacyController.presEndDate}" navigator="true">
														<p:ajax event="dateSelect" listener="#{pharmacyController.prescriptionLoad()}" update="form:packagelstId"/>
														</p:calendar>
												</div>
												<p:dataTable emptyMessage="Хоосон" id="packagelstId"
													value="#{pharmacyController.prescriptionMedicines}"
													styleClass="myTable col-md-12 heightScrollClass"
													resizableColumns="true" var="medicine"
													style="text-align:center;overflow-y: auto;height:200px;">
													<p:column headerText="Огноо" style="text-align:center">
														#{medicine.dateTime(medicine.invoiceDtl.invDate)}
													</p:column>
													<p:column headerText="Эм нэр ,код"
														style="text-align:center">
														#{medicine.medicineName},#{medicine.medicineId}
													</p:column>
													<p:column headerText="Жор шалгасан эм зүйч"
														style="text-align:right">
														#{medicine.employeeName}
													</p:column>
													<p:column headerText="Захиалсан тоо"
														style="text-align:right">
														#{medicine.invoiceDtl.orderQty}
													</p:column>
													
													<p:column headerText="Тун"
														style="text-align:center">
														#{medicine.dose}
													</p:column>
													
													<p:column headerText="Заавар"
														style="text-align:center">
														#{medicine.invoiceDtl.itemDescription}
													</p:column>

													<p:column headerText="Баталгаажсан тоо"
														style="text-align:right">
														#{medicine.invoiceDtl.qty}
													</p:column>
													<p:column headerText="савлах" style="text-align:right;">
														<p:selectBooleanCheckbox
															value="#{medicine.invoiceDtl.packageCheck}">
															<p:ajax event="change"
																listener="#{pharmacyController.packageMedicine(medicine.invoiceDtl)}"
																update="form:packagelstId" />
														</p:selectBooleanCheckbox>
													</p:column>
												</p:dataTable>
											</div>
										</div>
									</div>
									<div class="col-md-12 margin-top">
										<p:commandLink styleClass="label label-success pull-right"
											style="margin-left:10px;" value="Хадгалах"
											actionListener="#{pharmacyController.sendToAccountSave()}"
											update="form:packagelstId" />
										<p:commandLink styleClass="label label-primary pull-right"
											value="Хэвлэх" onclick="print1('medicinePrintId')"
											actionListener="#{pharmacyController.medicinePrint()}"
											update="form:pharmacyPrintId" />
									</div>
									<div class="col-md-12">
										<p:panel styleClass="no-style-panel" id="pharmacyPrintId">
											<div id="medicinePrintId" style="width: 100%">
												<div style="position: absolute; left: -1px; top: 5px">
													<span>Өвчтний №: #{pharmacyController.currentCustomer.cardNumber}</span><br/>
													Овог нэр:
													#{pharmacyController.currentCustomer.lastName.substring(0,1)}.#{pharmacyController.currentCustomer.firstName}
													<br/>
													<span>Өрөө №: #{pharmacyController.currentMedicineDeispense.roomNo}</span> 
													<span style="margin-left:5px;">Орны №: #{pharmacyController.currentMedicineDeispense.bedNumber}</span><br/>
													<p:panel id="medicinePanelId">
													  <ui:repeat var="medicine"
														value="#{pharmacyController.medicinePackgePrints}">
														<span>#{medicine.type=='INJECTION' ? 'Эмийн':'Тарианы'} нэр: #{medicine.medicineName}</span><br/>
														<span>#{medicine.type=='INJECTION' ? 'Эмийн':'Тарианы'} тун: #{medicine.dose}</span><br/>
														<span>Заавар: #{medicine.invoiceDtl.itemDescription}</span><br/>
													</ui:repeat>
													 </p:panel>
												</div>
											</div>
										</p:panel>
									</div>
								</p:panel>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<p:remoteCommand name="loadData"
			actionListener="#{pharmacyController.prescriptionData()}"
			update="form:customerlstId" />
		<p:remoteCommand name="dbSelect"
			actionListener="#{pharmacyController.prescriptionModified(pharmacyController.currentMedicineDeispense)}"
			update="form:customerinfoId" />
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
			$(document).ready(function() {
				loadData();

			});

			var refresh = function() {
				var height = $(window).height() - 200;
				$(".heightScrollClass").css("height", height);
			}
			//]]>
		</script>
	</ui:define>
</ui:composition>