<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content" style="min-height:165px;">
		<div class="col-md-3 margin-top">
			<p:panel styleClass="panel-style" header="#{i18n['pharmacy']}"
				id="pharmacyId" style="height: auto;">
				<div class="row">
					<div class="col-md-12">
						<div style="display: table; width: 100%;">
							<div style="display: table-row; width: 100%;">
								<div style="display: table-cell; width: 140px;">
									<h:graphicImage id="image" width="100" height="100"
											value="#{pharmacyController.currentCustomer.customerImage}"
											style="margin: 0 auto;display:block" />
									<div class="clearfix" />
								</div>
								<div style="display: table-cell; vertical-align: top">
									<div class="row">
										<div class="col-md-12">
											<div class="col-md-4">
												<label>№:</label>
											</div>
											<div class="col-md-6">
												<h:outputText
													value="#{pharmacyController.currentCustomer.cardNumber}" />
											</div>
										</div>
										<div class="col-md-12">
											<div class="col-md-4">
												<label>Овог:</label>
											</div>
											<div class="col-md-6">
												<h:outputText
													value="#{pharmacyController.currentCustomer.lastName}" />
											</div>
										</div>
										<div class="col-md-12">
											<div class="col-md-4">
												<label>Нэр:</label>
											</div>
											<div class="col-md-6">
												<h:outputText
													value="#{pharmacyController.currentCustomer.firstName}" />
											</div>
										</div>
										<div class="col-md-12">
											<div class="col-md-4">
												<label>РД:</label>
											</div>
											<div class="col-md-6">
												<h:outputText
													value="#{pharmacyController.currentCustomer.regNumber}" />
											</div>
										</div>

										<div class="col-md-12">
											<div class="col-md-4">
												<label>Нас,хүйс:</label>
											</div>
											<div class="col-md-6">
												<h:outputText
													value="  #{pharmacyController.currentCustomer.age} ,
														#{pharmacyController.currentCustomer.gender == 0 ? 'Эм' : 'Эр'}" />
											</div>
										</div>

										<div class="col-md-12">
											<div class="col-md-4">
												<label>Утас:</label>
											</div>
											<div class="col-md-6">
												<h:outputText
													value="#{pharmacyController.currentCustomer.phoneNumber}" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							Хаяг:
							<h:outputText
								value="#{pharmacyController.currentCustomer.district}" />
							,
							<h:outputText
								value="#{pharmacyController.currentCustomer.building}" />
						</div>
						<div class="col-md-12">
							Харшил :
							<h:outputText
								value="#{pharmacyController.currentMedicineDeispense.customerPastHistory.allergy==0 ? 'Харшилгүй':'Харшилтай'}" />
							, <span
								style="display: #{pharmacyController.currentMedicineDeispense.customerPastHistory.allergy eq 0? 'none': 'block'}">
								#{pharmacyController.currentMedicineDeispense.customerPastHistory.allergyFood}
								#{pharmacyController.currentMedicineDeispense.customerPastHistory.allergyMedicine}
								#{pharmacyController.currentMedicineDeispense.customerPastHistory.allergyOther}
							</span>
						</div>
					</div>
				</div>
			</p:panel>
		</div>
		<div class="col-md-8 margin-top">
			<p:panel styleClass="panel-style">
				<div class="row">
					<div class="col-md-12">
						<p:dataTable emptyMessage="Хоосон байна"
							scrollable="true" scrollHeight="110" resizableColumns="true"
							value="#{pharmacyController.selectCustomerDiagnoseList}"
							var="diagnose">
							<p:column headerText="Код" style=" width:15px">#{diagnose.id}</p:column>
							<p:column headerText="ICD нэр" style=" width:100px" >#{diagnose.nameMn}</p:column>
							<p:column headerText="Огноо" style=" width:15px"></p:column>
						</p:dataTable>
					</div>
				</div>
			</p:panel>
		</div>
		<div class="col-md-1 margin-top">
			<div class="row">
				<div class="col-md-12 margin-bottom">
					<p:commandLink styleClass="btn btn-primary blue"
						style="width:104px"
						actionListener="#{pharmacyController.examinationResult()}"
						oncomplete="PF('examinationDialog').show(); "
						update="@(.examinationPanel)">Шинж хариу</p:commandLink>
				</div>
				<div class="col-md-12 margin-bottom">
					<p:commandLink styleClass="btn btn-primary blue">Даралт,Халуун</p:commandLink>
				</div>
				<div class="col-md-12 margin-bottom">
					<p:commandLink styleClass="btn btn-primary blue"
						style="width:104px">Тэмдэглэл</p:commandLink>
				</div>
				<div class="col-md-12 margin-bottom">
					<p:commandLink styleClass="btn btn-primary blue" actionListener="#{pharmacyController.customerMedicineCtPage()}"
						style="width:104px" oncomplete="PF('medicineBlank').show();" update="@(.medicinePanel)">Ct-1 хавсралт</p:commandLink>
				</div>
			</div>
		</div>
		</section>
		<section class="content">
		<div class="margin-top">
			<div class="col-md-12">
				<p:panel styleClass="panel-style" id="pharmaId"
					header="Эм  олгох  бүртгэл">
					<div class="row margin-bottom">
						<div class="col-md-6 margin-bottom">
							<p:selectOneMenu filter="true"
								value="#{pharmacyController.subOrganizationPkId}">
								<f:selectItem itemLabel="Бүх кабинет" itemValue="1" />
								<f:selectItems value="#{pharmacyController.listSubOrganization}"
									var="sub" itemLabel="#{sub.name}" itemValue="#{sub.pkId}" />
								<p:ajax event="change"
									listener="#{pharmacyController.modifiedMedicineDispense()}"
									update="form:pharmacyMedId" />
							</p:selectOneMenu>
							<p:selectOneMenu style="width:125px;margin-left:20px"
								filter="true" value="#{pharmacyController.employeePkId}">
								<f:selectItem itemLabel="Бүх эмч" itemValue="0" />
								<f:selectItems value="#{pharmacyController.employeeList}"
									var="emp" itemLabel="#{emp.employee.firstName}"
									itemValue="#{emp.employee.pkId}" />
								<p:ajax event="change"
									listener="#{pharmacyController.modifiedMedicineDispense()}"
									update="form:pharmacyMedId" />
							</p:selectOneMenu>

						</div>
						<div class="col-md-6" style="border: none">
							<p:selectOneRadio layout="grid" columns="6"
								styleClass="margin-bottom"
								value="#{pharmacyController.selectDateValue}">
								<f:selectItem itemLabel="одоогийн" itemValue="5" />
								<f:selectItem itemLabel="1 сар" itemValue="4" />
								<f:selectItem itemLabel="3 сар" itemValue="3" />
								<f:selectItem itemLabel="6 сар" itemValue="2" />
								<f:selectItem itemLabel="1 жил" itemValue="1" />
								<f:selectItem itemLabel="Бүх" itemValue="0" />
								<p:ajax event="change"
									listener="#{pharmacyController.modifiedMedicineDispense()}"
									update="form:pharmacyMedId" />
							</p:selectOneRadio>
						</div>
					</div>
					<p:panel styleClass="no-style-panel " id="pharmacyMedId">
						<ui:repeat var="pharm"
							value="#{pharmacyController.lstMedicineDates}">
						 <p:panel  rendered="#{pharm.listCustomerDipenses.size()==0  ?  'false':'true'}">
						  <div class="row margin-bottom">
								<div class="col-md-12" style="font-weight: 700">
									<h:outputText value="Кабинет:#{pharm.subName}" />
									<h:outputText value="Эмч: #{pharm.employeeName} "
										style="margin-left:20px" />
									<h:outputText
										value="Огноо: #{pharmacyController.getDateConvert(pharm.createDate)}"
										style="margin-left:20px" />
								</div>
							</div>
							<p:remoteCommand name="changeTotals" update="@(.lastValueClass)" />
							<p:dataTable emptyMessage="Хоосон" styleClass="myTable " id="myTableId"
								resizableColumns="true" value="#{pharm.listCustomerDipenses}"
								var="lp" rowIndexVar="index" style="width:100%">
								<p:column headerText="№" style="text-align:center;width:10px">#{index+1}</p:column>
								<p:column headerText="Олон улсын нэр" style="width:80px">#{lp.iNameMedicine}</p:column>
								<p:column headerText="Худалдааны нэр" style="width:100px"> #{lp.medicineName}</p:column>
								<p:column headerText="Хэлбэр"
									style="text-align:center;width:30px"></p:column>
								<p:column headerText="Тун" style="text-align:center;width:30px">#{lp.customerMedicine.dose}</p:column>
								<p:column headerText="Давтамж"
									style="text-align:center;width:30px">#{lp.customerMedicine.time}</p:column>
								<p:column headerText="Заавар"
									style="text-align:center;width:30px">#{lp.customerMedicine.medicineDescription}</p:column>
								<p:column headerText="Захиалсан тоо"
									style="text-align:center;width:30px">#{lp.customerMedicine.repeatCount}</p:column>
								<p:column headerText="Олгох тоо"
									style="text-align:center;width:30px">
									<p:inputNumber style="width:40px;text-align:center" styleClass="totalClass"
										decimalPlaces="0" value="#{lp.countMedicineCustomerOrder}"
										disabled="#{lp.customerMedicine.repeatCount == lp.customerMedicine.dispenseCount ? 'true':'false'}">
										<p:ajax event="change" process="@this" listener="#{pharmacyController.changeTotal(lp)}" update="@(.totalClass) @(.lastValueClass)"/>
										</p:inputNumber>
										
								</p:column>

								<p:column headerText="Үлдэгдэл"
									style="text-align:center;width:30px">
									<p:outputLabel 
										value="#{lp.customerMedicine.repeatCount-lp.customerMedicine.dispenseCount} "
										styleClass=" label label-danger lastValueClass " />
								</p:column>
								<p:column headerText="Олгосон тоо"
									style="text-align:center;width:30px">
									 <p:outputLabel styleClass="label label-success" value="#{lp.customerMedicine.dispenseCount}"/>
								</p:column>
							</p:dataTable>
						  </p:panel>
						</ui:repeat>

					</p:panel>
				</p:panel>

				<div class="margin-top margin-bottom">
					<p:commandLink styleClass="btn btn-primary pull-right"
						action="#{pharmacyController.updateCustomerMedicine()}">Хадгалах</p:commandLink>
				</div>
			</div>
		</div>
		<p:dialog widgetVar="medicineBlank" width="auto" height="auto"
			modal="true" header="Эмийн  хуудас" resizable="false">
			<p:scrollPanel style="width:950px;height:600px">
			<p:panel styleClass="no-style-panel medicinePanel">
				 <table style="width: 100%" cellpadding="0" cellspacing=" ">
					<caption style="text-align:center"> <em>Эмчлүүлэгчийн
							хэрэглэсэн эмийн хуудас</em> </caption>
					<thead>
					
					 <tr>
					 <th rowspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">№</th>
						<th rowspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">Эмийн
							нэр</th>
						<th rowspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">Тун</th>
						<th rowspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">Хэрэглэх
							арга</th>
						<th 
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;"
							colspan="64">Он сар өдөр</th>
						<th rowspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">Нийт
							хэрэглэсэн эмийн тоо</th>
						<th rowspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">Нэг
							бүрийн үнэ</th>
						<th rowspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">Нийт
							үнэ</th>
					</tr>
					<tr>
					 <ui:repeat var="ls" value="#{pharmacyController.listCustomerMedicineCt}">
						<td colspan="3"
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">
							#{pharmacyController.getDateConvert(ls.createDate)}</td>
					  </ui:repeat>
					  </tr>
					<tr>
					<ui:repeat var="ls" value="#{pharmacyController.listCustomerMedicineCt}">
						<td
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">ө</td>
						<td
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">ө</td>
						<td
							style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">о</td>
						 </ui:repeat>
							</tr>
					 </thead>
				<tbody>
							 <ui:repeat var="ct" value="#{pharmacyController.listCustomerMedicineCt}">
							  <ui:repeat var="cd" value="#{ct.listCreateDate}">
							   <tr>
							     <td style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">#{index.index+1}</td>
							 	<td style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">#{cd.medicineName}</td>
							 	<td style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">#{lst.customerMedicine.dose}</td>
							 	<td style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">#{lst.customerMedicine.medicineDescription}</td>
							  <ui:repeat var="ct" value="#{pharmacyController.listCustomerMedicineCt}">
							    <td style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">#{cd.medicineM}</td>
								 <td style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">#{cd.medicineD}</td>
								 <td style="text-align: center; border: 1px solid black; border-collapse: collapse; padding: 5px;">#{cd.medicineE}</td>
							  </ui:repeat>
							    </tr>
							   </ui:repeat>
							  </ui:repeat>
				</tbody>
					
				</table>
			</p:panel>
		</p:scrollPanel>
		</p:dialog> <p:dialog widgetVar="examinationDialog" height="600" width="600"
			header="Шинжилгээний хариу" resizable="false" modal="true" styleClass="dialog-scroll">
			
				<p:panel styleClass="no-style-panel examinationPanel">
					<ui:repeat var="cusExam"
						value="#{pharmacyController.customerExaminations}">
						<p:commandLink styleClass="btn btn-primary"
							action="#{pharmacyController.getExaminationResult(cusExam)}">
		    			#{cusExam.examinationName}(#{cusExam.count})</p:commandLink>
					</ui:repeat>
				</p:panel>
				<p:panel styleClass="no-style-panel " id="examnationHdrId">
					<div class="ui-datatable ui-widget myTable">
						<div class="ui-datatable-tablewrapper">
							<table>
								<thead id="form:examination-info_head">
									<tr>
										<th class="ui-state-default id"><span>Элемент</span></th>
										<th class="ui-state-default id"><span>Лавлах
												хэмжээ</span></th>
										<th class="ui-state-default id"><span>Нэгж</span></th>
										<ui:repeat var="req"
											value="#{pharmacyController.currentCustomerExaminations}">
											<th class="ui-state-default date-time"><span>#{pharmacyController.getDateConvert(req.createdDate)}</span>
											</th>
										</ui:repeat>
									</tr>
								</thead>
								<tbody id="form:examination-info_data"
									class="ui-datatable-data ui-widget-content">

									<ui:repeat var="result"
										value="#{pharmacyController.examinationResult}">

										<tr class="ui-widget-content ui-datatable-even">
											<td class="text">#{result.evqName}</td>
											<td class="text">#{result.range}</td>
											<td class="text">#{result.measurement}</td>
											<ui:repeat var="value" value="#{result.values}">
												<td class="short-number">#{value}</td>
											</ui:repeat>
										</tr>

									</ui:repeat>
								</tbody>
							</table>
						</div>
					</div>
				</p:panel>
		</p:dialog> </section>
	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
			var changeTotal = function() {
				changeTotalRefresh();
				console.log("asdasd");
			}

			//]]>
		</script>
	</ui:define>

</ui:composition>