<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	template="../template/template.xhtml">
	<ui:define name="content">
		<section class="content-header">
			<h1>Эм</h1>
			<div class="col-md-6">
				<p:commandLink styleClass="btn" actionListener="#{infoController.loadItem}">
					<i class="fa fa-check" />Мэдээлэл шинэчлэх
				</p:commandLink>
			</div>
			<div class="col-md-6">
			<ol class="breadcrumb">
				<li class="active">Эмийн</li>
				<li class="active">Жагсаалт</li>
			</ol>
			</div>
		</section>

		<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Эмнэлгийн хэрэгслийн жагсаалт</h3>
					</div>			
					<div class="box-body">
						<p:dataTable id="itemList" styleClass="myTable"
							emptyMessage="#{i18n['empty']}"
							value="#{infoController.listItem}" var="info"
							rowIndexVar="index" paginator="true" rows="25"
							rowsPerPageTemplate="30,45,60" paginatorAlwaysVisible="false" >
							<p:column styleClass="index" headerText="№">
								<h:outputText value="#{index+1}" />
							</p:column>							
							<p:column styleClass="text" headerText="Код">
								<h:outputText value="#{info.id}" />
							</p:column>
							<p:column styleClass="text" headerText="Нэр">
								<h:outputText value="#{info.name}" />
							</p:column>
							<p:column styleClass="text" headerText="Үнэ">
								<h:outputText value="#{info.entityPrice}" />
							</p:column>
							<p:column styleClass="text" headerText="Хэмжих нэгж">
								<h:outputText value="#{info.measurementName}" />
							</p:column>
							<p:column styleClass="text" headerText="Үнэ эхлэх огноо">
								<h:outputText value="#{info.priceUsageDate}" ><f:convertDateTime pattern="yyyy/MM/dd"></f:convertDateTime></h:outputText>
							</p:column>
							<p:column styleClass="button-icon" headerText="#{i18n['edit']}">
								<p:commandLink styleClass="fa fa-fw fa-edit color-blue"
									action="#{infoController.modifiedMedicine(info)}"></p:commandLink>
							</p:column>
						</p:dataTable>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
		</div>
		</section>
		
		<p:remoteCommand name="loadData"
			actionListener="#{infoController.refreshItemList}"
			update="form:itemList" />

	</ui:define>
	<ui:define name="script">
		<script>
			//<![CDATA[
			$(document).ready(function() {
				loadData();
				chosen();
			});
			function start() {
			    PF('statusDialog').show();
			}
			 
			function stop() {
			    PF('statusDialog').hide();
			}
			function chosen() {
				var config = {
					'.chosen-select' : {},
					'.chosen-select-deselect' : {
						allow_single_deselect : true
					},
					'.chosen-select-no-single' : {
						disable_search_threshold : 10
					},
					'.chosen-select-no-results' : {
						no_results_text : 'Oops, nothing found!'
					},
					'.chosen-select-width' : {
						width : "95%"
					}
				}
				for ( var selector in config) {
					$(selector).chosen(config[selector]);
				}
			}

			function calendarControl() {
			}
			//]]>
		</script>
	</ui:define>
</ui:composition>